automation/n8n-workflows/TG-09-followup-sequences.json
{
  "name": "TG-09-followup-sequences",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 15 * * *" }] } },
      "id": "schedule",
      "name": "Daily 10am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?status=neq.converted&email=not.is.null&select=id,first_name,email,phone,service,lead_score,created_at,source",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-leads",
      "name": "Fetch Active Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends?workflow_name=eq.followup_sequence&select=contact_email,email_type,sent_at",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-sent-history",
      "name": "Fetch Sent History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 500]
    },
    {
      "parameters": {
        "jsCode": "const leads = $('Fetch Active Leads').all().map(i => i.json);\nconst sentHistory = $('Fetch Sent History').all().map(i => i.json);\n\n// Build dedup set: \"email|email_type\"\nconst alreadySent = new Set();\nfor (const s of sentHistory) {\n  if (s.contact_email && s.email_type) {\n    alreadySent.add(s.contact_email + '|' + s.email_type);\n  }\n}\n\nconst results = [];\nfor (const lead of leads) {\n  if (!lead.email) continue;\n  const days = Math.floor((Date.now() - new Date(lead.created_at)) / (1000*60*60*24));\n  const score = lead.lead_score || 0;\n  let tier = score >= 70 ? 'hot' : score >= 40 ? 'warm' : 'cold';\n  let sendDay = false;\n  if (tier === 'hot' && [1,3,5].includes(days)) sendDay = true;\n  if (tier === 'warm' && [2,5,10].includes(days)) sendDay = true;\n  if (tier === 'cold' && [3,7,14,30].includes(days)) sendDay = true;\n  if (!sendDay) continue;\n\n  const emailType = 'followup_' + tier + '_day' + days;\n\n  // Dedup: skip if already sent this exact email to this lead\n  if (alreadySent.has(lead.email + '|' + emailType)) continue;\n\n  const subjects = {\n    hot: ['Your TotalGuard quote is ready, ' + lead.first_name, 'Still thinking it over? We saved your spot', 'Final notice: lock in your lawn care rate'],\n    warm: ['Madison lawn tips \\u2014 from TotalGuard', 'How TotalGuard protects your lawn all season', 'Your neighbors are loving their TotalGuard service'],\n    cold: ['Free lawn care tips from TotalGuard', 'Seasonal reminder from TotalGuard Yard Care', 'When you\\'re ready, we\\'re here']\n  };\n  const seqIdx = tier === 'hot' ? [1,3,5].indexOf(days) : tier === 'warm' ? [2,5,10].indexOf(days) : [3,7,14,30].indexOf(days);\n  const subject = subjects[tier][Math.min(seqIdx, subjects[tier].length-1)];\n  results.push({ json: { ...lead, tier, days, subject, emailType, seqStep: seqIdx + 1 } });\n}\nreturn results;"
      },
      "id": "filter-leads",
      "name": "Filter and Dedup Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api-key", "value": "={{$vars.TG_BREVO_API_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" }, \"to\": [{ \"email\": \"{{ $json.email }}\", \"name\": \"{{ $json.first_name }}\" }], \"subject\": \"{{ $json.subject }}\", \"textContent\": \"Hi {{ $json.first_name }},\\n\\nThanks for your interest in TotalGuard Yard Care! We'd love to get your {{ $json.service || 'yard' }} looking its best.\\n\\nBook online at tgyardcare.com or call (608) 535-6057.\\n\\n- The TotalGuard Team\" }"
      },
      "id": "send-followup",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_email\": \"{{ $json.email }}\",\n  \"workflow_name\": \"followup_sequence\",\n  \"email_type\": \"{{ $json.emailType }}\",\n  \"sequence_step\": {{ $json.seqStep }}\n}"
      },
      "id": "log-send",
      "name": "Log to email_sends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/sequence_enrollments?on_conflict=contact_email,sequence_name",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "resolution=merge-duplicates" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_email\": \"{{ $json.email }}\",\n  \"sequence_name\": \"followup_sequence\",\n  \"current_step\": {{ $json.seqStep }},\n  \"status\": \"active\"\n}"
      },
      "id": "upsert-enrollment",
      "name": "Upsert Enrollment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 10am CT": { "main": [[{ "node": "Fetch Active Leads", "type": "main", "index": 0 }, { "node": "Fetch Sent History", "type": "main", "index": 0 }]] },
    "Fetch Active Leads": { "main": [[{ "node": "Filter and Dedup Leads", "type": "main", "index": 0 }]] },
    "Fetch Sent History": { "main": [[{ "node": "Filter and Dedup Leads", "type": "main", "index": 0 }]] },
    "Filter and Dedup Leads": { "main": [[{ "node": "Send Follow-up Email", "type": "main", "index": 0 }]] },
    "Send Follow-up Email": { "main": [[{ "node": "Log to email_sends", "type": "main", "index": 0 }]] },
    "Log to email_sends": { "main": [[{ "node": "Upsert Enrollment", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true }
}
