automation/n8n-workflows/TG-01-lead-capture.json
{
  "name": "TG-01-lead-capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "lead-capture-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "tg-lead-capture"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "first_name",
              "name": "first_name",
              "value": "={{ $json.first_name || $json.firstName || '' }}",
              "type": "string"
            },
            {
              "id": "last_name",
              "name": "last_name",
              "value": "={{ $json.last_name || $json.lastName || '' }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ ($json.email || '').toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ ($json.phone || '').replace(/[^\\d+]/g, '') }}",
              "type": "string"
            },
            {
              "id": "service",
              "name": "service",
              "value": "={{ $json.service || $json.services || '' }}",
              "type": "string"
            },
            {
              "id": "address",
              "name": "address",
              "value": "={{ $json.address || '' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.source || 'website' }}",
              "type": "string"
            },
            {
              "id": "utm_source",
              "name": "utm_source",
              "value": "={{ $json.utm_params && $json.utm_params.utm_source ? $json.utm_params.utm_source : ($json.utm_source || '') }}",
              "type": "string"
            },
            {
              "id": "utm_medium",
              "name": "utm_medium",
              "value": "={{ $json.utm_params && $json.utm_params.utm_medium ? $json.utm_params.utm_medium : ($json.utm_medium || '') }}",
              "type": "string"
            },
            {
              "id": "utm_campaign",
              "name": "utm_campaign",
              "value": "={{ $json.utm_params && $json.utm_params.utm_campaign ? $json.utm_params.utm_campaign : ($json.utm_campaign || '') }}",
              "type": "string"
            },
            {
              "id": "utm_term",
              "name": "utm_term",
              "value": "={{ $json.utm_params && $json.utm_params.utm_term ? $json.utm_params.utm_term : ($json.utm_term || '') }}",
              "type": "string"
            },
            {
              "id": "utm_content",
              "name": "utm_content",
              "value": "={{ $json.utm_params && $json.utm_params.utm_content ? $json.utm_params.utm_content : ($json.utm_content || '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-lead-data",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nlet score = 0;\nconst factors = [];\n\n// Source quality\nconst source = (lead.source || '').toLowerCase();\nif (source === 'referral') { score += 30; factors.push('Referral source (+30)'); }\nelse if (source === 'organic' || source === 'seo') { score += 25; factors.push('Organic source (+25)'); }\nelse if (source.includes('paid') || source.includes('google_ads') || source.includes('ppc') || source.includes('lsa')) { score += 20; factors.push('Paid source (+20)'); }\nelse if (source === 'manual') { score += 15; factors.push('Manual entry (+15)'); }\nelse { score += 10; factors.push('Other source (+10)'); }\n\n// Contact completeness\nif (lead.phone) { score += 5; factors.push('Has phone (+5)'); }\nif (lead.email) { score += 5; factors.push('Has email (+5)'); }\nif (lead.address) { score += 5; factors.push('Has address (+5)'); }\n\n// High-value service detection\nconst service = (lead.service || '').toLowerCase();\nconst highValueServices = ['hardscaping', 'commercial', 'patio', 'retaining wall', 'landscape design', 'irrigation', 'outdoor kitchen'];\nconst midValueServices = ['fertilization', 'aeration', 'overseeding', 'mowing', 'lawn care', 'lawn maintenance'];\nconst cleanupServices = ['cleanup', 'leaf', 'mulch', 'gutter', 'snow'];\nif (highValueServices.some(s => service.includes(s))) {\n  score += 20; factors.push('High-value service (+20)');\n} else if (midValueServices.some(s => service.includes(s))) {\n  score += 10; factors.push('Mid-value service (+10)');\n} else if (cleanupServices.some(s => service.includes(s))) {\n  score += 5; factors.push('Cleanup service (+5)');\n}\n\n// Core service area detection\nconst address = (lead.address || '').toLowerCase();\nconst coreAreas = ['madison', 'middleton', 'fitchburg', 'verona', 'waunakee', 'deforest', 'sun prairie', 'stoughton', 'monona', 'mcfarland'];\nif (coreAreas.some(a => address.includes(a))) {\n  score += 5; factors.push('Core service area (+5)');\n}\n\nconst finalScore = Math.min(score, 100);\n\nlet lead_tier = 'cold';\nif (finalScore >= 70) lead_tier = 'hot';\nelse if (finalScore >= 50) lead_tier = 'warm';\nelse if (finalScore >= 30) lead_tier = 'standard';\n\nreturn {\n  json: {\n    ...lead,\n    lead_score: finalScore,\n    lead_tier: lead_tier,\n    score_factors: factors\n  }\n};"
      },
      "id": "score-lead",
      "name": "Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.TG_SUPABASE_URL}}/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.TG_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"service\": \"{{ $json.service }}\",\n  \"address\": \"{{ $json.address }}\",\n  \"source\": \"{{ $json.source }}\",\n  \"utm_source\": \"{{ $json.utm_source }}\",\n  \"utm_medium\": \"{{ $json.utm_medium }}\",\n  \"utm_campaign\": \"{{ $json.utm_campaign }}\",\n  \"utm_term\": \"{{ $json.utm_term }}\",\n  \"utm_content\": \"{{ $json.utm_content }}\",\n  \"lead_score\": {{ $json.lead_score }},\n  \"lead_tier\": \"{{ $json.lead_tier }}\",\n  \"status\": \"new\"\n}",
        "options": {}
      },
      "id": "insert-supabase-lead",
      "name": "Insert Supabase Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const leadData = $('Score Lead').first().json;\nconst insertResult = $input.first().json;\nconst lead_id = Array.isArray(insertResult) ? (insertResult[0] && insertResult[0].id) : (insertResult && insertResult.id);\n\nreturn {\n  json: {\n    ...leadData,\n    lead_id: lead_id || null\n  }\n};"
      },
      "id": "extract-lead-id",
      "name": "Extract Lead ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$vars.TG_BREVO_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"attributes\": {\n    \"FIRSTNAME\": \"{{ $json.first_name || '' }}\",\n    \"LASTNAME\": \"{{ $json.last_name || '' }}\",\n    \"SMS\": \"{{ $json.phone || '' }}\",\n    \"LEAD_SOURCE\": \"{{ $json.source || 'website' }}\",\n    \"LEAD_SCORE\": {{ $json.lead_score || 0 }},\n    \"LEAD_TIER\": \"{{ $json.lead_tier || 'cold' }}\",\n    \"SERVICE_INTEREST\": \"{{ $json.service || '' }}\"\n  },\n  \"listIds\": [1],\n  \"updateEnabled\": true\n}",
        "options": {}
      },
      "id": "sync-brevo-contact",
      "name": "Sync Brevo Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Extract Lead ID').first().json;\n\nreturn {\n  json: {\n    success: true,\n    lead_id: data.lead_id,\n    score: data.lead_score,\n    tier: data.lead_tier\n  }\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "phone-not-empty",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-phone",
      "name": "IF Has Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst name = lead.first_name || 'there';\nconst service = lead.service || 'yard care';\nconst msg = `Hi ${name}! Thanks for requesting a ${service} quote from TotalGuard Yard Care. We'll get back to you ASAP — usually within the hour! Questions? Call us: (608) 535-6057`;\nreturn [{ json: { to_phone: lead.phone, message_body: msg, workflow_name: 'TG-01', message_type: 'lead_confirmation' } }];"
      },
      "id": "build-sms-body",
      "name": "Build SMS Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -300
      ]
    },
    {
      "parameters": {
        "source": "id",
        "workflowId": "AprqI2DgQA8lehij",
        "options": {}
      },
      "id": "send-sms-tg94",
      "name": "Send SMS via TG-94",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1540,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst name = `${lead.first_name || ''} ${lead.last_name || ''}`.trim() || 'Unknown';\nconst phone = lead.phone || 'No phone';\nconst email = lead.email || 'No email';\nconst service = lead.service || 'Not specified';\nconst source = lead.source || 'website';\nconst score = lead.lead_score || 0;\nconst tier = lead.lead_tier || 'unknown';\nconst tierEmoji = tier === 'hot' ? '\\ud83d\\udd25' : tier === 'warm' ? '\\ud83d\\udfe1' : '\\ud83d\\udd35';\nconst time = new Date().toLocaleString('en-US', { timeZone: 'America/Chicago', hour: 'numeric', minute: '2-digit', hour12: true });\n\nconst cleanPhone = phone.replace(/[^+\\d]/g, '');\nconst msg = `\\ud83d\\udea8 NEW LEAD\\n\\n\\ud83d\\udc64 ${name}\\n\\ud83d\\udcf1 ${phone}\\n\\ud83d\\udce7 ${email}\\n\\ud83d\\udd27 ${service}\\n\\ud83d\\udccd Source: ${source}\\n${tierEmoji} Score: ${score} (${tier})\\n\\u23f0 ${time}\\n\\n\\ud83d\\udcde Tap to call: tel:${cleanPhone}`;\n\nreturn [{ json: { chatId: 'OWNER_TELEGRAM_CHAT_ID', text: msg } }];"
      },
      "id": "build-telegram-alert",
      "name": "Build Telegram Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -600
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "send-telegram-alert",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        -600
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-not-empty",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-email",
      "name": "IF Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        -900
      ]
    },
    {
      "parameters": {
        "jsCode": "function buildEmailHtml(options) {\n  const { subject, headline, bodyHtml, ctaText, ctaUrl, previewText } = options;\n  return `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>${subject}</title></head><body style=\"margin:0;padding:0;background-color:#f5f5f0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\"><span style=\"display:none;max-height:0;overflow:hidden;\">${previewText || ''}</span><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f0;\"><tr><td align=\"center\" style=\"padding:20px;\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\"><tr><td style=\"background:#2D5A27;padding:20px 30px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#ffffff;font-size:20px;font-weight:bold;\">TotalGuard Yard Care</td><td align=\"right\" style=\"color:#ffffff;font-size:14px;\"><a href=\"tel:6085356057\" style=\"color:#ffffff;text-decoration:none;\">(608) 535-6057</a></td></tr><tr><td colspan=\"2\" style=\"color:#C5A55A;font-size:12px;padding-top:4px;\">Madison's Most Trusted Yard Care</td></tr></table></td></tr><tr><td style=\"padding:30px 30px 10px;\"><h1 style=\"margin:0;color:#2D5A27;font-size:24px;\">${headline}</h1></td></tr><tr><td style=\"padding:10px 30px 20px;color:#1a1a1a;font-size:15px;line-height:1.6;\">${bodyHtml}</td></tr><tr><td style=\"padding:0 30px 20px;\" align=\"center\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#2D5A27;border-radius:6px;padding:14px 32px;\"><a href=\"${ctaUrl}\" style=\"color:#ffffff;text-decoration:none;font-weight:bold;font-size:16px;display:inline-block;\">${ctaText}</a></td></tr></table></td></tr><tr><td style=\"padding:0 30px 20px;text-align:center;\"><div style=\"color:#555;font-size:13px;\">Prefer to talk? <a href=\"tel:6085356057\" style=\"color:#2D5A27;font-weight:bold;\">(608) 535-6057</a></div></td></tr><tr><td style=\"padding:10px 30px;text-align:center;border-top:1px solid #eee;\"><div style=\"color:#888;font-size:11px;\">\\u2713 Licensed & Insured &nbsp; \\u2713 4.9\\u2605 Google Rating &nbsp; \\u2713 500+ Properties &nbsp; \\u2713 Satisfaction Guaranteed</div></td></tr><tr><td style=\"background:#1a1a1a;padding:24px 30px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#ffffff;font-size:14px;font-weight:bold;\">TotalGuard Yard Care</td></tr><tr><td style=\"color:#aaa;font-size:12px;padding-top:6px;\">7610 Welton Dr, Madison, WI 53711</td></tr><tr><td style=\"color:#aaa;font-size:12px;padding-top:4px;\"><a href=\"tel:6085356057\" style=\"color:#C5A55A;\">(608) 535-6057</a> | <a href=\"mailto:totalguardllc@gmail.com\" style=\"color:#C5A55A;\">totalguardllc@gmail.com</a></td></tr><tr><td style=\"padding-top:10px;\"><a href=\"https://facebook.com/totalguardyard/\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;margin-right:10px;\">Facebook</a> <a href=\"https://instagram.com/totalguardyardcare\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;margin-right:10px;\">Instagram</a> <a href=\"https://g.page/r/CRW5Dsg2JgwBEBM/review\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;\">Google</a></td></tr><tr><td style=\"color:#666;font-size:10px;padding-top:10px;\">Serving Madison, Middleton, Waunakee, Monona, Sun Prairie, Fitchburg, Verona, McFarland, Cottage Grove, DeForest, Oregon & Stoughton</td></tr></table></td></tr></table></td></tr></table></body></html>`;\n}\n\nconst lead = $input.first().json;\nconst name = lead.first_name || 'there';\nconst service = lead.service || 'yard care';\n\nconst subject = `We received your quote request, ${name}!`;\nconst headline = 'Your Quote Request is Confirmed';\nconst bodyHtml = `<p>Hi ${name},</p><p>Thanks for reaching out about <strong>${service}</strong>! We received your quote request and someone from our team will be in touch shortly \\u2014 usually within the hour.</p><p>In the meantime, here are a few things to know about TotalGuard:</p><ul><li><strong>4.9-star Google rating</strong> from 100+ reviews</li><li><strong>500+ properties</strong> served across Madison</li><li><strong>Licensed & insured</strong> for your peace of mind</li></ul><p>Can\\u2019t wait? Give us a call directly at <a href=\\\"tel:6085356057\\\" style=\\\"color:#2D5A27;font-weight:bold;\\\">(608) 535-6057</a>.</p><p>We look forward to helping you!</p><p>\\u2014 The TotalGuard Team</p>`;\nconst previewText = `Thanks for choosing TotalGuard! We'll be in touch shortly.`;\n\nconst htmlBody = buildEmailHtml({\n  subject,\n  headline,\n  bodyHtml,\n  ctaText: 'Visit Our Website',\n  ctaUrl: 'https://tgyardcare.com',\n  previewText\n});\n\nreturn [{ json: { to_email: lead.email, subject, html_body: htmlBody, workflow_name: 'TG-01', email_type: 'lead_confirmation' } }];"
      },
      "id": "build-confirmation-email",
      "name": "Build Confirmation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -900
      ]
    },
    {
      "parameters": {
        "source": "id",
        "workflowId": "IUDLrQrAkcLFLsIC",
        "options": {}
      },
      "id": "send-email-tg95",
      "name": "Send Email via TG-95",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1540,
        -900
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead Data": {
      "main": [
        [
          {
            "node": "Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead": {
      "main": [
        [
          {
            "node": "Insert Supabase Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Supabase Lead": {
      "main": [
        [
          {
            "node": "Extract Lead ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead ID": {
      "main": [
        [
          {
            "node": "Sync Brevo Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Has Phone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Telegram Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Brevo Contact": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Phone": {
      "main": [
        [
          {
            "node": "Build SMS Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SMS Body": {
      "main": [
        [
          {
            "node": "Send SMS via TG-94",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Alert": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Email": {
      "main": [
        [
          {
            "node": "Build Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation Email": {
      "main": [
        [
          {
            "node": "Send Email via TG-95",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}