automation/n8n-workflows/TG-04-manual-lead-entry.json
{
  "name": "TG-04-manual-lead-entry",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "first_name",
              "name": "first_name",
              "value": "={{ ($json.first_name || $json.firstName || '').trim() }}",
              "type": "string"
            },
            {
              "id": "last_name",
              "name": "last_name",
              "value": "={{ ($json.last_name || $json.lastName || '').trim() }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ ($json.email || '').toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ ($json.phone || '').replace(/[^\\d+]/g, '') }}",
              "type": "string"
            },
            {
              "id": "service",
              "name": "service",
              "value": "={{ $json.service || $json.services || '' }}",
              "type": "string"
            },
            {
              "id": "address",
              "name": "address",
              "value": "={{ $json.address || '' }}",
              "type": "string"
            },
            {
              "id": "notes",
              "name": "notes",
              "value": "={{ $json.notes || $json.message || '' }}",
              "type": "string"
            },
            {
              "id": "admin_user",
              "name": "admin_user",
              "value": "={{ $json.admin_user || $json.submitted_by || 'admin' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-manual-lead",
      "name": "Normalize Manual Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-name",
              "leftValue": "={{ $json.first_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "has-contact",
              "leftValue": "={{ $json.email || $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-manual-lead",
      "name": "Validate Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.TG_SUPABASE_URL}}/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.TG_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"service\": \"{{ $json.service }}\",\n  \"address\": \"{{ $json.address }}\",\n  \"source\": \"manual\",\n  \"notes\": \"{{ $json.notes }}\",\n  \"lead_score\": 15,\n  \"lead_tier\": \"standard\",\n  \"status\": \"new\"\n}",
        "options": {}
      },
      "id": "insert-manual-lead",
      "name": "Insert Manual Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const insertResult = $input.first().json;\nconst lead_id = Array.isArray(insertResult) ? (insertResult[0] && insertResult[0].id) : (insertResult && insertResult.id);\n\nreturn {\n  json: {\n    success: true,\n    lead_id: lead_id || null,\n    source: 'manual',\n    message: 'Manual lead created successfully'\n  }\n};"
      },
      "id": "build-manual-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: false,\n    message: 'Validation failed: first_name and at least one of email or phone are required'\n  }\n};"
      },
      "id": "build-manual-error",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        80
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize Manual Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Manual Lead": {
      "main": [
        [
          {
            "node": "Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead": {
      "main": [
        [
          {
            "node": "Insert Manual Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Manual Lead": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}