automation/n8n-workflows/TG-01-lead-capture.json
{
  "name": "TG-01-lead-capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-lead-capture",
        "responseMode": "lastNode"
      },
      "id": "lead-capture-webhook",
      "name": "Lead Capture Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "tg-lead-capture"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "first_name",
              "name": "first_name",
              "value": "={{ $json.body?.first_name || $json.first_name || '' }}",
              "type": "string"
            },
            {
              "id": "last_name",
              "name": "last_name",
              "value": "={{ $json.body?.last_name || $json.last_name || '' }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ ($json.body?.email || $json.email || '').toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ ($json.body?.phone || $json.phone || '').replace(/[^\\d+]/g, '') }}",
              "type": "string"
            },
            {
              "id": "service",
              "name": "service",
              "value": "={{ $json.body?.service || $json.service || '' }}",
              "type": "string"
            },
            {
              "id": "address",
              "name": "address",
              "value": "={{ $json.body?.address || $json.address || '' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.body?.source || $json.source || 'website' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-lead-data",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nlet score = 0;\nconst factors = [];\n\n// Source quality\nconst source = (lead.source || '').toLowerCase();\nif (source === 'referral') { score += 30; factors.push('Referral source (+30)'); }\nelse if (source === 'organic' || source === 'seo') { score += 25; factors.push('Organic source (+25)'); }\nelse if (source.includes('paid') || source.includes('google_ads') || source.includes('ppc') || source.includes('lsa')) { score += 20; factors.push('Paid source (+20)'); }\nelse if (source === 'manual') { score += 15; factors.push('Manual entry (+15)'); }\nelse { score += 10; factors.push('Other source (+10)'); }\n\n// Contact completeness\nif (lead.phone) { score += 5; factors.push('Has phone (+5)'); }\nif (lead.email) { score += 5; factors.push('Has email (+5)'); }\nif (lead.address) { score += 5; factors.push('Has address (+5)'); }\n\n// High-value service detection\nconst service = (lead.service || '').toLowerCase();\nconst highValueServices = ['hardscaping', 'commercial', 'patio', 'retaining wall', 'landscape design', 'irrigation', 'outdoor kitchen'];\nconst midValueServices = ['fertilization', 'aeration', 'overseeding', 'mowing', 'lawn care', 'lawn maintenance'];\nconst cleanupServices = ['cleanup', 'leaf', 'mulch', 'gutter', 'snow'];\nif (highValueServices.some(s => service.includes(s))) {\n  score += 20; factors.push('High-value service (+20)');\n} else if (midValueServices.some(s => service.includes(s))) {\n  score += 10; factors.push('Mid-value service (+10)');\n} else if (cleanupServices.some(s => service.includes(s))) {\n  score += 5; factors.push('Cleanup service (+5)');\n}\n\n// Core service area detection\nconst address = (lead.address || '').toLowerCase();\nconst coreAreas = ['madison', 'middleton', 'fitchburg', 'verona', 'waunakee', 'deforest', 'sun prairie', 'stoughton', 'monona', 'mcfarland'];\nif (coreAreas.some(a => address.includes(a))) {\n  score += 5; factors.push('Core service area (+5)');\n}\n\nconst finalScore = Math.min(score, 100);\n\nlet lead_tier = 'cold';\nif (finalScore >= 70) lead_tier = 'hot';\nelse if (finalScore >= 50) lead_tier = 'warm';\nelse if (finalScore >= 30) lead_tier = 'standard';\n\nreturn {\n  json: {\n    ...lead,\n    lead_score: finalScore,\n    lead_tier: lead_tier,\n    score_factors: factors\n  }\n};"
      },
      "id": "score-lead",
      "name": "Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$vars.TG_BREVO_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"attributes\": {\n    \"FIRSTNAME\": \"{{ $json.first_name || '' }}\",\n    \"LASTNAME\": \"{{ $json.last_name || '' }}\",\n    \"SMS\": \"{{ $json.phone || '' }}\",\n    \"LEAD_SOURCE\": \"{{ $json.source || 'website' }}\",\n    \"LEAD_SCORE\": {{ $json.lead_score || 0 }},\n    \"LEAD_TIER\": \"{{ $json.lead_tier || 'cold' }}\",\n    \"SERVICE_INTEREST\": \"{{ $json.service || '' }}\"\n  },\n  \"listIds\": [1],\n  \"updateEnabled\": true\n}",
        "options": {}
      },
      "id": "sync-brevo-contact",
      "name": "Create Brevo Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?email=eq.{{$('Score Lead').first().json.email}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.TG_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brevo_contact_id\": \"{{ $json.id || '' }}\",\n  \"lead_score\": {{ $('Score Lead').first().json.lead_score }},\n  \"lead_tier\": \"{{ $('Score Lead').first().json.lead_tier }}\",\n  \"nurture_status\": \"enrolled\"\n}",
        "options": {}
      },
      "id": "update-lead-brevo-id",
      "name": "Update Lead with Brevo ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const scored = $('Score Lead').first().json;\nreturn {\n  json: {\n    success: true,\n    email: scored.email,\n    score: scored.lead_score,\n    tier: scored.lead_tier,\n    brevo_synced: !$('Create Brevo Contact').first().json.error\n  }\n};"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Lead Capture Webhook": {
      "main": [
        [
          {
            "node": "Normalize Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead Data": {
      "main": [
        [
          {
            "node": "Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead": {
      "main": [
        [
          {
            "node": "Create Brevo Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Brevo Contact": {
      "main": [
        [
          {
            "node": "Update Lead with Brevo ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead with Brevo ID": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
