automation/n8n-workflows/TG-16-snow-nurture.json
{
  "name": "TG-16-snow-nurture",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14 * 10,11 2" }] } },
      "id": "schedule",
      "name": "Weekly Tue 9am CT Oct-Nov",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?select=id,first_name,email,city&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-audience",
      "name": "Fetch All Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends?workflow_name=eq.snow_nurture&select=contact_email,email_type",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-sent",
      "name": "Fetch Sent History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "const month = new Date().getMonth() + 1;\nconst day = new Date().getDate();\nconst week = Math.ceil(day / 7);\n\n// ── HTML email builder helpers ──\nconst FONT = \"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\";\nconst GREEN = '#2D5A27';\nconst GOLD = '#C5A55A';\nconst DARK = '#1a1a2e';\n\nfunction headerBar() {\n  return '<tr><td style=\"background-color:' + GREEN + ';\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td style=\"padding:16px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"left\" valign=\"middle\" style=\"font-family:' + FONT + '; font-size:18px; font-weight:700; color:#ffffff; line-height:1.3;\">TotalGuard Yard Care</td><td align=\"right\" valign=\"middle\" style=\"font-family:' + FONT + '; font-size:14px; color:#ffffff; line-height:1.3;\"><a href=\"tel:+16085356057\" style=\"color:#ffffff; text-decoration:none; font-weight:600;\">(608) 535-6057</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:0 24px 14px; font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; letter-spacing:1.5px; text-transform:uppercase; font-weight:600;\">Madison\\'s Most Trusted Yard Care</td></tr></table></td></tr>';\n}\n\nfunction heroBanner(headline, subheadline) {\n  return '<tr><td style=\"background: linear-gradient(135deg, #2D5A27 0%, #3d7a34 50%, #2D5A27 100%);\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:48px 32px 16px;\"><h1 style=\"margin:0; font-family:' + FONT + '; font-size:28px; font-weight:800; color:#ffffff; line-height:1.2;\">' + headline + '</h1></td></tr><tr><td align=\"center\" style=\"padding:8px 40px 48px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:16px; color:' + GOLD + '; line-height:1.5; font-weight:500;\">' + subheadline + '</p></td></tr></table></td></tr>';\n}\n\nfunction urgencyBanner(headline, subheadline, badgeText, badgeColor) {\n  return '<tr><td style=\"background-color:' + (badgeColor || '#C0392B') + ';\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:12px 24px;\"><span style=\"font-family:' + FONT + '; font-size:12px; font-weight:700; color:#ffffff; text-transform:uppercase; letter-spacing:2px; background-color:rgba(0,0,0,0.2); padding:4px 12px; border-radius:4px;\">' + badgeText + '</span></td></tr></table></td></tr><tr><td style=\"background: linear-gradient(135deg, #2D5A27 0%, #3d7a34 50%, #2D5A27 100%);\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:40px 32px 16px;\"><h1 style=\"margin:0; font-family:' + FONT + '; font-size:28px; font-weight:800; color:#ffffff; line-height:1.2;\">' + headline + '</h1></td></tr><tr><td align=\"center\" style=\"padding:8px 40px 40px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:16px; color:' + GOLD + '; line-height:1.5; font-weight:500;\">' + subheadline + '</p></td></tr></table></td></tr>';\n}\n\nfunction bodySection(html) {\n  return '<tr><td style=\"padding:32px 32px 16px;\"><div style=\"font-family:' + FONT + '; font-size:15px; color:#333333; line-height:1.7;\">' + html + '</div></td></tr>';\n}\n\nfunction urgencyCountdown(label, display) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"border:2px solid #C0392B; border-radius:8px;\"><tr><td align=\"center\" style=\"padding:16px;\"><p style=\"margin:0 0 4px; font-family:' + FONT + '; font-size:11px; color:#C0392B; text-transform:uppercase; letter-spacing:1.5px; font-weight:700;\">' + label + '</p><p style=\"margin:0; font-family:' + FONT + '; font-size:20px; color:#1a1a1a; font-weight:800;\">' + display + '</p></td></tr></table></td></tr>';\n}\n\nfunction benefitsBox(html) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f0f8f0; border-radius:8px; border-left:4px solid ' + GREEN + ';\"><tr><td style=\"padding:20px 24px; font-family:' + FONT + '; font-size:14px; color:#333333; line-height:1.8;\">' + html + '</td></tr></table></td></tr>';\n}\n\nfunction reviewBlock(reviewText, reviewerName) {\n  return '<tr><td style=\"padding:0 32px 32px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f9f9f9; border-radius:8px;\"><tr><td align=\"center\" style=\"padding:28px 28px 8px;\"><span style=\"font-size:24px; color:' + GOLD + '; letter-spacing:2px;\">&#9733;&#9733;&#9733;&#9733;&#9733;</span></td></tr><tr><td align=\"center\" style=\"padding:8px 28px;\"><p style=\"margin:0; font-family:Georgia,\\'Times New Roman\\',Times,serif; font-size:15px; color:#333333; line-height:1.7; font-style:italic;\">&ldquo;' + reviewText + '&rdquo;</p></td></tr><tr><td align=\"center\" style=\"padding:12px 28px 4px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:14px; color:#1a1a1a; font-weight:700; line-height:1.4;\">&mdash; ' + reviewerName + '</p></td></tr><tr><td align=\"center\" style=\"padding:0 28px 28px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:12px; color:#888888; line-height:1.4; text-transform:uppercase; letter-spacing:0.5px;\">Verified Google Review</p></td></tr></table></td></tr>';\n}\n\nfunction ctaButton(text, url) {\n  return '<tr><td style=\"padding:0 32px 32px;\" align=\"center\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%;\"><tr><td align=\"center\" style=\"border-radius:6px; background-color:' + GREEN + ';\"><a href=\"' + url + '\" target=\"_blank\" style=\"display:block; padding:16px 32px; font-family:' + FONT + '; font-size:16px; font-weight:700; color:#ffffff; text-decoration:none; border-radius:6px; background-color:' + GREEN + '; text-align:center;\">' + text + '</a></td></tr></table></td></tr>';\n}\n\nfunction trustBar() {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:' + GREEN + '; border-radius:6px;\"><tr><td align=\"center\" style=\"padding:14px 16px; font-family:' + FONT + '; font-size:12px; color:#ffffff; line-height:2; letter-spacing:0.3px;\">&#10003; Licensed &amp; Insured&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 4.9&#9733; Rating&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 500+ Properties&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 100% Satisfaction Guarantee</td></tr></table></td></tr>';\n}\n\nfunction footer() {\n  return '<tr><td style=\"background-color:' + DARK + '; border-radius:0 0 8px 8px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:32px 32px 8px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:18px; font-weight:700; color:#ffffff; line-height:1.3;\">TotalGuard Yard Care</p></td></tr><tr><td align=\"center\" style=\"padding:4px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:13px; color:#999999; line-height:1.6;\">7610 Welton Dr, Madison, WI 53711&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"tel:+16085356057\" style=\"color:' + GOLD + '; text-decoration:none;\">(608) 535-6057</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"mailto:totalguardllc@gmail.com\" style=\"color:' + GOLD + '; text-decoration:none;\">totalguardllc@gmail.com</a></p></td></tr><tr><td align=\"center\" style=\"padding:20px 32px 8px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td style=\"padding:0 8px;\"><a href=\"https://www.facebook.com/totalguardyard/\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Facebook</a></td><td style=\"padding:0 8px;\"><a href=\"https://www.instagram.com/totalguardyardcare\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Instagram</a></td><td style=\"padding:0 8px;\"><a href=\"https://g.page/r/CRW5Dsg2JgwBEBM\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Google</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:12px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; color:#666666; line-height:1.6;\">Serving Madison, Middleton, Fitchburg, Sun Prairie, Verona, Waunakee &amp; surrounding areas</p></td></tr><tr><td align=\"center\" style=\"padding:8px 32px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; color:#666666; line-height:1.6;\">You\\'re receiving this because you\\'re a TotalGuard Yard Care customer.<br><a href=\"https://tgyardcare.com/unsubscribe\" style=\"color:#999999; text-decoration:underline;\">Unsubscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"https://tgyardcare.com/email-preferences\" style=\"color:#999999; text-decoration:underline;\">Email Preferences</a></p></td></tr></table></td></tr>';\n}\n\nfunction buildHtml(opts) {\n  const style = '<style type=\"text/css\">body,table,td,a{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}table,td{mso-table-lspace:0pt;mso-table-rspace:0pt}img{-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none}body{margin:0;padding:0;width:100%!important;height:100%!important;background-color:#f4f4f4}@media only screen and (max-width:620px){.email-container{width:100%!important;max-width:100%!important}}</style>';\n  return '<!DOCTYPE html><html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">' + style + '</head><body style=\"margin:0;padding:0;background-color:#f4f4f4;\"><div style=\"display:none;font-size:1px;color:#f4f4f4;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;\">' + (opts.previewText || '') + '</div><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f4f4f4;\"><tr><td align=\"center\" valign=\"top\" style=\"padding:20px 0;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" class=\"email-container\" style=\"margin:0 auto;max-width:600px;background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06);\">' + headerBar() + opts.bannerHtml + opts.bodyHtml + opts.reviewHtml + ctaButton(opts.ctaText, opts.ctaUrl) + trustBar() + footer() + '</table></td></tr></table></body></html>';\n}\n// ── End HTML builder ──\n\n// ── Campaign email definitions (from seasonal-campaigns.json TG-16) ──\nconst campaignEmails = [\n  {\n    emailType: 'snow_week_1',\n    subject: 'Remember shoveling at 5am last February? Never again.',\n    previewText: 'Wake up. Driveway clear. Walkway salted. Go to work.',\n    headline: 'Never. Shovel. Again.',\n    subheadline: 'Wake up. Driveway clear. Walkway salted. Go to work. That\\'s what snow removal is supposed to feel like.',\n    template: 'hero',\n    bodyHtml: '<p style=\"margin: 0 0 16px 0;\">Remember last February?</p><p style=\"margin: 0 0 16px 0;\">The alarm goes off at 5:00 AM. It\\'s still dark. You check your phone \\u2014 6 inches overnight. Your back already hurts just thinking about it.</p><p style=\"margin: 0 0 16px 0;\">You layer up. Boots, coat, gloves. Step outside into the wind. Start shoveling. The snow is heavy and wet \\u2014 the worst kind. Thirty minutes in, you\\'re sweating under three layers, your lower back is screaming, and you\\'ve only done half the driveway.</p><p style=\"margin: 0 0 16px 0;\">You finish. Walk inside. You\\'re late for work. Your back will hurt for two days. And the next storm is forecast for Thursday.</p><p style=\"margin: 0 0 16px 0;\"><strong>Now imagine this instead:</strong></p><p style=\"margin: 0 0 16px 0; padding: 20px; background-color: #f0f8f0; border-radius: 8px; border-left: 4px solid #2D5A27;\">Your alarm goes off at 6:30 AM. You look outside \\u2014 driveway cleared, walkway salted, porch swept. You grab your coffee, walk to your car, and drive to work. You didn\\'t lift a shovel. You didn\\'t even put on boots.</p><p style=\"margin: 0 0 16px 0;\"><strong>That\\'s TotalGuard snow removal.</strong></p><p style=\"margin: 0 0 8px 0; font-size: 16px; font-weight: 700; color: #2D5A27;\">How it works:</p><ul style=\"margin: 0 0 16px 0; padding-left: 20px;\"><li style=\"margin-bottom: 8px;\"><strong>Triggered at 2\"+  snowfall</strong> \\u2014 we monitor weather 24/7 and deploy automatically.</li><li style=\"margin-bottom: 8px;\"><strong>Driveway + walkways + porch</strong> \\u2014 full clearing, not just a single pass.</li><li style=\"margin-bottom: 8px;\"><strong>Salt/deicer included</strong> \\u2014 applied to all cleared surfaces. No extra charge.</li><li style=\"margin-bottom: 8px;\"><strong>24-hour response</strong> \\u2014 most driveways cleared before 7 AM on heavy snow days.</li><li style=\"margin-bottom: 8px;\"><strong>Seasonal contract</strong> \\u2014 one flat rate covers the entire winter. No per-storm surprises.</li></ul><p style=\"margin: 0;\">Madison\\'s snow season runs November through March \\u2014 that\\'s 5 months of potential snowfall. At an average of 50+ inches per year, that\\'s a lot of mornings you <em>don\\'t</em> want to spend shoveling.</p>',\n    reviewText: 'My lawn looks great. I highly recommend Vance for your lawn care needs. He is conscientious, dependable and hard working.',\n    reviewerName: 'David Harter',\n    ctaText: 'Get My Snow Removal Quote \\u2192',\n    ctaUrl: 'https://tgyardcare.com/services/snow-removal?utm_source=email&utm_medium=nurture&utm_campaign=snow-2026-kickoff',\n    textBody: 'Hi {name},\\n\\nRemember shoveling at 5am last February? Never again.\\n\\nTotalGuard snow removal: triggered at 2\"+ snowfall, driveway + walkways + porch cleared, salt/deicer included, 24-hour response, one flat seasonal rate.\\n\\nMadison\\'s snow season is 5 months and 50+ inches of snow per year.\\n\\n\\u201cMy lawn looks great. I highly recommend Vance. He is conscientious, dependable and hard working.\\u201d \\u2014 David Harter (Google Review)\\n\\nGet your quote at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    emailType: 'snow_week_2',\n    subject: 'Your street\\'s snow removal list: are you on it?',\n    previewText: 'We can only service limited properties per route.',\n    headline: 'Your Area Is Almost Full.',\n    subheadline: 'Our snow removal routes have capacity limits. When a route is full, we stop taking signups \\u2014 no waitlist.',\n    template: 'urgency',\n    alertBadge: 'LIMITED SPOTS',\n    alertColor: '#2D5A27',\n    stakesHtml: '<strong>Here\\'s how snow removal routing works:</strong><br><br>We divide the Madison area into routes. Each route has a maximum number of properties we can service and still guarantee clearing before 7 AM.<br><br>When a route fills up, that\\'s it. No waitlist. No exceptions. Adding more properties would mean slower response times for everyone \\u2014 and we don\\'t do that to our existing customers.<br><br><strong>Current route status:</strong><br><ul style=\"margin: 8px 0; padding-left: 20px;\"><li><strong>Madison West / Middleton</strong> \\u2014 filling fast</li><li><strong>Waunakee / DeForest</strong> \\u2014 limited spots</li><li><strong>Monona / McFarland</strong> \\u2014 limited spots</li><li><strong>Sun Prairie / Cottage Grove</strong> \\u2014 spots available</li><li><strong>Fitchburg / Verona / Oregon</strong> \\u2014 spots available</li></ul>Once your area\\'s route is full, the only option is emergency-only service at storm rates \\u2014 which costs <strong>2\\u20133x</strong> the seasonal contract price.',\n    urgencyLabel: 'SPOTS REMAINING',\n    urgencyDisplay: 'Limited Spots in Your Area',\n    benefitsHtml: '&#10003; Automatic dispatch at 2\"+ snowfall<br>&#10003; Driveway, walkways &amp; porch clearing<br>&#10003; Salt/deicer application included<br>&#10003; Cleared before 7 AM on most storms<br>&#10003; Flat seasonal rate \\u2014 no per-storm billing<br>&#10003; Route priority over non-contract customers',\n    reviewText: 'Very easy to schedule and dependable. Showed up on time and left the yard looking very clean. Worth every dollar.',\n    reviewerName: 'Carson Bloedow',\n    ctaText: 'Claim Your Spot \\u2192',\n    ctaUrl: 'https://tgyardcare.com/services/snow-removal?utm_source=email&utm_medium=nurture&utm_campaign=snow-2026-route-scarcity',\n    textBody: 'Hi {name},\\n\\nOur snow removal routes have capacity limits. When a route is full, we stop taking signups \\u2014 no waitlist.\\n\\nRoute status: Madison West/Middleton (filling fast), Waunakee/DeForest (limited spots), Monona/McFarland (limited spots), Sun Prairie/Cottage Grove (available), Fitchburg/Verona/Oregon (available).\\n\\nOnce your area is full, emergency-only service costs 2-3x the seasonal rate.\\n\\n\\u201cVery easy to schedule and dependable. Worth every dollar.\\u201d \\u2014 Carson Bloedow (Google Review)\\n\\nClaim your spot at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    emailType: 'snow_week_3',\n    subject: 'First snow forecast: next week. Last chance.',\n    previewText: 'Snow is forecast. This is your last chance at current rates.',\n    headline: 'Snow Is Forecast. This Is Your Last Chance.',\n    subheadline: 'Madison\\'s first measurable snowfall is forecast for next week. After that, seasonal contract pricing disappears.',\n    template: 'urgency',\n    alertBadge: 'WEATHER ALERT',\n    alertColor: '#F39C12',\n    stakesHtml: '<strong>The forecast is in. Snow is coming to Madison next week.</strong><br><br>This is the last email we\\'ll send before pricing changes. Here\\'s what happens after the first snowfall:<br><br><ul style=\"margin: 8px 0; padding-left: 20px;\"><li><strong>Seasonal contract pricing ends immediately</strong> \\u2014 no more flat-rate option</li><li><strong>Per-storm pricing kicks in</strong> \\u2014 each clearing billed individually at premium rates</li><li><strong>Emergency-only service</strong> \\u2014 50% premium over standard per-storm rates</li><li><strong>No guaranteed response time</strong> \\u2014 contract customers are serviced first, always</li></ul><br>The math is simple:<br><br><strong>Contract rate (sign up today):</strong> One flat price for the entire season. Every storm covered. Priority service guaranteed.<br><br><strong>Per-storm rate (after first snow):</strong> 25% higher per clearing. No priority. No guarantee we can get to you before you need to leave for work.<br><br><strong>Emergency rate (day-of call):</strong> 50% premium. First-come, first-served. You might wait 8+ hours.<br><br>This is your last chance to lock in the contract rate. Once snow falls, these prices are gone.',\n    urgencyLabel: 'FORECAST',\n    urgencyDisplay: 'Snow Arriving Next Week \\u2014 Final Signup Window',\n    benefitsHtml: '&#10003; Lock in seasonal flat rate today<br>&#10003; Every storm covered \\u2014 no per-event billing<br>&#10003; Priority service before non-contract homes<br>&#10003; Driveway + walkways + porch + salt<br>&#10003; Cleared before 7 AM on most storms<br>&#10003; One payment, entire season covered',\n    reviewText: 'Quick response, on-time service, and clean results. The lawn looked better immediately and everything was handled professionally. Would absolutely recommend and would use them again.',\n    reviewerName: 'Cooper Brakmanis',\n    ctaText: 'Sign Up at Current Rates \\u2014 Last Day \\u2192',\n    ctaUrl: 'https://tgyardcare.com/services/snow-removal?utm_source=email&utm_medium=nurture&utm_campaign=snow-2026-final-call',\n    textBody: 'Hi {name},\\n\\nSnow is forecast for Madison next week. This is your last chance at seasonal contract pricing.\\n\\nAfter first snow: seasonal pricing ends, per-storm pricing kicks in (25% higher), emergency service at 50% premium, no guaranteed response time.\\n\\nContract rate today = one flat price, every storm covered, priority service. Don\\'t wait.\\n\\n\\u201cQuick response, on-time service, and clean results. Would absolutely recommend.\\u201d \\u2014 Cooper Brakmanis (Google Review)\\n\\nSign up at tgyardcare.com or call (608) 535-6057'\n  }\n];\n\n// Determine which email to send based on schedule\n// Oct week 1-2 = email 1, Oct week 3-4 = email 2, Nov = email 3\nlet emailIdx;\nif (month === 10 && week <= 2) emailIdx = 0;\nelse if (month === 10) emailIdx = 1;\nelse emailIdx = 2;\n\nconst template = campaignEmails[emailIdx];\n\n// Build dedup set\nconst sentItems = $('Fetch Sent History').all().map(i => i.json);\nconst sentSet = new Set(sentItems.map(s => `${s.contact_email}|${s.email_type}`));\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (!c.email) continue;\n  const dedupKey = `${c.email}|${template.emailType}`;\n  if (sentSet.has(dedupKey)) continue;\n\n  const firstName = c.first_name || 'there';\n  const city = c.city || 'Madison';\n  const subject = template.subject.replace('{name}', firstName).replace('{{first_name}}', firstName).replace('{{city}}', city);\n  const textBody = template.textBody.replace('{name}', firstName);\n\n  // Build HTML\n  let bannerHtml, bodyContentHtml;\n  if (template.template === 'urgency') {\n    bannerHtml = urgencyBanner(template.headline.replace('{{city}}', city), template.subheadline, template.alertBadge, template.alertColor);\n    bodyContentHtml = bodySection(template.stakesHtml) + urgencyCountdown(template.urgencyLabel, template.urgencyDisplay.replace('{{city}}', city)) + benefitsBox(template.benefitsHtml);\n  } else {\n    bannerHtml = heroBanner(template.headline.replace('{{city}}', city), template.subheadline);\n    bodyContentHtml = bodySection(template.bodyHtml);\n  }\n\n  const htmlBody = buildHtml({\n    previewText: template.previewText.replace('{{city}}', city),\n    bannerHtml: bannerHtml,\n    bodyHtml: bodyContentHtml,\n    reviewHtml: reviewBlock(template.reviewText, template.reviewerName),\n    ctaText: template.ctaText,\n    ctaUrl: template.ctaUrl\n  });\n\n  results.push({ json: { ...c, subject, body: textBody, htmlBody, emailType: template.emailType } });\n}\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "id": "build-email",
      "name": "Build Snow Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "filter-skip",
      "name": "Filter Skipped",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api-key", "value": "={{$vars.TG_BREVO_API_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" }, \"to\": [{ \"email\": \"{{ $json.email }}\", \"name\": \"{{ $json.first_name }}\" }], \"subject\": \"{{ $json.subject }}\", \"htmlContent\": \"{{ $json.htmlBody }}\", \"textContent\": \"{{ $json.body }}\" }"
      },
      "id": "send-snow",
      "name": "Send Snow Nurture Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contact_email\": \"{{ $json.email }}\", \"workflow_name\": \"snow_nurture\", \"email_type\": \"{{ $json.emailType }}\" }"
      },
      "id": "log-send",
      "name": "Log to email_sends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Weekly Tue 9am CT Oct-Nov": { "main": [[{ "node": "Fetch All Customers", "type": "main", "index": 0 }, { "node": "Fetch Sent History", "type": "main", "index": 0 }]] },
    "Fetch All Customers": { "main": [[{ "node": "Build Snow Email", "type": "main", "index": 0 }]] },
    "Fetch Sent History": { "main": [[{ "node": "Build Snow Email", "type": "main", "index": 1 }]] },
    "Build Snow Email": { "main": [[{ "node": "Filter Skipped", "type": "main", "index": 0 }]] },
    "Filter Skipped": { "main": [[{ "node": "Send Snow Nurture Email", "type": "main", "index": 0 }]] },
    "Send Snow Nurture Email": { "main": [[{ "node": "Log to email_sends", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true }
}