automation/n8n-workflows/TG-144-crew-field-reminders.json
{
  "name": "TG-144-crew-field-reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      },
      "id": "tg144-trigger",
      "name": "Daily 6 AM Crew Field Reminders",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// TG-144: Fetch today's scheduled jobs from Supabase\nconst supabaseUrl = 'https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1';\nconst supabaseKey = 'sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v';\nconst supabaseHeaders = {\n  'apikey': supabaseKey,\n  'Authorization': `Bearer ${supabaseKey}`\n};\n\n// Calculate today's date in CT (UTC-5 CDT / UTC-6 CST)\nconst now = new Date();\n// At 11:00 UTC, CT is either 5 AM (CDT) or 6 AM (CST)\nconst ctOffset = -5; // CDT (summer); use -6 for CST\nconst ctNow = new Date(now.getTime() + ctOffset * 60 * 60 * 1000);\nconst todayStr = ctNow.toISOString().split('T')[0];\n\nlet jobs = [];\ntry {\n  jobs = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${supabaseUrl}/jobber_email_events?event_type=eq.job_scheduled&parsed_scheduled_date=eq.${todayStr}&select=id,client_name,client_address,job_description,parsed_scheduled_time,customer_name,customer_address,service_type`,\n    headers: supabaseHeaders\n  });\n} catch (e) {\n  jobs = [];\n}\n\nif (!Array.isArray(jobs) || jobs.length === 0) {\n  return [{ json: { jobs: [], _skip: true, message: 'No jobs scheduled for today', todayStr } }];\n}\n\nreturn [{ json: { jobs, todayStr, jobCount: jobs.length } }];"
      },
      "id": "tg144-jobs",
      "name": "Fetch Today's Scheduled Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// TG-144: Check for yard signs due for collection (placed 7+ days ago)\nconst supabaseUrl = 'https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1';\nconst supabaseKey = 'sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v';\nconst supabaseHeaders = {\n  'apikey': supabaseKey,\n  'Authorization': `Bearer ${supabaseKey}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nconst data = $input.first().json;\nconst sevenDaysAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString();\nconst fourteenDaysAgo = new Date(Date.now() - 14 * 24 * 60 * 60 * 1000).toISOString();\n\nlet signsToCollect = [];\nlet expiredSigns = [];\n\ntry {\n  // Signs placed 7+ days ago, still active\n  signsToCollect = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${supabaseUrl}/yard_sign_placements?status=eq.active&placed_at=lte.${sevenDaysAgo}&select=id,customer_name,location,placed_at`,\n    headers: { 'apikey': supabaseKey, 'Authorization': 'Bearer ' + supabaseKey }\n  });\n} catch (e) {\n  signsToCollect = [];\n}\n\ntry {\n  // Auto-expire signs older than 14 days\n  expiredSigns = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${supabaseUrl}/yard_sign_placements?status=eq.active&placed_at=lte.${fourteenDaysAgo}&select=id`,\n    headers: { 'apikey': supabaseKey, 'Authorization': 'Bearer ' + supabaseKey }\n  });\n  \n  if (Array.isArray(expiredSigns) && expiredSigns.length > 0) {\n    for (const sign of expiredSigns) {\n      try {\n        await this.helpers.httpRequest({\n          method: 'PATCH',\n          url: `${supabaseUrl}/yard_sign_placements?id=eq.${sign.id}`,\n          headers: supabaseHeaders,\n          body: { status: 'expired', collected_at: new Date().toISOString() }\n        });\n      } catch (e) { /* continue */ }\n    }\n  }\n} catch (e) {\n  expiredSigns = [];\n}\n\nreturn [{ json: { ...data, signsToCollect: signsToCollect || [], expiredCount: (expiredSigns || []).length } }];"
      },
      "id": "tg144-signs",
      "name": "Check for Sign Collection Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// TG-144: Build crew field reminder messages with marketing checklist\nconst data = $input.first().json;\nconst todayStr = data.todayStr || new Date().toISOString().split('T')[0];\nconst jobs = data.jobs || [];\nconst signsToCollect = data.signsToCollect || [];\n\nif (data._skip && signsToCollect.length === 0) {\n  return [{ json: { message: `No jobs scheduled for today (${todayStr}). No signs to collect. Enjoy the day!`, jobCount: 0 } }];\n}\n\nconst parts = [];\n\n// Header\nparts.push(`DAILY FIELD MARKETING BRIEF`);\nparts.push(`Date: ${todayStr}`);\nparts.push(`Jobs today: ${jobs.length}`);\nparts.push('');\n\n// Job checklists\nif (jobs.length > 0) {\n  for (let i = 0; i < jobs.length; i++) {\n    const job = jobs[i];\n    const name = job.client_name || job.customer_name || 'Unknown';\n    const address = job.client_address || job.customer_address || 'Address TBD';\n    const service = job.job_description || job.service_type || 'Service TBD';\n    const time = job.parsed_scheduled_time || 'Time TBD';\n\n    parts.push(`--- JOB ${i + 1} ---`);\n    parts.push(`Customer: ${name}`);\n    parts.push(`Address: ${address}`);\n    parts.push(`Service: ${service}`);\n    parts.push(`Time: ${time}`);\n    parts.push('');\n    parts.push('FIELD MARKETING CHECKLIST:');\n    parts.push('[ ] Place yard sign in visible front area');\n    parts.push('[ ] Leave 3 door hangers on neighboring doors');\n    parts.push('[ ] Carry business cards in truck');\n    parts.push('[ ] Take a quick before/after photo');\n    parts.push('[ ] Ask customer about Google review');\n    parts.push('');\n  }\n}\n\n// Yard sign collection reminders\nif (signsToCollect.length > 0) {\n  parts.push('--- SIGNS TO COLLECT ---');\n  for (const sign of signsToCollect) {\n    const placedDate = new Date(sign.placed_at);\n    const daysAgo = Math.floor((Date.now() - placedDate.getTime()) / (24 * 60 * 60 * 1000));\n    parts.push(`COLLECT SIGN: ${sign.location || sign.customer_name || 'Unknown'} (placed ${daysAgo} days ago)`);\n  }\n  parts.push('');\n}\n\nif (data.expiredCount > 0) {\n  parts.push(`(${data.expiredCount} sign(s) auto-expired after 14 days)`);\n}\n\nconst fullMessage = parts.join('\\n');\nreturn [{ json: { message: fullMessage, jobCount: jobs.length, signCollectCount: signsToCollect.length } }];"
      },
      "id": "tg144-build",
      "name": "Build Crew Field Marketing Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "chatId": "OWNER_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "tg144-send",
      "name": "Send Crew Reminders to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, 300],
      "credentials": {
        "telegramApi": {
          "id": "V404qLIDXjmyzNeS",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// TG-144: Log reminder run to automation_runs\nconst supabaseUrl = 'https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1';\nconst supabaseKey = 'sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v';\n\nconst data = $input.first().json;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${supabaseUrl}/automation_runs`,\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': `Bearer ${supabaseKey}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: {\n      workflow_name: 'TG-144',\n      event_type: 'crew_field_reminder',\n      status: 'success',\n      details: { job_count: data.jobCount || 0, sign_collect_count: data.signCollectCount || 0 },\n      created_at: new Date().toISOString()\n    }\n  });\n} catch (e) { /* continue on fail */ }\n\nreturn [{ json: { logged: true } }];"
      },
      "id": "tg144-log",
      "name": "Log Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 6 AM Crew Field Reminders": {
      "main": [
        [{ "node": "Fetch Today's Scheduled Jobs", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Today's Scheduled Jobs": {
      "main": [
        [{ "node": "Check for Sign Collection Due", "type": "main", "index": 0 }]
      ]
    },
    "Check for Sign Collection Due": {
      "main": [
        [{ "node": "Build Crew Field Marketing Reminders", "type": "main", "index": 0 }]
      ]
    },
    "Build Crew Field Marketing Reminders": {
      "main": [
        [{ "node": "Send Crew Reminders to Telegram", "type": "main", "index": 0 }]
      ]
    },
    "Send Crew Reminders to Telegram": {
      "main": [
        [{ "node": "Log Reminders", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "tg-144-v2",
  "meta": {
    "instanceId": "tgyardcare"
  },
  "tags": [
    { "name": "phase-20" },
    { "name": "crew-reminders" },
    { "name": "daily" },
    { "name": "field-marketing" },
    { "name": "yard-signs" }
  ]
}
