automation/n8n-workflows/TG-129-review-request-sequence.json
{
  "name": "TG-129 Review Request SMS Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "id": "tg129-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/jobber_email_events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "eq.job_completed"
            },
            {
              "name": "select",
              "value": "id,customer_name,customer_phone,customer_email,service_type,created_at"
            },
            {
              "name": "created_at",
              "value": "=gte.{{ $now.minus({ hours: 28 }).toISO() }}"
            },
            {
              "name": "created_at",
              "value": "=lte.{{ $now.minus({ hours: 20 }).toISO() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.TG_SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.TG_SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tg129-fetch",
      "name": "Fetch Recent Completions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-phone-not-empty",
              "leftValue": "={{ $json.customer_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg129-filter-phone",
      "name": "Filter Has Phone",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const phone = item.json.customer_phone;\n  const thirtyDaysAgo = new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString();\n\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/review_requests`,\n      qs: {\n        customer_phone: `eq.${phone}`,\n        created_at: `gte.${thirtyDaysAgo}`,\n        select: 'id'\n      },\n      headers: {\n        apikey: '{{ $env.TG_SUPABASE_ANON_KEY }}',\n        Authorization: 'Bearer {{ $env.TG_SUPABASE_ANON_KEY }}'\n      },\n      json: true\n    });\n\n    if (!response || response.length === 0) {\n      results.push(item);\n    }\n  } catch (error) {\n    // On error, include the item anyway so we don't miss a review request\n    results.push(item);\n  }\n}\n\nreturn results;"
      },
      "id": "tg129-dedup",
      "name": "Check Already Requested",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const name = (item.json.customer_name || 'there').split(' ')[0];\n  const phone = item.json.customer_phone;\n\n  const message = `Hi ${name}! Thank you for choosing TotalGuard Yard Care. We would love to hear how we did! Would you take 30 seconds to leave us a Google review? It means the world to our small business: https://g.page/r/CQEMNig5DhIBEAI/review - Thank you! The TotalGuard Team`;\n\n  results.push({\n    json: {\n      to_phone: phone,\n      message_body: message,\n      workflow_name: 'TG-129-review-request',\n      message_type: 'review_request',\n      customer_name: item.json.customer_name,\n      customer_email: item.json.customer_email,\n      customer_phone: phone\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "tg129-build-sms",
      "name": "Build SMS Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "workflowId": "AprqI2DgQA8lehij"
      },
      "id": "tg129-send-sms",
      "name": "Send via TG-94",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/review_requests",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.TG_SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.TG_SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_phone\": \"{{ $json.customer_phone }}\",\n  \"customer_email\": \"{{ $json.customer_email }}\",\n  \"customer_name\": \"{{ $json.customer_name }}\",\n  \"request_type\": \"sms_24h\",\n  \"source_workflow\": \"TG-129\"\n}",
        "options": {}
      },
      "id": "tg129-log",
      "name": "Log Review Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Recent Completions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Completions": {
      "main": [
        [
          {
            "node": "Filter Has Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Has Phone": {
      "main": [
        [
          {
            "node": "Check Already Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Requested": {
      "main": [
        [
          {
            "node": "Build SMS Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SMS Payload": {
      "main": [
        [
          {
            "node": "Send via TG-94",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via TG-94": {
      "main": [
        [
          {
            "node": "Log Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}