automation/n8n-workflows/TG-14-spring-nurture.json
{
  "name": "TG-14-spring-nurture",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14 * 2,3 1" }] } },
      "id": "schedule",
      "name": "Weekly Mon 9am CT Feb-Mar",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?select=id,first_name,email,city&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-audience",
      "name": "Fetch All Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends?workflow_name=eq.spring_nurture&select=contact_email,email_type",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-sent",
      "name": "Fetch Sent History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "const month = new Date().getMonth() + 1;\nconst day = new Date().getDate();\nconst week = Math.ceil(day / 7);\n\n// ── HTML email builder helpers ──\nconst FONT = \"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\";\nconst GREEN = '#2D5A27';\nconst GOLD = '#C5A55A';\nconst DARK = '#1a1a2e';\n\nfunction headerBar() {\n  return '<tr><td style=\"background-color:' + GREEN + ';\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td style=\"padding:16px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"left\" valign=\"middle\" style=\"font-family:' + FONT + '; font-size:18px; font-weight:700; color:#ffffff; line-height:1.3;\">TotalGuard Yard Care</td><td align=\"right\" valign=\"middle\" style=\"font-family:' + FONT + '; font-size:14px; color:#ffffff; line-height:1.3;\"><a href=\"tel:+16085356057\" style=\"color:#ffffff; text-decoration:none; font-weight:600;\">(608) 535-6057</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:0 24px 14px; font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; letter-spacing:1.5px; text-transform:uppercase; font-weight:600;\">Madison\\'s Most Trusted Yard Care</td></tr></table></td></tr>';\n}\n\nfunction heroBanner(headline, subheadline) {\n  return '<tr><td style=\"background: linear-gradient(135deg, #2D5A27 0%, #3d7a34 50%, #2D5A27 100%);\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:48px 32px 16px;\"><h1 style=\"margin:0; font-family:' + FONT + '; font-size:28px; font-weight:800; color:#ffffff; line-height:1.2;\">' + headline + '</h1></td></tr><tr><td align=\"center\" style=\"padding:8px 40px 48px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:16px; color:' + GOLD + '; line-height:1.5; font-weight:500;\">' + subheadline + '</p></td></tr></table></td></tr>';\n}\n\nfunction urgencyBanner(headline, subheadline, badgeText, badgeColor) {\n  return '<tr><td style=\"background-color:' + (badgeColor || '#C0392B') + ';\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:12px 24px;\"><span style=\"font-family:' + FONT + '; font-size:12px; font-weight:700; color:#ffffff; text-transform:uppercase; letter-spacing:2px; background-color:rgba(0,0,0,0.2); padding:4px 12px; border-radius:4px;\">' + badgeText + '</span></td></tr></table></td></tr><tr><td style=\"background: linear-gradient(135deg, #2D5A27 0%, #3d7a34 50%, #2D5A27 100%);\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:40px 32px 16px;\"><h1 style=\"margin:0; font-family:' + FONT + '; font-size:28px; font-weight:800; color:#ffffff; line-height:1.2;\">' + headline + '</h1></td></tr><tr><td align=\"center\" style=\"padding:8px 40px 40px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:16px; color:' + GOLD + '; line-height:1.5; font-weight:500;\">' + subheadline + '</p></td></tr></table></td></tr>';\n}\n\nfunction bodySection(html) {\n  return '<tr><td style=\"padding:32px 32px 16px;\"><div style=\"font-family:' + FONT + '; font-size:15px; color:#333333; line-height:1.7;\">' + html + '</div></td></tr>';\n}\n\nfunction urgencyCountdown(label, display) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"border:2px solid #C0392B; border-radius:8px;\"><tr><td align=\"center\" style=\"padding:16px;\"><p style=\"margin:0 0 4px; font-family:' + FONT + '; font-size:11px; color:#C0392B; text-transform:uppercase; letter-spacing:1.5px; font-weight:700;\">' + label + '</p><p style=\"margin:0; font-family:' + FONT + '; font-size:20px; color:#1a1a1a; font-weight:800;\">' + display + '</p></td></tr></table></td></tr>';\n}\n\nfunction benefitsBox(html) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f0f8f0; border-radius:8px; border-left:4px solid ' + GREEN + ';\"><tr><td style=\"padding:20px 24px; font-family:' + FONT + '; font-size:14px; color:#333333; line-height:1.8;\">' + html + '</td></tr></table></td></tr>';\n}\n\nfunction reviewBlock(reviewText, reviewerName) {\n  return '<tr><td style=\"padding:0 32px 32px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f9f9f9; border-radius:8px;\"><tr><td align=\"center\" style=\"padding:28px 28px 8px;\"><span style=\"font-size:24px; color:' + GOLD + '; letter-spacing:2px;\">&#9733;&#9733;&#9733;&#9733;&#9733;</span></td></tr><tr><td align=\"center\" style=\"padding:8px 28px;\"><p style=\"margin:0; font-family:Georgia,\\'Times New Roman\\',Times,serif; font-size:15px; color:#333333; line-height:1.7; font-style:italic;\">&ldquo;' + reviewText + '&rdquo;</p></td></tr><tr><td align=\"center\" style=\"padding:12px 28px 4px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:14px; color:#1a1a1a; font-weight:700; line-height:1.4;\">&mdash; ' + reviewerName + '</p></td></tr><tr><td align=\"center\" style=\"padding:0 28px 28px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:12px; color:#888888; line-height:1.4; text-transform:uppercase; letter-spacing:0.5px;\">Verified Google Review</p></td></tr></table></td></tr>';\n}\n\nfunction ctaButton(text, url) {\n  return '<tr><td style=\"padding:0 32px 32px;\" align=\"center\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%;\"><tr><td align=\"center\" style=\"border-radius:6px; background-color:' + GREEN + ';\"><a href=\"' + url + '\" target=\"_blank\" style=\"display:block; padding:16px 32px; font-family:' + FONT + '; font-size:16px; font-weight:700; color:#ffffff; text-decoration:none; border-radius:6px; background-color:' + GREEN + '; text-align:center;\">' + text + '</a></td></tr></table></td></tr>';\n}\n\nfunction trustBar() {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:' + GREEN + '; border-radius:6px;\"><tr><td align=\"center\" style=\"padding:14px 16px; font-family:' + FONT + '; font-size:12px; color:#ffffff; line-height:2; letter-spacing:0.3px;\">&#10003; Licensed &amp; Insured&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 4.9&#9733; Rating&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 500+ Properties&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 100% Satisfaction Guarantee</td></tr></table></td></tr>';\n}\n\nfunction footer() {\n  return '<tr><td style=\"background-color:' + DARK + '; border-radius:0 0 8px 8px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:32px 32px 8px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:18px; font-weight:700; color:#ffffff; line-height:1.3;\">TotalGuard Yard Care</p></td></tr><tr><td align=\"center\" style=\"padding:4px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:13px; color:#999999; line-height:1.6;\">7610 Welton Dr, Madison, WI 53711&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"tel:+16085356057\" style=\"color:' + GOLD + '; text-decoration:none;\">(608) 535-6057</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"mailto:totalguardllc@gmail.com\" style=\"color:' + GOLD + '; text-decoration:none;\">totalguardllc@gmail.com</a></p></td></tr><tr><td align=\"center\" style=\"padding:20px 32px 8px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td style=\"padding:0 8px;\"><a href=\"https://www.facebook.com/totalguardyard/\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Facebook</a></td><td style=\"padding:0 8px;\"><a href=\"https://www.instagram.com/totalguardyardcare\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Instagram</a></td><td style=\"padding:0 8px;\"><a href=\"https://g.page/r/CRW5Dsg2JgwBEBM\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Google</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:12px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; color:#666666; line-height:1.6;\">Serving Madison, Middleton, Fitchburg, Sun Prairie, Verona, Waunakee &amp; surrounding areas</p></td></tr><tr><td align=\"center\" style=\"padding:8px 32px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; color:#666666; line-height:1.6;\">You\\'re receiving this because you\\'re a TotalGuard Yard Care customer.<br><a href=\"https://tgyardcare.com/unsubscribe\" style=\"color:#999999; text-decoration:underline;\">Unsubscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"https://tgyardcare.com/email-preferences\" style=\"color:#999999; text-decoration:underline;\">Email Preferences</a></p></td></tr></table></td></tr>';\n}\n\nfunction buildHtml(opts) {\n  const style = '<style type=\"text/css\">body,table,td,a{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}table,td{mso-table-lspace:0pt;mso-table-rspace:0pt}img{-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none}body{margin:0;padding:0;width:100%!important;height:100%!important;background-color:#f4f4f4}@media only screen and (max-width:620px){.email-container{width:100%!important;max-width:100%!important}}</style>';\n  return '<!DOCTYPE html><html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">' + style + '</head><body style=\"margin:0;padding:0;background-color:#f4f4f4;\"><div style=\"display:none;font-size:1px;color:#f4f4f4;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;\">' + (opts.previewText || '') + '</div><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f4f4f4;\"><tr><td align=\"center\" valign=\"top\" style=\"padding:20px 0;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" class=\"email-container\" style=\"margin:0 auto;max-width:600px;background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06);\">' + headerBar() + opts.bannerHtml + opts.bodyHtml + opts.reviewHtml + ctaButton(opts.ctaText, opts.ctaUrl) + trustBar() + footer() + '</table></td></tr></table></body></html>';\n}\n// ── End HTML builder ──\n\n// ── Campaign email definitions (from seasonal-campaigns.json TG-14) ──\nconst campaignEmails = [\n  {\n    emailType: 'spring_week_1',\n    subject: 'The snow\\'s melting. Here\\'s what it did to your yard.',\n    previewText: 'Winter did a number on Madison yards this year. Here\\'s the fix.',\n    headline: 'Winter Did a Number on Your Yard. We Fix That.',\n    subheadline: 'Spring cleanup season is here \\u2014 and early birds save 15%. Here\\'s what your yard needs right now.',\n    template: 'hero',\n    bodyHtml: '<p style=\"margin: 0 0 16px 0;\">Madison winters don\\'t just cover your yard in snow \\u2014 they quietly destroy it. Here are the 5 things winter did to your property while you were inside:</p><ol style=\"margin: 0 0 16px 0; padding-left: 20px;\"><li style=\"margin-bottom: 10px;\"><strong>Snow mold</strong> \\u2014 Those gray or pink patches hiding under melting snow? That\\'s fungus eating your grass. It thrives under snowpack and kills turf fast if left untreated.</li><li style=\"margin-bottom: 10px;\"><strong>Salt damage</strong> \\u2014 Road salt and sidewalk deicer splashed onto your lawn all winter. It dehydrates grass roots and leaves brown, dead strips along driveways and walkways.</li><li style=\"margin-bottom: 10px;\"><strong>Debris buildup</strong> \\u2014 Branches, leaves, and whatever the wind dragged in. All of it is smothering your grass right now, blocking sunlight and trapping moisture.</li><li style=\"margin-bottom: 10px;\"><strong>Compacted soil</strong> \\u2014 Months of freeze-thaw cycles crushed your soil. Compacted soil means roots can\\'t breathe, water can\\'t drain, and your lawn struggles to green up.</li><li style=\"margin-bottom: 10px;\"><strong>Dead patches &amp; bare spots</strong> \\u2014 Between ice, foot traffic, and plow damage, most Madison yards come out of winter with visible bald spots that won\\'t fix themselves.</li></ol><p style=\"margin: 0 0 16px 0;\">Spring cleanup isn\\'t optional \\u2014 it\\'s how you prevent a $500+ lawn renovation later this summer.</p><p style=\"margin: 0 0 8px 0;\"><strong>What\\'s included in your spring cleanup:</strong></p><ul style=\"margin: 0 0 16px 0; padding-left: 20px;\"><li style=\"margin-bottom: 6px;\">Full debris removal (branches, leaves, winter waste)</li><li style=\"margin-bottom: 6px;\">Bed edging and reshaping</li><li style=\"margin-bottom: 6px;\">First mow of the season</li><li style=\"margin-bottom: 6px;\">Gutter check and clearing</li><li style=\"margin-bottom: 6px;\">Typical visit: 2\\u20134 hours depending on property size</li></ul><p style=\"margin: 0;\">We start crews on <strong>March 15</strong>. Homeowners who book now lock in early bird pricing \\u2014 <strong>15% off</strong> \\u2014 and get first pick of preferred dates.</p>',\n    reviewText: 'I had them out for a spring clean-up \\u2014 leaves, branches, lawn tune-up. No upsell garbage, just honest work. It\\'s how service should be.',\n    reviewerName: 'Mauricio Roldan',\n    ctaText: 'Book Spring Cleanup \\u2014 Early Bird 15% Off \\u2192',\n    ctaUrl: 'https://tgyardcare.com/services/spring-cleanup?utm_source=email&utm_medium=nurture&utm_campaign=spring-2026-kickoff',\n    textBody: 'Hi {name},\\n\\nSpring cleanup season is here! Winter did a number on Madison yards \\u2014 snow mold, salt damage, debris buildup, compacted soil, and dead patches.\\n\\nOur spring cleanup includes: full debris removal, bed edging, first mow, and gutter check. We start crews March 15. Book now for 15% off early bird pricing.\\n\\n\\u201cI had them out for a spring clean-up \\u2014 leaves, branches, lawn tune-up. No upsell garbage, just honest work.\\u201d \\u2014 Mauricio Roldan (Google Review)\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    emailType: 'spring_week_2',\n    subject: 'Homeowners are booking spring cleanup now',\n    previewText: 'Only limited preferred morning slots left for March.',\n    headline: 'Spring Schedule Is Filling Up.',\n    subheadline: 'Most of our March morning slots are already claimed. Here\\'s how to lock in your preferred date before it\\'s gone.',\n    template: 'hero',\n    bodyHtml: '<p style=\"margin: 0 0 16px 0;\">Every spring, the same thing happens: homeowners wait until March to book spring cleanup, then scramble for whatever time slot is left.</p><p style=\"margin: 0 0 16px 0;\">This year, <strong>bookings are happening faster than usual.</strong></p><p style=\"margin: 0 0 16px 0;\">Here\\'s what happens when you wait:</p><ul style=\"margin: 0 0 16px 0; padding-left: 20px;\"><li style=\"margin-bottom: 8px;\"><strong>You get the last available slot</strong> \\u2014 usually a Tuesday afternoon instead of your preferred Saturday morning.</li><li style=\"margin-bottom: 8px;\"><strong>Rushed crews</strong> \\u2014 late-season bookings mean we\\'re stacking jobs back-to-back. Early bookers get more time and attention on their property.</li><li style=\"margin-bottom: 8px;\"><strong>No crew consistency</strong> \\u2014 when you book early, we assign the same crew to your property all season. Late bookers get whoever is available that day.</li></ul><p style=\"margin: 0 0 16px 0;\">Here\\'s what early bookers lock in:</p><ul style=\"margin: 0 0 16px 0; padding-left: 20px;\"><li style=\"margin-bottom: 8px;\">&#10003; <strong>Preferred date and time</strong> \\u2014 morning or afternoon, your choice</li><li style=\"margin-bottom: 8px;\">&#10003; <strong>Same crew guarantee</strong> \\u2014 same team all season, they learn your property</li><li style=\"margin-bottom: 8px;\">&#10003; <strong>Early bird 15% discount</strong> \\u2014 only available until March 1</li><li style=\"margin-bottom: 8px;\">&#10003; <strong>Priority rebooking</strong> \\u2014 if weather delays your date, you move to the front of the reschedule list</li></ul><p style=\"margin: 0;\">Your neighbors aren\\'t waiting. <strong>Don\\'t be the last yard on the street still covered in winter debris in April.</strong></p>',\n    reviewText: 'Great service! They fit us in on short notice, did a fantastic job cleaning up our lawn, and were super honest and easy to work with. Highly recommend!',\n    reviewerName: 'Christina Kang',\n    ctaText: 'Lock In Your Preferred Date \\u2192',\n    ctaUrl: 'https://tgyardcare.com/contact?utm_source=email&utm_medium=nurture&utm_campaign=spring-2026-social-proof',\n    textBody: 'Hi {name},\\n\\nSpring cleanup bookings are filling up fast. Most March morning slots are already claimed.\\n\\nWhen you wait, you get the last available slot, rushed crews, and no crew consistency. Book early and lock in your preferred date, same crew guarantee, 15% discount, and priority rebooking.\\n\\n\\u201cGreat service! They fit us in on short notice, did a fantastic job cleaning up our lawn.\\u201d \\u2014 Christina Kang (Google Review)\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    emailType: 'spring_week_3',\n    subject: '15% off spring cleanup ends tonight, {name}',\n    previewText: 'After tonight, full price. No exceptions.',\n    headline: 'Last Chance: 15% Off Spring Cleanup',\n    subheadline: 'Tonight at midnight, early bird pricing disappears. This is your final window.',\n    template: 'urgency',\n    alertBadge: 'LAST CHANCE',\n    alertColor: '#C0392B',\n    stakesHtml: '<strong>After tonight, spring cleanup goes back to full price.</strong><br><br>Every year, homeowners email us the day after asking if we can still honor the discount. The answer is always the same: no.<br><br>Here\\'s what you\\'re locking in at 15% off:<br><ul style=\"margin: 8px 0; padding-left: 20px;\"><li>Full debris removal \\u2014 branches, leaves, winter waste</li><li>Bed edging and reshaping</li><li>First mow of the season</li><li>Gutter check and clearing</li><li>2\\u20134 hours of professional crew time</li></ul>At full price, most properties run <strong>$250\\u2013$400</strong>. At 15% off, you\\'re saving <strong>$37\\u2013$60</strong> for booking 30 seconds earlier.',\n    urgencyLabel: 'OFFER EXPIRES',\n    urgencyDisplay: 'Tonight at Midnight \\u2014 March 1',\n    benefitsHtml: '&#10003; Full spring debris removal<br>&#10003; Bed edging &amp; reshaping<br>&#10003; First mow of the season<br>&#10003; Gutter check &amp; clearing<br>&#10003; Same crew all season guarantee<br>&#10003; 15% early bird discount applied',\n    reviewText: 'We just bought our house and the lawn was a mess. We booked TotalGuard for a deep cleanup and now the place actually looks lived-in. Super thankful they squeezed us in before the weekend.',\n    reviewerName: 'Max Rucker',\n    ctaText: 'Claim Your 15% Off Before Midnight \\u2192',\n    ctaUrl: 'https://tgyardcare.com/services/spring-cleanup?utm_source=email&utm_medium=nurture&utm_campaign=spring-2026-last-call',\n    textBody: 'Hi {name},\\n\\nLast chance: 15% off spring cleanup ends tonight at midnight. No exceptions.\\n\\nYou\\'re locking in: full debris removal, bed edging, first mow, gutter check, 2-4 hours of crew time. At full price, most properties run $250-$400. At 15% off, you save $37-$60.\\n\\n\\u201cWe just bought our house and the lawn was a mess. We booked TotalGuard for a deep cleanup and now the place actually looks lived-in.\\u201d \\u2014 Max Rucker (Google Review)\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    emailType: 'spring_week_4',\n    subject: 'Spring cleanup + weekly mowing + fertilization = one call',\n    previewText: 'One booking. An entire season handled.',\n    headline: 'One Booking. An Entire Season Handled.',\n    subheadline: 'Spring cleanup, weekly mowing, and your first fertilization \\u2014 bundled into one simple package.',\n    template: 'hero',\n    bodyHtml: '<p style=\"margin: 0 0 16px 0;\">Here\\'s how most homeowners handle spring:</p><ol style=\"margin: 0 0 16px 0; padding-left: 20px;\"><li style=\"margin-bottom: 6px;\">Book a spring cleanup. Wait for it. Done.</li><li style=\"margin-bottom: 6px;\">Realize the lawn needs mowing. Research companies. Book mowing. Wait.</li><li style=\"margin-bottom: 6px;\">Neighbor\\'s lawn looks greener. Google \\u201cfertilization near me.\\u201d Book that too.</li></ol><p style=\"margin: 0 0 16px 0;\">Three separate bookings. Three separate invoices. Three separate headaches.</p><p style=\"margin: 0 0 16px 0;\"><strong>Or \\u2014 one call. One package. An entire season handled.</strong></p><p style=\"margin: 0 0 8px 0; font-size: 16px; font-weight: 700; color: #2D5A27;\">The Complete Spring Package includes:</p><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"margin: 0 0 16px 0;\"><tr><td style=\"padding: 12px 16px; background-color: #f5f5f0; border-radius: 6px; margin-bottom: 8px;\"><strong style=\"color: #2D5A27;\">&#10003; Spring Cleanup</strong><br><span style=\"font-size: 14px; color: #555;\">Debris removal, bed edging, gutter check, first mow</span></td></tr><tr><td style=\"padding: 4px;\"></td></tr><tr><td style=\"padding: 12px 16px; background-color: #f5f5f0; border-radius: 6px; margin-bottom: 8px;\"><strong style=\"color: #2D5A27;\">&#10003; Weekly Mowing</strong><br><span style=\"font-size: 14px; color: #555;\">Consistent cut schedule, same crew every week, edging included</span></td></tr><tr><td style=\"padding: 4px;\"></td></tr><tr><td style=\"padding: 12px 16px; background-color: #f5f5f0; border-radius: 6px;\"><strong style=\"color: #2D5A27;\">&#10003; First Fertilization</strong><br><span style=\"font-size: 14px; color: #555;\">Custom blend for your soil type, timed for optimal spring absorption</span></td></tr></table><p style=\"margin: 0 0 16px 0;\">Smart homeowners bundle. They make one decision in March and don\\'t think about their yard again until fall.</p><p style=\"margin: 0;\"><strong>This package is available through March 31.</strong> After that, each service is priced individually \\u2014 which always costs more.</p>',\n    reviewText: 'Vance has been doing a good job on my lawn for the last several years. Good worker.',\n    reviewerName: 'Patricia Ellingson',\n    ctaText: 'Get the Complete Spring Package \\u2192',\n    ctaUrl: 'https://tgyardcare.com/contact?utm_source=email&utm_medium=nurture&utm_campaign=spring-2026-package',\n    textBody: 'Hi {name},\\n\\nSpring cleanup + weekly mowing + first fertilization \\u2014 bundled into one simple package. One booking, one price, an entire season handled.\\n\\nThe Complete Spring Package includes: spring cleanup (debris removal, bed edging, gutter check, first mow), weekly mowing (same crew every week), and first fertilization.\\n\\nAvailable through March 31. After that, services priced individually.\\n\\n\\u201cVance has been doing a good job on my lawn for the last several years. Good worker.\\u201d \\u2014 Patricia Ellingson (Google Review)\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  }\n];\n\n// Determine which email to send based on schedule\n// Feb week 1 = email 1, Feb week 3 = email 2, Mar week 1 = email 3, Mar week 3 = email 4\nlet emailIdx;\nif (month === 2 && week <= 2) emailIdx = 0;\nelse if (month === 2) emailIdx = 1;\nelse if (month === 3 && week <= 2) emailIdx = 2;\nelse emailIdx = 3;\n\nconst template = campaignEmails[emailIdx];\n\n// Build dedup set\nconst sentItems = $('Fetch Sent History').all().map(i => i.json);\nconst sentSet = new Set(sentItems.map(s => `${s.contact_email}|${s.email_type}`));\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (!c.email) continue;\n  const dedupKey = `${c.email}|${template.emailType}`;\n  if (sentSet.has(dedupKey)) continue;\n\n  const firstName = c.first_name || 'there';\n  const city = c.city || 'Madison';\n  const subject = template.subject.replace('{name}', firstName).replace('{{first_name}}', firstName).replace('{{city}}', city);\n  const textBody = template.textBody.replace('{name}', firstName);\n\n  // Build HTML\n  let bannerHtml, bodyContentHtml;\n  if (template.template === 'urgency') {\n    bannerHtml = urgencyBanner(template.headline, template.subheadline, template.alertBadge, template.alertColor);\n    bodyContentHtml = bodySection(template.stakesHtml) + urgencyCountdown(template.urgencyLabel, template.urgencyDisplay) + benefitsBox(template.benefitsHtml);\n  } else {\n    bannerHtml = heroBanner(template.headline.replace('{{city}}', city), template.subheadline);\n    bodyContentHtml = bodySection(template.bodyHtml);\n  }\n\n  const htmlBody = buildHtml({\n    previewText: template.previewText.replace('{{city}}', city),\n    bannerHtml: bannerHtml,\n    bodyHtml: bodyContentHtml,\n    reviewHtml: reviewBlock(template.reviewText, template.reviewerName),\n    ctaText: template.ctaText,\n    ctaUrl: template.ctaUrl\n  });\n\n  results.push({ json: { ...c, subject, body: textBody, htmlBody, emailType: template.emailType } });\n}\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "id": "build-email",
      "name": "Build Spring Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "filter-skip",
      "name": "Filter Skipped",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api-key", "value": "={{$vars.TG_BREVO_API_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" }, \"to\": [{ \"email\": \"{{ $json.email }}\", \"name\": \"{{ $json.first_name }}\" }], \"subject\": \"{{ $json.subject }}\", \"htmlContent\": \"{{ $json.htmlBody }}\", \"textContent\": \"{{ $json.body }}\" }"
      },
      "id": "send-spring",
      "name": "Send Spring Nurture Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contact_email\": \"{{ $json.email }}\", \"workflow_name\": \"spring_nurture\", \"email_type\": \"{{ $json.emailType }}\" }"
      },
      "id": "log-send",
      "name": "Log to email_sends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Weekly Mon 9am CT Feb-Mar": { "main": [[{ "node": "Fetch All Customers", "type": "main", "index": 0 }, { "node": "Fetch Sent History", "type": "main", "index": 0 }]] },
    "Fetch All Customers": { "main": [[{ "node": "Build Spring Email", "type": "main", "index": 0 }]] },
    "Fetch Sent History": { "main": [[{ "node": "Build Spring Email", "type": "main", "index": 1 }]] },
    "Build Spring Email": { "main": [[{ "node": "Filter Skipped", "type": "main", "index": 0 }]] },
    "Filter Skipped": { "main": [[{ "node": "Send Spring Nurture Email", "type": "main", "index": 0 }]] },
    "Send Spring Nurture Email": { "main": [[{ "node": "Log to email_sends", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true }
}