automation/n8n-workflows/TG-11-reengagement-ladder.json
{
  "name": "TG-11-reengagement-ladder",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 13 * * *" }] } },
      "id": "schedule",
      "name": "Daily 8am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?select=id,first_name,email,last_job_completed_at,reengagement_stage,last_service",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-customers",
      "name": "Fetch All Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "function buildEmailHtml(options) {\n  const { subject, headline, bodyHtml, reviewText, reviewerName, ctaText, ctaUrl, urgencyText, previewText } = options;\n  return `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>${subject}</title></head><body style=\"margin:0;padding:0;background-color:#f5f5f0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\"><span style=\"display:none;max-height:0;overflow:hidden;\">${previewText || ''}</span><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f0;\"><tr><td align=\"center\" style=\"padding:20px;\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\"><tr><td style=\"background:#2D5A27;padding:20px 30px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#ffffff;font-size:20px;font-weight:bold;\">TotalGuard Yard Care</td><td align=\"right\" style=\"color:#ffffff;font-size:14px;\"><a href=\"tel:6085356057\" style=\"color:#ffffff;text-decoration:none;\">(608) 535-6057</a></td></tr><tr><td colspan=\"2\" style=\"color:#C5A55A;font-size:12px;padding-top:4px;\">Madison's Most Trusted Yard Care</td></tr></table></td></tr><tr><td style=\"padding:30px 30px 10px;\"><h1 style=\"margin:0;color:#2D5A27;font-size:24px;\">${headline}</h1></td></tr><tr><td style=\"padding:10px 30px 20px;color:#1a1a1a;font-size:15px;line-height:1.6;\">${bodyHtml}</td></tr>${reviewText ? `<tr><td style=\"padding:0 30px 20px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#f5f5f0;border-left:4px solid #2D5A27;padding:16px 20px;border-radius:0 6px 6px 0;\"><div style=\"color:#C5A55A;font-size:18px;margin-bottom:8px;\">★★★★★</div><div style=\"color:#333;font-style:italic;font-size:14px;margin-bottom:8px;\">\"${reviewText}\"</div><div style=\"color:#2D5A27;font-weight:bold;font-size:13px;\">— ${reviewerName}</div><div style=\"color:#888;font-size:11px;\">Verified Google Review</div></td></tr></table></td></tr>` : ''}${urgencyText ? `<tr><td style=\"padding:0 30px 20px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#f0f8f0;border:2px solid #2D5A27;border-radius:8px;padding:16px 20px;text-align:center;\"><div style=\"color:#2D5A27;font-weight:bold;font-size:14px;\">${urgencyText}</div></td></tr></table></td></tr>` : ''}<tr><td style=\"padding:0 30px 20px;\" align=\"center\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#2D5A27;border-radius:6px;padding:14px 32px;\"><a href=\"${ctaUrl}\" style=\"color:#ffffff;text-decoration:none;font-weight:bold;font-size:16px;display:inline-block;\">${ctaText}</a></td></tr></table></td></tr><tr><td style=\"padding:0 30px 20px;text-align:center;\"><div style=\"color:#555;font-size:13px;\">Prefer to talk? <a href=\"tel:6085356057\" style=\"color:#2D5A27;font-weight:bold;\">(608) 535-6057</a></div></td></tr><tr><td style=\"padding:10px 30px;text-align:center;border-top:1px solid #eee;\"><div style=\"color:#888;font-size:11px;\">✓ Licensed & Insured &nbsp; ✓ 4.9★ Google Rating &nbsp; ✓ 500+ Properties &nbsp; ✓ Satisfaction Guaranteed</div></td></tr><tr><td style=\"background:#1a1a1a;padding:24px 30px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#ffffff;font-size:14px;font-weight:bold;\">TotalGuard Yard Care</td></tr><tr><td style=\"color:#aaa;font-size:12px;padding-top:6px;\">7610 Welton Dr, Madison, WI 53711</td></tr><tr><td style=\"color:#aaa;font-size:12px;padding-top:4px;\"><a href=\"tel:6085356057\" style=\"color:#C5A55A;\">(608) 535-6057</a> | <a href=\"mailto:totalguardllc@gmail.com\" style=\"color:#C5A55A;\">totalguardllc@gmail.com</a></td></tr><tr><td style=\"padding-top:10px;\"><a href=\"https://facebook.com/totalguardyardcare\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;margin-right:10px;\">Facebook</a> <a href=\"https://instagram.com/totalguardyardcare\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;margin-right:10px;\">Instagram</a> <a href=\"https://g.page/r/CRW5Dsg2JgwBEBM/review\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;\">Google</a></td></tr><tr><td style=\"color:#666;font-size:10px;padding-top:10px;\">Serving Madison, Middleton, Waunakee, Monona, Sun Prairie, Fitchburg, Verona, McFarland, Cottage Grove, DeForest, Oregon & Stoughton</td></tr></table></td></tr></table></td></tr></table></body></html>`;\n}\n\nconst results = [];\nconst stages = [\n  { days: 30, stage: 1, subject: 'We miss your lawn! \\u{1F33F}', body: 'Hi {name}, it\\'s been a while! Here\\'s a seasonal tip: {tip}. Ready to book? tgyardcare.com' },\n  { days: 60, stage: 2, subject: 'Your Madison neighbors are loving their lawns', body: 'Hi {name}, TotalGuard is keeping hundreds of Madison yards beautiful. We\\'d love to get yours back on track! tgyardcare.com' },\n  { days: 90, stage: 3, subject: '10% comeback offer \\u2014 just for you', body: 'Hi {name}, we want you back! Use code COMEBACK10 for 10% off your next service. Book at tgyardcare.com or call (608) 535-6057.' },\n  { days: 120, stage: 4, subject: 'Last chance: 15% off to come back to TotalGuard', body: 'Hi {name}, this is your last discount offer: 15% off when you rebook. Code: LASTCHANCE15. Valid 7 days. tgyardcare.com' },\n  { days: 180, stage: 5, subject: 'Should we remove you from our list?', body: 'Hi {name}, we haven\\'t heard from you in a while. Should we remove you? If you\\'d like to stay connected, reply STAY. Otherwise no action needed.' }\n];\n\nconst stageHtml = [\n  { headline: 'We miss taking care of your lawn!', bodyHtml: '<p>Hi {name},</p><p>It\\'s been a little while since your last TotalGuard service, and we wanted to check in!</p><p>Here\\'s a quick seasonal tip from our team: <strong>water deeply 2-3 times per week</strong> rather than a light daily sprinkle. Deep watering encourages stronger root growth and a more resilient lawn.</p><p>We\\'d love to get your yard back on our schedule whenever you\\'re ready.</p>', ctaText: 'Book a Service', reviewText: 'Took a break from lawn care and my yard suffered. One call to TotalGuard and it was back to looking amazing within weeks.', reviewerName: 'Chris P., Monona', previewText: 'We miss your lawn, {name}! Here\\'s a seasonal tip and an easy way to rebook.' },\n  { headline: 'Your neighbors are loving their TotalGuard lawns', bodyHtml: '<p>Hi {name},</p><p>TotalGuard is keeping <strong>hundreds of Madison yards</strong> looking beautiful this season. From Middleton to Sun Prairie, homeowners trust us to deliver consistent, professional results.</p><p>We\\'d love to get your property back on track too. Whether it\\'s weekly mowing, a cleanup, or full-service care — we\\'ve got you covered.</p>', ctaText: 'Rejoin TotalGuard', reviewText: 'Best lawn care company in Madison, hands down. Reliable, professional, and my yard has never looked better.', reviewerName: 'Amanda S., Sun Prairie', urgencyText: 'Over 500 Madison properties served — join your neighbors today!', previewText: 'Your Madison neighbors are choosing TotalGuard. Here\\'s why.' },\n  { headline: 'Welcome back! Here\\'s 10% off on us', bodyHtml: '<p>Hi {name},</p><p>We want you back! As a thank-you for being a past customer, here\\'s an <strong>exclusive 10% discount</strong> on your next service.</p><p style=\"background:#f0f8f0;border:2px dashed #2D5A27;border-radius:8px;padding:16px;text-align:center;font-size:18px;\"><strong>Use code: COMEBACK10</strong></p><p>This offer is just for you — valid on any TotalGuard service including mowing, cleanups, fertilization, and more.</p>', ctaText: 'Use My 10% Discount', urgencyText: '\\u23F0 Limited time offer — book this week to save!', previewText: 'We want you back, {name}! Here\\'s 10% off your next service.' },\n  { headline: 'Final offer: 15% off to come back', bodyHtml: '<p>Hi {name},</p><p>This is our <strong>best and final offer</strong> — <strong>15% off</strong> any TotalGuard service when you rebook within the next 7 days.</p><p style=\"background:#f0f8f0;border:2px dashed #2D5A27;border-radius:8px;padding:16px;text-align:center;font-size:18px;\"><strong>Use code: LASTCHANCE15</strong><br><span style=\"font-size:13px;color:#555;\">Valid for 7 days only</span></p><p>We\\'d hate to see you go. Your lawn deserves the best care, and we\\'re ready to deliver.</p>', ctaText: 'Claim 15% Off Now', urgencyText: '\\u26A0\\uFE0F This is your final discount offer — expires in 7 days!', previewText: 'Last chance, {name}: 15% off any TotalGuard service. Expires in 7 days.' },\n  { headline: 'Should we remove you from our list?', bodyHtml: '<p>Hi {name},</p><p>We haven\\'t heard from you in a while, and we want to respect your inbox.</p><p>If you\\'d still like to receive occasional updates and offers from TotalGuard, <strong>no action is needed</strong> — we\\'ll keep you on our list.</p><p>If you\\'d like to come back for service, we\\'re always just a call or click away. And if not, that\\'s okay too — just reply with \"remove\" and we\\'ll take you off our list.</p><p>Either way, it was a pleasure serving your property!</p>', ctaText: 'I Want to Stay!', previewText: 'Quick check-in from TotalGuard — should we keep you on our list?' }\n];\n\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (!c.last_job_completed_at || !c.email) continue;\n  const daysSince = Math.floor((Date.now() - new Date(c.last_job_completed_at)) / (1000*60*60*24));\n  const currentStage = c.reengagement_stage || 0;\n  const nextStage = stages.find(s => s.days <= daysSince && s.stage > currentStage);\n  if (!nextStage) continue;\n  const tip = 'water deeply twice a week and avoid cutting more than 1/3 of grass height';\n  const stageIdx = nextStage.stage - 1;\n  const html = stageHtml[stageIdx];\n\n  const htmlBody = buildEmailHtml({\n    subject: nextStage.subject,\n    headline: html.headline.replace('{name}', c.first_name),\n    bodyHtml: html.bodyHtml.replace(/\\{name\\}/g, c.first_name),\n    reviewText: html.reviewText,\n    reviewerName: html.reviewerName,\n    ctaText: html.ctaText,\n    ctaUrl: 'https://tgyardcare.com',\n    urgencyText: html.urgencyText,\n    previewText: (html.previewText || '').replace(/\\{name\\}/g, c.first_name)\n  });\n\n  results.push({ json: { ...c, subject: nextStage.subject, body: nextStage.body.replace('{name}', c.first_name).replace('{tip}', tip), htmlBody, newStage: nextStage.stage } });\n}\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "id": "determine-stage",
      "name": "Determine Reengagement Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "filter-skip",
      "name": "Filter Skipped",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api-key", "value": "={{$vars.TG_BREVO_API_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" }, \"to\": [{ \"email\": \"{{ $json.email }}\", \"name\": \"{{ $json.first_name }}\" }], \"subject\": \"{{ $json.subject }}\", \"htmlContent\": \"{{ $json.htmlBody }}\", \"textContent\": \"{{ $json.body }}\" }"
      },
      "id": "send-reengagement",
      "name": "Send Reengagement Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?id=eq.{{$('Determine Reengagement Stage').item.json.id}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "bodyParameters": { "parameters": [{ "name": "reengagement_stage", "value": "={{$('Determine Reengagement Stage').item.json.newStage}}" }] }
      },
      "id": "update-stage",
      "name": "Update Customer Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contact_email\": \"{{ $('Determine Reengagement Stage').item.json.email }}\", \"workflow_name\": \"reengagement\", \"email_type\": \"reengagement_stage_{{ $('Determine Reengagement Stage').item.json.newStage }}\" }"
      },
      "id": "log-send",
      "name": "Log to email_sends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 8am CT": { "main": [[{ "node": "Fetch All Customers", "type": "main", "index": 0 }]] },
    "Fetch All Customers": { "main": [[{ "node": "Determine Reengagement Stage", "type": "main", "index": 0 }]] },
    "Determine Reengagement Stage": { "main": [[{ "node": "Filter Skipped", "type": "main", "index": 0 }]] },
    "Filter Skipped": { "main": [[{ "node": "Send Reengagement Email", "type": "main", "index": 0 }]] },
    "Send Reengagement Email": { "main": [[{ "node": "Update Customer Stage", "type": "main", "index": 0 }, { "node": "Log to email_sends", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true }
}