automation/n8n-workflows/TG-26-field-marketing-reminder.json
{
  "name": "TG-26-field-marketing-reminder",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14-22 * * 1-6" }] } },
      "id": "schedule",
      "name": "Hourly 9am-5pm CT Mon-Sat",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/field_marketing_tasks?status=eq.pending&created_at=lte.{{ new Date(Date.now()-2*60*60*1000).toISOString() }}&select=id,job_address,created_at",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-overdue",
      "name": "Fetch Overdue Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{$json.length}}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }] }
      },
      "id": "has-overdue",
      "name": "Has Overdue Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.all().map(i => i.json);\nconst list = tasks.map(t => t.job_address).join(', ');\nreturn [{ json: { message: `⚠️ REMINDER: ${tasks.length} field marketing task(s) overdue! Addresses: ${list}. Please complete ASAP. - TG System` } }];"
      },
      "id": "format-reminder",
      "name": "Format Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": { "operation": "send", "from": "={{$vars.TG_TWILIO_PHONE_NUMBER}}", "to": "={{$vars.TG_CREW_PHONE_NUMBERS}}", "message": "={{$json.message}}" },
      "id": "sms-reminder",
      "name": "SMS Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [880, 200],
      "credentials": { "twilioApi": { "id": "twilio", "name": "Twilio" } }
    }
  ],
  "connections": {
    "Hourly 9am-5pm CT Mon-Sat": { "main": [[{ "node": "Fetch Overdue Tasks", "type": "main", "index": 0 }]] },
    "Fetch Overdue Tasks": { "main": [[{ "node": "Has Overdue Tasks?", "type": "main", "index": 0 }]] },
    "Has Overdue Tasks?": { "main": [[{ "node": "Format Reminder", "type": "main", "index": 0 }], []] },
    "Format Reminder": { "main": [[{ "node": "SMS Reminder", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true }
}
