automation/n8n-workflows/TG-45-keyword-rank-tracker.json
{
  "name": "TG-45-keyword-rank-tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Target keywords for TotalGuard Yard Care\n// Core service keywords + city variants across 12 service areas\nconst coreKeywords = [\n  'lawn care',\n  'lawn mowing',\n  'fertilization service',\n  'lawn fertilization',\n  'weed control',\n  'aeration and overseeding',\n  'lawn aeration',\n  'spring lawn care',\n  'fall lawn care',\n  'yard maintenance',\n  'grass cutting service',\n  'lawn treatment',\n  'snow removal',\n  'landscaping'\n];\n\n// 12 TotalGuard service areas\nconst cities = [\n  'madison wi',\n  'sun prairie wi',\n  'middleton wi',\n  'fitchburg wi',\n  'verona wi',\n  'waunakee wi',\n  'deforest wi',\n  'monona wi',\n  'mcfarland wi',\n  'cottage grove wi',\n  'cross plains wi',\n  'oregon wi'\n];\n\n// Build keyword list: core x city combos + generic near-me + brand\nconst keywords = [];\nfor (const kw of coreKeywords) {\n  for (const city of cities) {\n    keywords.push(`${kw} ${city}`);\n  }\n}\n// Add generic near-me terms\nkeywords.push('lawn care near me');\nkeywords.push('lawn mowing service near me');\nkeywords.push('yard care near me');\nkeywords.push('best lawn care madison wi');\nkeywords.push('affordable lawn care madison');\nkeywords.push('commercial lawn care madison wi');\nkeywords.push('lawn care service dane county');\nkeywords.push('organic lawn care madison wi');\nkeywords.push('totalguard yard care');\n\n// GSC data lag: use same date range as TG-96\nconst syncDate = new Date(Date.now() - 2 * 24 * 60 * 60 * 1000)\n  .toISOString().split('T')[0];\n\nreturn [{ json: { keywords, keywordCount: keywords.length, syncDate } }];"
      },
      "id": "define-keywords",
      "name": "Define Target Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/gsc_search_queries?date=eq.{{ $json.syncDate }}&select=query,position,clicks,impressions,ctr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            }
          ]
        }
      },
      "id": "fetch-gsc-data",
      "name": "Fetch GSC Query Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Match target keywords against GSC data and build seo_rankings rows\nconst keywords = $('Define Target Keywords').first().json.keywords;\nconst syncDate = $('Define Target Keywords').first().json.syncDate;\nconst gscRows = $input.first().json || [];\n\n// Build lookup map from GSC data (query -> row)\nconst gscMap = new Map();\nconst dataArray = Array.isArray(gscRows) ? gscRows : (gscRows.body || []);\nfor (const row of dataArray) {\n  if (row.query) {\n    gscMap.set(row.query.toLowerCase(), row);\n  }\n}\n\nconst rankings = keywords.map(kw => {\n  const match = gscMap.get(kw.toLowerCase());\n  return {\n    keyword: kw,\n    position: match ? Math.round(match.position * 100) / 100 : null,\n    clicks: match ? (match.clicks || 0) : 0,\n    impressions: match ? (match.impressions || 0) : 0,\n    date: syncDate\n  };\n});\n\n// Filter to only keywords that have GSC data (position != null)\nconst withData = rankings.filter(r => r.position !== null);\nconst withoutData = rankings.filter(r => r.position === null);\n\nreturn [{ json: {\n  upsertData: withData,\n  trackedCount: withData.length,\n  missingCount: withoutData.length,\n  missingKeywords: withoutData.map(r => r.keyword),\n  syncDate\n}}];"
      },
      "id": "match-keywords",
      "name": "Match Keywords to GSC Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/seo_rankings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.upsertData) }}"
      },
      "id": "upsert-rankings",
      "name": "Upsert seo_rankings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/automation_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_id: 'TG-45', workflow_name: 'keyword-rank-tracker', status: 'success', metadata: { tracked: $json.trackedCount, missing: $json.missingCount, totalKeywords: $('Define Target Keywords').first().json.keywordCount, syncDate: $json.syncDate }, ran_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "log-run",
      "name": "Log to automation_runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [{ "node": "Define Target Keywords", "type": "main", "index": 0 }]
      ]
    },
    "Define Target Keywords": {
      "main": [
        [{ "node": "Fetch GSC Query Data", "type": "main", "index": 0 }]
      ]
    },
    "Fetch GSC Query Data": {
      "main": [
        [{ "node": "Match Keywords to GSC Data", "type": "main", "index": 0 }]
      ]
    },
    "Match Keywords to GSC Data": {
      "main": [
        [{ "node": "Upsert seo_rankings", "type": "main", "index": 0 }]
      ]
    },
    "Upsert seo_rankings": {
      "main": [
        [{ "node": "Log to automation_runs", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}
