automation/n8n-workflows/TG-47-indexnow-submitter.json
{
  "name": "TG-47-indexnow-submitter",
  "nodes": [
    { "parameters": {}, "id": "trigger", "name": "Execute Workflow Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [0, 300] },
    { "parameters": { "method": "POST", "url": "https://api.indexnow.org/indexnow", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={ \"host\": \"tgyardcare.com\", \"key\": \"{{ $vars.TG_INDEXNOW_KEY }}\", \"keyLocation\": \"https://tgyardcare.com/{{ $vars.TG_INDEXNOW_KEY }}.txt\", \"urlList\": [\"{{ $json.url }}\"] }" }, "id": "submit-indexnow", "name": "Submit to IndexNow", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 300] },
    { "parameters": { "method": "POST", "url": "https://www.bing.com/indexnow", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={ \"host\": \"tgyardcare.com\", \"key\": \"{{ $vars.TG_INDEXNOW_KEY }}\", \"urlList\": [\"{{ $('Execute Workflow Trigger').first().json.url }}\"] }" }, "id": "submit-bing", "name": "Submit to Bing", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300] },
    { "parameters": { "method": "POST", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/seo_intelligence_log", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "bodyParameters": { "parameters": [{ "name": "event_type", "value": "indexnow_submitted" }, { "name": "url", "value": "={{$('Execute Workflow Trigger').first().json.url}}" }, { "name": "logged_at", "value": "={{ new Date().toISOString() }}" }] } }, "id": "log-submission", "name": "Log Submission", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 300] }
  ],
  "connections": { "Execute Workflow Trigger": { "main": [[{ "node": "Submit to IndexNow", "type": "main", "index": 0 }]] }, "Submit to IndexNow": { "main": [[{ "node": "Submit to Bing", "type": "main", "index": 0 }]] }, "Submit to Bing": { "main": [[{ "node": "Log Submission", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
