automation/n8n-workflows/TG-45-keyword-rank-tracker.json
{
  "name": "TG-45-keyword-rank-tracker",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 11 * * 1" }] } }, "id": "schedule", "name": "Weekly Mon 6am CT", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300] },
    { "parameters": { "method": "GET", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/keyword_rankings?select=id,keyword,target_position&limit=50", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] } }, "id": "fetch-keywords", "name": "Fetch Target Keywords", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 300] },
    { "parameters": { "method": "POST", "url": "https://searchconsole.googleapis.com/v1/sites/https%3A%2F%2Ftgyardcare.com/searchAnalytics/query", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$vars.TG_GOOGLE_SEARCH_CONSOLE_TOKEN}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={ \"startDate\": \"{{ new Date(Date.now()-7*24*60*60*1000).toISOString().split('T')[0] }}\", \"endDate\": \"{{ new Date().toISOString().split('T')[0] }}\", \"dimensions\": [\"query\"], \"rowLimit\": 100 }" }, "id": "fetch-gsc", "name": "Fetch GSC Rankings", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300] },
    { "parameters": { "method": "POST", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/keyword_rankings", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "resolution=merge-duplicates" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify(($json.rows || []).map(r => ({ keyword: r.keys[0], position: Math.round(r.position), clicks: r.clicks, impressions: r.impressions, checked_at: new Date().toISOString() }))) }}" }, "id": "upsert-rankings", "name": "Upsert Rankings", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 300] }
  ],
  "connections": { "Weekly Mon 6am CT": { "main": [[{ "node": "Fetch Target Keywords", "type": "main", "index": 0 }]] }, "Fetch Target Keywords": { "main": [[{ "node": "Fetch GSC Rankings", "type": "main", "index": 0 }]] }, "Fetch GSC Rankings": { "main": [[{ "node": "Upsert Rankings", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
