automation/n8n-workflows/TG-46-gbp-post-scheduler.json
{
  "name": "TG-46-gbp-post-scheduler",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14 * * 3" }] } }, "id": "schedule", "name": "Weekly Wed 9am CT", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300] },
    { "parameters": { "method": "GET", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/gbp_posts?status=eq.scheduled&scheduled_for=lte.{{ new Date().toISOString() }}&select=id,content,call_to_action,topic_type", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] } }, "id": "fetch-posts", "name": "Fetch Scheduled GBP Posts", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 300] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{$json.length}}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }] } }, "id": "has-posts", "name": "Has Scheduled Posts?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [440, 300] },
    { "parameters": { "method": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{$vars.TG_ANTHROPIC_API_KEY}}" }, { "name": "anthropic-version", "value": "2023-06-01" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={ \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 300, \"messages\": [{ \"role\": \"user\", \"content\": \"Write a Google Business Profile post for TotalGuard Yard Care (Madison WI). Current month: {{ new Date().toLocaleDateString('en-US', {month: 'long'}) }}. Seasonal lawn care tip or service promo. Max 1500 chars. Professional, local, action-oriented.\" }] }" }, "id": "auto-generate", "name": "Auto-Generate Post", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 400] },
    { "parameters": { "method": "PATCH", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/gbp_posts?id=eq.{{$json.id}}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "bodyParameters": { "parameters": [{ "name": "status", "value": "published" }, { "name": "published_at", "value": "={{ new Date().toISOString() }}" }] } }, "id": "mark-published", "name": "Mark Published", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 200] }
  ],
  "connections": { "Weekly Wed 9am CT": { "main": [[{ "node": "Fetch Scheduled GBP Posts", "type": "main", "index": 0 }]] }, "Fetch Scheduled GBP Posts": { "main": [[{ "node": "Has Scheduled Posts?", "type": "main", "index": 0 }]] }, "Has Scheduled Posts?": { "main": [[{ "node": "Mark Published", "type": "main", "index": 0 }], [{ "node": "Auto-Generate Post", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
