automation/n8n-workflows/TG-59-sms-consent-manager.json
{
  "name": "TG-59-sms-consent-manager",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "tg-sms-consent", "responseMode": "responseNode" }, "id": "webhook", "name": "SMS Consent Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300], "webhookId": "tg-sms-consent" },
    { "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst phone = (body.From || body.phone || '').replace(/[^0-9+]/g, '');\nconst messageBody = (body.Body || body.message || '').toUpperCase().trim();\n\nlet action = null;\nif (messageBody === 'STOP' || messageBody === 'UNSUBSCRIBE' || messageBody === 'QUIT' || messageBody === 'CANCEL') {\n  action = 'opt_out';\n} else if (messageBody === 'START' || messageBody === 'SUBSCRIBE' || messageBody === 'YES') {\n  action = 'opt_in';\n} else if (messageBody === 'HELP') {\n  action = 'help';\n} else {\n  action = 'unknown';\n}\n\nreturn [{ json: { phone, message: messageBody, action, processed_at: new Date().toISOString() } }];" }, "id": "parse-message", "name": "Parse SMS Action", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300] },
    { "parameters": { "rules": { "values": [{ "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{$json.action}}", "rightValue": "opt_out", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }, { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{$json.action}}", "rightValue": "opt_in", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }] } }, "id": "route-action", "name": "Route by Action", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [440, 300] },
    { "parameters": { "method": "PATCH", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$json.phone}}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "bodyParameters": { "parameters": [{ "name": "sms_consent", "value": "false" }, { "name": "sms_opted_out_at", "value": "={{ new Date().toISOString() }}" }] } }, "id": "process-optout", "name": "Update Opt-Out", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 200] },
    { "parameters": { "method": "PATCH", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$json.phone}}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "bodyParameters": { "parameters": [{ "name": "sms_consent", "value": "true" }, { "name": "sms_opted_in_at", "value": "={{ new Date().toISOString() }}" }] } }, "id": "process-optin", "name": "Update Opt-In", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 400] },
    { "parameters": { "respondWith": "text", "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>You have been unsubscribed from TotalGuard Yard Care messages. Reply START to re-subscribe.</Message></Response>", "options": { "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/xml" }] } } }, "id": "respond-optout", "name": "TwiML Optout Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 200] },
    { "parameters": { "respondWith": "text", "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>Welcome back to TotalGuard Yard Care! You'll receive service updates and offers. Reply STOP to unsubscribe.</Message></Response>", "options": { "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/xml" }] } } }, "id": "respond-optin", "name": "TwiML Optin Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 400] }
  ],
  "connections": { "SMS Consent Webhook": { "main": [[{ "node": "Parse SMS Action", "type": "main", "index": 0 }]] }, "Parse SMS Action": { "main": [[{ "node": "Route by Action", "type": "main", "index": 0 }]] }, "Route by Action": { "main": [[{ "node": "Update Opt-Out", "type": "main", "index": 0 }], [{ "node": "Update Opt-In", "type": "main", "index": 0 }]] }, "Update Opt-Out": { "main": [[{ "node": "TwiML Optout Response", "type": "main", "index": 0 }]] }, "Update Opt-In": { "main": [[{ "node": "TwiML Optin Response", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
