automation/n8n-workflows/TG-52-schema-validator.json
{
  "name": "TG-52-schema-validator",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14 * * 0" }] } }, "id": "schedule", "name": "Weekly Sun 9am CT", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300] },
    { "parameters": { "jsCode": "const pages = ['https://tgyardcare.com','https://tgyardcare.com/lawn-mowing','https://tgyardcare.com/snow-removal','https://tgyardcare.com/spring-cleanup','https://tgyardcare.com/gutter-cleaning','https://tgyardcare.com/hardscaping'];\nreturn pages.map(url => ({ json: { url } }));" }, "id": "get-pages", "name": "Get Key Pages", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300] },
    { "parameters": { "method": "GET", "url": "={{$json.url}}", "options": { "response": { "response": { "responseFormat": "text" } } } }, "id": "fetch-page", "name": "Fetch Page HTML", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300] },
    { "parameters": { "jsCode": "const html = $input.first().json;\nconst url = $('Get Key Pages').first().json.url;\nconst hasSchema = typeof html === 'string' && html.includes('application/ld+json');\nreturn [{ json: { url, has_schema: hasSchema, checked_at: new Date().toISOString() } }];" }, "id": "check-schema", "name": "Check for Schema", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300] },
    { "parameters": { "method": "POST", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/seo_intelligence_log", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "bodyParameters": { "parameters": [{ "name": "event_type", "value": "schema_check" }, { "name": "url", "value": "={{$json.url}}" }, { "name": "notes", "value": "=Schema present: {{$json.has_schema}}" }, { "name": "logged_at", "value": "={{ new Date().toISOString() }}" }] } }, "id": "log-result", "name": "Log Result", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 300] }
  ],
  "connections": { "Weekly Sun 9am CT": { "main": [[{ "node": "Get Key Pages", "type": "main", "index": 0 }]] }, "Get Key Pages": { "main": [[{ "node": "Fetch Page HTML", "type": "main", "index": 0 }]] }, "Fetch Page HTML": { "main": [[{ "node": "Check for Schema", "type": "main", "index": 0 }]] }, "Check for Schema": { "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
