automation/n8n-workflows/TG-58-pricing-optimizer.json
{
  "name": "TG-58-pricing-optimizer",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 6 1 4,10 *" }] } }, "id": "schedule", "name": "Seasonal Apr+Oct 6am CT", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300] },
    { "parameters": { "jsCode": "const now = new Date();\nconst month = now.getMonth() + 1; // 1-12\n\n// Seasonal demand multipliers for Madison WI\nconst seasonalMultipliers = {\n  1: 0.3, 2: 0.3, 3: 0.7,   // Winter/early spring\n  4: 1.2, 5: 1.4, 6: 1.3,   // Peak spring\n  7: 1.1, 8: 1.0, 9: 1.2,   // Summer/fall start\n  10: 1.3, 11: 1.4, 12: 0.8 // Peak fall, pre-winter\n};\n\nconst multiplier = seasonalMultipliers[month] || 1.0;\n\n// Base pricing recommendations\nconst services = [\n  { service: 'lawn-mowing', base_price: 45, unit: 'per visit' },\n  { service: 'spring-cleanup', base_price: 250, unit: 'per service' },\n  { service: 'fall-cleanup', base_price: 275, unit: 'per service' },\n  { service: 'snow-removal', base_price: 75, unit: 'per visit' },\n  { service: 'gutter-cleaning', base_price: 150, unit: 'per service' },\n  { service: 'hardscaping', base_price: 1500, unit: 'per project' }\n];\n\nconst recommendations = services.map(s => ({\n  ...s,\n  recommended_price: Math.round(s.base_price * multiplier),\n  multiplier,\n  season: month >= 4 && month <= 6 ? 'spring' : month >= 7 && month <= 9 ? 'summer' : month >= 10 && month <= 11 ? 'fall' : 'winter'\n}));\n\nreturn [{ json: { month, multiplier, recommendations, updated_at: now.toISOString() } }];" }, "id": "calculate-pricing", "name": "Calculate Seasonal Pricing", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300] },
    { "parameters": { "method": "POST", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/seo_intelligence_log", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "bodyParameters": { "parameters": [{ "name": "event_type", "value": "pricing_update" }, { "name": "notes", "value": "=Seasonal multiplier: {{$json.multiplier}}x for month {{$json.month}}. {{$json.recommendations.length}} services updated." }, { "name": "logged_at", "value": "={{$json.updated_at}}" }] } }, "id": "log-pricing", "name": "Log Pricing Update", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300] },
    { "parameters": { "operation": "send", "from": "={{$vars.TG_TWILIO_PHONE_NUMBER}}", "to": "={{$vars.TG_OWNER_PHONE}}", "message": "=TG Pricing Review: Seasonal multiplier is {{$('Calculate Seasonal Pricing').first().json.multiplier}}x. Review your Jobber pricing for the upcoming season. - TG System" }, "id": "notify-owner", "name": "Notify Owner", "type": "n8n-nodes-base.twilio", "typeVersion": 1, "position": [660, 300], "credentials": { "twilioApi": { "id": "twilio", "name": "Twilio" } } }
  ],
  "connections": { "Seasonal Apr+Oct 6am CT": { "main": [[{ "node": "Calculate Seasonal Pricing", "type": "main", "index": 0 }]] }, "Calculate Seasonal Pricing": { "main": [[{ "node": "Log Pricing Update", "type": "main", "index": 0 }]] }, "Log Pricing Update": { "main": [[{ "node": "Notify Owner", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
