automation/n8n-workflows/TG-50-content-refresher.json
{
  "name": "TG-50-content-refresher",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 13 * * 4" }] } }, "id": "schedule", "name": "Weekly Thu 8am CT", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300] },
    { "parameters": { "method": "GET", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/blog_posts?status=eq.published&updated_at=lt.{{ new Date(Date.now()-180*24*60*60*1000).toISOString() }}&order=updated_at.asc&limit=1&select=id,title,content,slug", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] } }, "id": "fetch-stale", "name": "Fetch Oldest Post", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 300] },
    { "parameters": { "method": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{$vars.TG_ANTHROPIC_API_KEY}}" }, { "name": "anthropic-version", "value": "2023-06-01" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={ \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 2000, \"messages\": [{ \"role\": \"user\", \"content\": \"Refresh this lawn care article for 2026. Keep the same slug/URL. Update any outdated info, add new Madison WI-specific tips, improve SEO targeting. Title: {{ $json[0].title }}\\n\\nOriginal content (first 1000 chars): {{ ($json[0].content || '').substring(0, 1000) }}\\n\\nReturn refreshed content as plain text, ready to publish.\" }] }" }, "id": "refresh-content", "name": "Refresh via Claude", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300] },
    { "parameters": { "jsCode": "const post = $('Fetch Oldest Post').first().json[0];\nconst refreshed = $input.first().json.content?.[0]?.text || '';\nreturn [{ json: { post_id: post.id, refreshed_content: refreshed, updated_at: new Date().toISOString() } }];" }, "id": "extract-content", "name": "Extract Refreshed Content", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300] },
    { "parameters": { "method": "PATCH", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/blog_posts?id=eq.{{$json.post_id}}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "bodyParameters": { "parameters": [{ "name": "content", "value": "={{$json.refreshed_content}}" }, { "name": "updated_at", "value": "={{$json.updated_at}}" }] } }, "id": "update-post", "name": "Update Blog Post", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 300] }
  ],
  "connections": { "Weekly Thu 8am CT": { "main": [[{ "node": "Fetch Oldest Post", "type": "main", "index": 0 }]] }, "Fetch Oldest Post": { "main": [[{ "node": "Refresh via Claude", "type": "main", "index": 0 }]] }, "Refresh via Claude": { "main": [[{ "node": "Extract Refreshed Content", "type": "main", "index": 0 }]] }, "Extract Refreshed Content": { "main": [[{ "node": "Update Blog Post", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
