automation/n8n-workflows/TG-63-winback-engine.json
{
  "name": "TG-63-winback-engine",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 1 * *" }] } },
      "id": "schedule",
      "name": "Monthly 1st 10am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?select=id,first_name,last_name,email,phone,last_job_date,total_spend,sms_consent&health_segment=eq.dormant&last_job_date=lt.{{ new Date(Date.now()-90*86400000).toISOString() }}&limit=50",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-dormant",
      "name": "Fetch Dormant Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends?workflow_name=eq.winback&select=contact_email,email_type",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-sent",
      "name": "Fetch Sent History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "const customers = $('Fetch Dormant Customers').all().map(i => i.json);\nconst sentHistory = $('Fetch Sent History').all().map(i => i.json);\nconst now = new Date();\nconst month = now.toISOString().substring(0, 7);\n\nconst sentSet = new Set(sentHistory.map(s => `${s.contact_email}|${s.email_type}`));\n\nconst results = [];\nfor (const c of customers) {\n  if (!c.email) continue;\n  const daysSince = c.last_job_date ? Math.floor((now - new Date(c.last_job_date)) / 86400000) : 999;\n  \n  let offer, discount;\n  if ((c.total_spend || 0) >= 500) {\n    offer = 'loyal_comeback';\n    discount = '20% off your next service';\n  } else if (daysSince < 365) {\n    offer = 'seasonal_return';\n    discount = '15% off + free estimate';\n  } else {\n    offer = 'reactivation';\n    discount = '$25 off your first service back';\n  }\n  \n  const emailType = `winback_${offer}_${month}`;\n  if (sentSet.has(`${c.email}|${emailType}`)) continue;\n  \n  results.push({ json: { ...c, days_since_last_job: daysSince, offer, discount, emailType } });\n}\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "id": "prepare-offers",
      "name": "Prepare Winback Offers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "filter-skip",
      "name": "Filter Skipped",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api-key", "value": "={{$vars.TG_BREVO_API_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" }, \"to\": [{ \"email\": \"{{ $json.email }}\", \"name\": \"{{ $json.first_name }}\" }], \"subject\": \"We miss you, {{ $json.first_name }}! Here's {{ $json.discount }}\", \"htmlContent\": \"<h2>Hi {{ $json.first_name }},</h2><p>It's been a while since we've cared for your yard - we miss you! As a valued past customer, we'd love to have you back.</p><p><strong>Special offer just for you: {{ $json.discount }}</strong></p><p>Madison's weather is always changing, and your yard deserves professional care year-round. Call or text us at (608) 535-6057 to schedule.</p><p>This offer expires in 30 days.</p><p>- The TotalGuard Team</p>\" }"
      },
      "id": "send-winback-email",
      "name": "Send Winback Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?id=eq.{{$('Prepare Winback Offers').item.json.id}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"last_winback_attempt\": \"{{ new Date().toISOString() }}\" }"
      },
      "id": "log-winback",
      "name": "Log Winback Attempt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contact_email\": \"{{ $('Prepare Winback Offers').item.json.email }}\", \"workflow_name\": \"winback\", \"email_type\": \"{{ $('Prepare Winback Offers').item.json.emailType }}\" }"
      },
      "id": "log-send",
      "name": "Log to email_sends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Monthly 1st 10am CT": { "main": [[{ "node": "Fetch Dormant Customers", "type": "main", "index": 0 }, { "node": "Fetch Sent History", "type": "main", "index": 0 }]] },
    "Fetch Dormant Customers": { "main": [[{ "node": "Prepare Winback Offers", "type": "main", "index": 0 }]] },
    "Fetch Sent History": { "main": [[{ "node": "Prepare Winback Offers", "type": "main", "index": 1 }]] },
    "Prepare Winback Offers": { "main": [[{ "node": "Filter Skipped", "type": "main", "index": 0 }]] },
    "Filter Skipped": { "main": [[{ "node": "Send Winback Email", "type": "main", "index": 0 }]] },
    "Send Winback Email": { "main": [[{ "node": "Log Winback Attempt", "type": "main", "index": 0 }, { "node": "Log to email_sends", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true }
}
