automation/n8n-workflows/TG-63-winback-engine.json
{
  "name": "TG-63-winback-engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?status=in.(customer,active,converted)&select=id,first_name,last_name,email,phone,service,updated_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-customers",
      "name": "Fetch Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const customers = $input.all().map(i => i.json);\nconst now = Date.now();\nconst ninetyDaysMs = 90 * 24 * 60 * 60 * 1000;\n\nconst dormant = customers.filter(c => {\n  if (!c.updated_at) return false;\n  const elapsed = now - new Date(c.updated_at).getTime();\n  if (elapsed < ninetyDaysMs) return false;\n  if (!c.email && !c.phone) return false;\n  return true;\n});\n\nif (dormant.length === 0) return [];\n\nreturn dormant.map(c => {\n  const daysSince = Math.floor((now - new Date(c.updated_at).getTime()) / (24 * 60 * 60 * 1000));\n  return { json: { ...c, days_dormant: daysSince } };\n});"
      },
      "id": "identify-dormant",
      "name": "Identify Dormant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "function buildEmailHtml(options) {\n  const { subject, headline, bodyHtml, ctaText, ctaUrl, previewText } = options;\n  return `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>${subject}</title></head><body style=\"margin:0;padding:0;background-color:#f5f5f0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\"><span style=\"display:none;max-height:0;overflow:hidden;\">${previewText || ''}</span><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f0;\"><tr><td align=\"center\" style=\"padding:20px;\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08);\"><tr><td style=\"background:#2D5A27;padding:20px 30px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#ffffff;font-size:20px;font-weight:bold;\">TotalGuard Yard Care</td><td align=\"right\" style=\"color:#ffffff;font-size:14px;\"><a href=\"tel:6085356057\" style=\"color:#ffffff;text-decoration:none;\">(608) 535-6057</a></td></tr><tr><td colspan=\"2\" style=\"color:#C5A55A;font-size:12px;padding-top:4px;\">Madison's Most Trusted Yard Care</td></tr></table></td></tr><tr><td style=\"padding:30px 30px 10px;\"><h1 style=\"margin:0;color:#2D5A27;font-size:24px;\">${headline}</h1></td></tr><tr><td style=\"padding:10px 30px 20px;color:#1a1a1a;font-size:15px;line-height:1.6;\">${bodyHtml}</td></tr><tr><td style=\"padding:0 30px 20px;\" align=\"center\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"background:#2D5A27;border-radius:6px;padding:14px 32px;\"><a href=\"${ctaUrl}\" style=\"color:#ffffff;text-decoration:none;font-weight:bold;font-size:16px;display:inline-block;\">${ctaText}</a></td></tr></table></td></tr><tr><td style=\"padding:0 30px 20px;text-align:center;\"><div style=\"color:#555;font-size:13px;\">Prefer to talk? <a href=\"tel:6085356057\" style=\"color:#2D5A27;font-weight:bold;\">(608) 535-6057</a></div></td></tr><tr><td style=\"padding:10px 30px;text-align:center;border-top:1px solid #eee;\"><div style=\"color:#888;font-size:11px;\">Licensed &amp; Insured | 4.9 Google Rating | 500+ Properties | Satisfaction Guaranteed</div></td></tr><tr><td style=\"background:#1a1a1a;padding:24px 30px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#ffffff;font-size:14px;font-weight:bold;\">TotalGuard Yard Care</td></tr><tr><td style=\"color:#aaa;font-size:12px;padding-top:6px;\">7610 Welton Dr, Madison, WI 53711</td></tr><tr><td style=\"color:#aaa;font-size:12px;padding-top:4px;\"><a href=\"tel:6085356057\" style=\"color:#C5A55A;\">(608) 535-6057</a> | <a href=\"mailto:totalguardllc@gmail.com\" style=\"color:#C5A55A;\">totalguardllc@gmail.com</a></td></tr><tr><td style=\"padding-top:10px;\"><a href=\"https://facebook.com/totalguardyard/\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;margin-right:10px;\">Facebook</a> <a href=\"https://instagram.com/totalguardyardcare\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;margin-right:10px;\">Instagram</a> <a href=\"https://g.page/r/CRW5Dsg2JgwBEBM/review\" style=\"color:#C5A55A;font-size:12px;text-decoration:none;\">Google</a></td></tr><tr><td style=\"color:#666;font-size:10px;padding-top:10px;\">Serving Madison, Middleton, Waunakee, Monona, Sun Prairie, Fitchburg, Verona, McFarland, Cottage Grove, DeForest, Oregon &amp; Stoughton</td></tr></table></td></tr></table></td></tr></table></body></html>`;\n}\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const c = item.json;\n  const name = c.first_name || 'there';\n\n  if (c.phone) {\n    results.push({\n      json: {\n        channel: 'sms',\n        lead_id: c.id,\n        to_phone: c.phone,\n        sms_body: `Hi ${name}! It's been a while since TotalGuard took care of your yard. We miss you! Book this week and get 10% off your first service back. Call (608) 535-6057 or visit tgyardcare.com \\u2014 TotalGuard`,\n        workflow_name: 'TG-63',\n        sms_type: 'winback'\n      }\n    });\n  }\n\n  if (c.email) {\n    const subject = `We miss you, ${name}! Come back to TotalGuard`;\n    const html = buildEmailHtml({\n      subject,\n      headline: `We Miss You, ${name}!`,\n      bodyHtml: `<p>Hi ${name},</p><p>It's been a while since TotalGuard took care of your yard, and we'd love to have you back. Your property deserves the same professional care it used to get.</p><p style=\"background:#f0f8f0;padding:16px;border-radius:6px;border:2px solid #2D5A27;text-align:center;\"><strong style=\"font-size:18px;color:#2D5A27;\">Welcome Back: 10% Off Your First Service</strong><br><span style=\"color:#555;\">Use this exclusive offer to get started again.</span></p><p>Whether you need mowing, cleanup, fertilization, or any of our services &mdash; we're ready when you are. Same trusted team, same quality results.</p>`,\n      ctaText: 'Reclaim My 10% Discount',\n      ctaUrl: 'https://tgyardcare.com',\n      previewText: `${name}, it's been a while! Come back to TotalGuard and save 10%.`\n    });\n\n    results.push({\n      json: {\n        channel: 'email',\n        lead_id: c.id,\n        to_email: c.email,\n        subject,\n        html_body: html,\n        workflow_name: 'TG-63',\n        email_type: 'winback'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "build-messages",
      "name": "Build Win-Back Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "sms",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "sms",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "email",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "email",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "none" }
      },
      "id": "route-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [880, 300]
    },
    {
      "parameters": {
        "workflowId": "AprqI2DgQA8lehij",
        "options": {}
      },
      "id": "send-sms-tg94",
      "name": "Send SMS via TG-94",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "workflowId": "IUDLrQrAkcLFLsIC",
        "options": {}
      },
      "id": "send-email-tg95",
      "name": "Send Email via TG-95",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?id=eq.{{ $json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"winback_sent_at\": \"{{ new Date().toISOString() }}\" }"
      },
      "id": "mark-winback",
      "name": "Mark Win-Back Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "OWNER_TELEGRAM_CHAT_ID",
        "text": "=\ud83d\udd04 **Win-Back Engine Complete**\n\nDormant customers contacted: {{ $('Identify Dormant').all().length }}\nSMS sent: {{ $('Route by Channel').all().filter(i => i.json.channel === 'sms').length }}\nEmails sent: {{ $('Route by Channel').all().filter(i => i.json.channel === 'email').length }}\n\nOffer: 10% off first service back",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-summary",
      "name": "Telegram Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 300],
      "credentials": {
        "telegramApi": { "id": "V404qLIDXjmyzNeS", "name": "Telegram" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch Customers", "type": "main", "index": 0 }]] },
    "Fetch Customers": { "main": [[{ "node": "Identify Dormant", "type": "main", "index": 0 }]] },
    "Identify Dormant": { "main": [[{ "node": "Build Win-Back Messages", "type": "main", "index": 0 }]] },
    "Build Win-Back Messages": { "main": [[{ "node": "Route by Channel", "type": "main", "index": 0 }]] },
    "Route by Channel": {
      "main": [
        [{ "node": "Send SMS via TG-94", "type": "main", "index": 0 }],
        [{ "node": "Send Email via TG-95", "type": "main", "index": 0 }]
      ]
    },
    "Send SMS via TG-94": { "main": [[{ "node": "Mark Win-Back Sent", "type": "main", "index": 0 }]] },
    "Send Email via TG-95": { "main": [[{ "node": "Mark Win-Back Sent", "type": "main", "index": 0 }]] },
    "Mark Win-Back Sent": { "main": [[{ "node": "Telegram Summary", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}