automation/n8n-workflows/TG-63-winback-engine.json
{
  "name": "TG-63-winback-engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Monday 10am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?status=in.(customer,active,converted)&select=id,first_name,last_name,email,phone,service,updated_at,winback_sent_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-customers",
      "name": "Fetch All Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const customers = $input.all().map(i => i.json);\nconst now = Date.now();\nconst NINETY_DAYS = 90 * 24 * 60 * 60 * 1000;\nconst THIRTY_DAYS = 30 * 24 * 60 * 60 * 1000;\n\nconst dormant = [];\nfor (const c of customers) {\n  const lastActivity = new Date(c.updated_at || '2020-01-01').getTime();\n  const daysSince = Math.floor((now - lastActivity) / (24 * 60 * 60 * 1000));\n\n  // Skip if not dormant (< 90 days)\n  if (now - lastActivity < NINETY_DAYS) continue;\n\n  // Skip if win-back already sent in last 30 days\n  if (c.winback_sent_at) {\n    const lastWinback = new Date(c.winback_sent_at).getTime();\n    if (now - lastWinback < THIRTY_DAYS) continue;\n  }\n\n  // Must have email or phone\n  if (!c.email && !c.phone) continue;\n\n  dormant.push({ json: { ...c, days_dormant: daysSince } });\n}\n\nreturn dormant;"
      },
      "id": "identify-dormant",
      "name": "Identify Dormant (90+ Days)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const dormant = $input.all();\nconst results = [];\n\nfor (const item of dormant) {\n  const c = item.json;\n  const firstName = c.first_name || 'Neighbor';\n  const days = c.days_dormant;\n\n  // SMS message (if has phone)\n  if (c.phone) {\n    results.push({\n      json: {\n        channel: 'sms',\n        lead_id: c.id,\n        to_phone: c.phone,\n        message_body: `Hi ${firstName}! It's been a while since TotalGuard took care of your yard. We miss you! Book this week and get 10% off your first service back. Call (608) 535-6057 or visit tgyardcare.com — TotalGuard`,\n        workflow_name: 'TG-63',\n        message_type: 'winback'\n      }\n    });\n  }\n\n  // Email (if has email)\n  if (c.email) {\n    const html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head><body style=\"margin:0;padding:0;background-color:#1a1a2e;font-family:Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#1a1a2e;padding:20px 0;\"><tr><td align=\"center\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#16213e;border-radius:12px;overflow:hidden;\"><tr><td style=\"background:linear-gradient(135deg,#0f3d0f,#1a5c1a);padding:30px;text-align:center;\"><h1 style=\"color:#f5c518;margin:0;font-size:28px;\">TotalGuard</h1><p style=\"color:#a8d5a8;margin:5px 0 0;font-size:14px;\">Yard Care &amp; Snow Removal</p></td></tr><tr><td style=\"padding:30px;\"><h2 style=\"color:#f5c518;margin:0 0 15px;font-size:22px;\">It's Been Too Long!</h2><p style=\"color:#e0e0e0;font-size:16px;line-height:1.6;margin:0 0 10px;\">Hi ${firstName},</p><p style=\"color:#e0e0e0;font-size:16px;line-height:1.6;margin:0 0 15px;\">We noticed it's been ${days} days since TotalGuard last took care of your yard. Your lawn deserves the best — and we'd love to have you back.</p><p style=\"color:#e0e0e0;font-size:16px;line-height:1.6;margin:0 0 20px;\">As a welcome-back gift, we're offering you <strong style=\"color:#f5c518;\">10% off your first service back</strong>. Whether it's mowing, landscaping, or snow removal — we've got you covered.</p><table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:25px auto;\"><tr><td style=\"background:linear-gradient(135deg,#f5c518,#d4a813);border-radius:8px;padding:14px 32px;\"><a href=\"https://tgyardcare.com/contact\" style=\"color:#1a1a2e;text-decoration:none;font-weight:bold;font-size:16px;\">Reclaim My 10% Discount</a></td></tr></table><div style=\"background:#1a2a3e;border-radius:8px;padding:15px;margin:20px 0;\"><p style=\"color:#f5c518;font-size:14px;margin:0 0 5px;\">What Our Customers Say</p><p style=\"color:#e0e0e0;font-size:14px;margin:0;font-style:italic;\">\"TotalGuard does an amazing job every time. Professional, reliable, and my yard has never looked better.\" — Madison homeowner</p></div><p style=\"color:#888;font-size:13px;margin:20px 0 0;\">This offer expires in 30 days. Reply STOP to opt out of future emails.</p></td></tr><tr><td style=\"padding:20px 30px;border-top:1px solid #2a2a4a;\"><p style=\"color:#666;font-size:12px;margin:0;text-align:center;\">TotalGuard Yard Care | Madison, WI | (608) 535-6057<br><a href=\"https://tgyardcare.com\" style=\"color:#a8d5a8;\">tgyardcare.com</a></p></td></tr></table></td></tr></table></body></html>`;\n\n    results.push({\n      json: {\n        channel: 'email',\n        lead_id: c.id,\n        to_email: c.email,\n        subject: `We miss you, ${firstName}! Come back to TotalGuard`,\n        html_body: html,\n        workflow_name: 'TG-63',\n        email_type: 'winback'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "build-winback",
      "name": "Build Win-Back Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "SMS"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Email"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "route-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [880, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AprqI2DgQA8lehij",
          "mode": "id"
        }
      },
      "id": "send-sms",
      "name": "Send SMS via TG-94",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FSRv5y8YzMjpyBtc",
          "mode": "id"
        }
      },
      "id": "send-email",
      "name": "Send Email via TG-95",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?id=eq.{{ $json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"winback_sent_at\": \"{{ new Date().toISOString() }}\" }",
        "options": {}
      },
      "id": "mark-sent-sms",
      "name": "Mark Win-Back Sent (SMS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?id=eq.{{ $json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"winback_sent_at\": \"{{ new Date().toISOString() }}\" }",
        "options": {}
      },
      "id": "mark-sent-email",
      "name": "Mark Win-Back Sent (Email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "OWNER_TELEGRAM_CHAT_ID",
        "text": "=Win-back campaign complete!\n\nDormant customers contacted: {{ $input.all().length }}\nChannels: SMS + Email\nDiscount: 10% off first service back\n\nNext run: Monday 10am CT",
        "additionalFields": {}
      },
      "id": "telegram-summary",
      "name": "Telegram Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 300],
      "credentials": {
        "telegramApi": {
          "id": "V404qLIDXjmyzNeS",
          "name": "TotalGuard Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Weekly Monday 10am CT": {
      "main": [
        [
          { "node": "Fetch All Customers", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch All Customers": {
      "main": [
        [
          { "node": "Identify Dormant (90+ Days)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Identify Dormant (90+ Days)": {
      "main": [
        [
          { "node": "Build Win-Back Messages", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Win-Back Messages": {
      "main": [
        [
          { "node": "Route by Channel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          { "node": "Send SMS via TG-94", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Email via TG-95", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send SMS via TG-94": {
      "main": [
        [
          { "node": "Mark Win-Back Sent (SMS)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Email via TG-95": {
      "main": [
        [
          { "node": "Mark Win-Back Sent (Email)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Mark Win-Back Sent (SMS)": {
      "main": [
        [
          { "node": "Telegram Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Mark Win-Back Sent (Email)": {
      "main": [
        [
          { "node": "Telegram Summary", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}