automation/n8n-workflows/TG-62-commercial-prospector.json
{
  "name": "TG-62-commercial-prospector",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 1 3,9 *" }] } }, "id": "schedule", "name": "Bi-Annual Mar+Sep 9am CT", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300] },
    { "parameters": { "jsCode": "// Commercial prospect targets in Madison WI area\nconst prospects = [\n  { name: 'Meow Wolf Madison', type: 'entertainment', address: '201 State St, Madison WI', estimated_sqft: 15000, priority: 'high' },\n  { name: 'Epic Systems Campus', type: 'corporate', address: 'Verona WI', estimated_sqft: 500000, priority: 'high' },\n  { name: 'American Family Insurance HQ', type: 'corporate', address: 'Madison WI', estimated_sqft: 200000, priority: 'high' },\n  { name: 'University Research Park', type: 'commercial_park', address: 'Madison WI', estimated_sqft: 100000, priority: 'medium' },\n  { name: 'East Towne Mall', type: 'retail', address: 'Madison WI', estimated_sqft: 800000, priority: 'medium' },\n  { name: 'West Towne Mall', type: 'retail', address: 'Madison WI', estimated_sqft: 700000, priority: 'medium' },\n  { name: 'Madison College', type: 'education', address: 'Madison WI', estimated_sqft: 300000, priority: 'low' },\n  { name: 'UnityPoint Health', type: 'healthcare', address: 'Madison WI', estimated_sqft: 250000, priority: 'medium' }\n];\n\nreturn prospects.map(p => ({ json: { ...p, outreach_date: new Date().toISOString(), status: 'identified' } }));" }, "id": "get-prospects", "name": "Load Commercial Prospects", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300] },
    { "parameters": { "method": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "x-api-key", "value": "={{$vars.TG_{{ $env.TG_ANTHROPIC_API_KEY }}}}" }, { "name": "anthropic-version", "value": "2023-06-01" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={ \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 400, \"messages\": [{ \"role\": \"user\", \"content\": \"Write a short, professional cold outreach email for TotalGuard Yard Care (Madison WI commercial landscaping) targeting: {{ $json.name }} ({{ $json.type }}, ~{{ $json.estimated_sqft }} sqft). Subject line + 3-paragraph email body. Focus on reliability, professional crews, Madison local, full-service (snow removal, lawn, cleanup). Keep it under 150 words, confident tone.\" }] }" }, "id": "ai-email", "name": "Generate Outreach Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300] },
    { "parameters": { "method": "POST", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/commercial_prospects", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "bodyParameters": { "parameters": [{ "name": "name", "value": "={{$('Load Commercial Prospects').item.json.name}}" }, { "name": "type", "value": "={{$('Load Commercial Prospects').item.json.type}}" }, { "name": "priority", "value": "={{$('Load Commercial Prospects').item.json.priority}}" }, { "name": "email_draft", "value": "={{$json.content?.[0]?.text || ''}}" }, { "name": "status", "value": "draft" }, { "name": "created_at", "value": "={{ new Date().toISOString() }}" }] } }, "id": "save-prospect", "name": "Save Prospect + Draft", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 300] }
  ],
  "connections": { "Bi-Annual Mar+Sep 9am CT": { "main": [[{ "node": "Load Commercial Prospects", "type": "main", "index": 0 }]] }, "Load Commercial Prospects": { "main": [[{ "node": "Generate Outreach Email", "type": "main", "index": 0 }]] }, "Generate Outreach Email": { "main": [[{ "node": "Save Prospect + Draft", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
