automation/n8n-workflows/TG-60-nps-survey.json
{
  "name": "TG-60-nps-survey",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Called after job completion with customer_id and job_id\nconst { customer_id, job_id, customer_email, customer_name, customer_phone } = $input.first().json;\nreturn [{ json: { customer_id, job_id, customer_email, customer_name, customer_phone, survey_token: Math.random().toString(36).substring(2, 15) } }];"
      },
      "id": "prepare-survey",
      "name": "Prepare Survey Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/nps_surveys",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.TG_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{$json.customer_id}}"
            },
            {
              "name": "job_id",
              "value": "={{$json.job_id}}"
            },
            {
              "name": "survey_token",
              "value": "={{$json.survey_token}}"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "sent_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "create-survey-record",
      "name": "Create Survey Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "id": "send-nps-sms",
      "name": "Send NPS SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "continueOnFail": false,
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/transactionalSMS/sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$vars.TG_BREVO_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender",
              "value": "TotalGuard"
            },
            {
              "name": "recipient",
              "value": "={{$('Prepare Survey Data').first().json.customer_phone}}"
            },
            {
              "name": "content",
              "value": "=Hi {{$('Prepare Survey Data').first().json.customer_name}}! How likely are you to recommend TotalGuard Yard Care? Reply 1-10 (10=very likely). Your feedback shapes our service! - TotalGuard"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Survey Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Survey Data": {
      "main": [
        [
          {
            "node": "Create Survey Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Survey Record": {
      "main": [
        [
          {
            "node": "Send NPS SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}