automation/n8n-workflows/TG-77-ai-booking-sync.json
{
  "name": "TG-77-ai-booking-sync",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Receives: customer_id, service, preferred_date, notes, contact_method (sms|email)\nconst input = $input.first().json;\nconst { customer_id, service, preferred_date, notes, contact_method, customer_name, customer_email, customer_phone } = input;\n\n// Parse preferred date\nconst prefDate = preferred_date ? new Date(preferred_date) : new Date(Date.now() + 3 * 86400000);\nconst dateStr = prefDate.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric' });\n\nreturn [{ json: { customer_id, service, preferred_date: prefDate.toISOString(), date_str: dateStr, notes: notes || '', contact_method: contact_method || 'sms', customer_name, customer_email, customer_phone, booking_ref: 'TG-BK-' + Date.now() } }];"
      },
      "id": "prepare-booking",
      "name": "Prepare Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$vars.TG_{{ $env.TG_ANTHROPIC_API_KEY }}}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 200, \"messages\": [{ \"role\": \"user\", \"content\": \"Write a friendly booking confirmation message for TotalGuard Yard Care. Customer: {{ $json.customer_name }}, Service: {{ $json.service }}, Date: {{ $json.date_str }}, Booking ref: {{ $json.booking_ref }}. Channel: {{ $json.contact_method }}. Keep under 100 words. Include: confirmation, date, what to expect, contact number (608) 555-0100.\" }] }"
      },
      "id": "ai-message",
      "name": "Generate Confirmation Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.TG_SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "booking_ref",
              "value": "={{$('Prepare Booking').first().json.booking_ref}}"
            },
            {
              "name": "customer_id",
              "value": "={{$('Prepare Booking').first().json.customer_id}}"
            },
            {
              "name": "service",
              "value": "={{$('Prepare Booking').first().json.service}}"
            },
            {
              "name": "scheduled_date",
              "value": "={{$('Prepare Booking').first().json.preferred_date}}"
            },
            {
              "name": "status",
              "value": "confirmed"
            },
            {
              "name": "notes",
              "value": "={{$('Prepare Booking').first().json.notes}}"
            },
            {
              "name": "created_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "save-booking",
      "name": "Save Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "id": "send-confirmation",
      "name": "Send Booking Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "continueOnFail": false,
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/transactionalSMS/sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{$vars.TG_BREVO_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender",
              "value": "TotalGuard"
            },
            {
              "name": "recipient",
              "value": "={{$('Prepare Booking').first().json.customer_phone}}"
            },
            {
              "name": "content",
              "value": "={{$('Generate Confirmation Message').first().json.content?.[0]?.text || 'Your TotalGuard service has been confirmed! We\\'ll see you on ' + $('Prepare Booking').first().json.date_str + '. Ref: ' + $('Prepare Booking').first().json.booking_ref}}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking": {
      "main": [
        [
          {
            "node": "Generate Confirmation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Confirmation Message": {
      "main": [
        [
          {
            "node": "Save Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Booking": {
      "main": [
        [
          {
            "node": "Send Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}