automation/n8n-workflows/TG-76-two-way-sms.json
{
  "name": "TG-76-two-way-sms",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Input comes pre-parsed from TG-92 webhook router\nconst input = $input.first().json;\nconst from = (input.from || '').replace(/[^0-9+]/g, '');\nconst messageText = (input.messageText || '').trim();\nconst msgLower = messageText.toLowerCase();\n\n// Check for keywords\nconst isOptOut = ['stop','unsubscribe','quit','cancel','end'].includes(msgLower);\nconst isOptIn = ['start','yes','subscribe'].includes(msgLower);\nconst isHelp = msgLower === 'help';\nconst isQuote = msgLower.includes('quote') || msgLower.includes('estimate') || msgLower.includes('price');\nconst isSchedule = msgLower.includes('schedule') || msgLower.includes('book') || msgLower.includes('appointment');\nconst isConfirm = msgLower === 'yes' || msgLower === 'confirm' || msgLower === 'y';\nconst isCancel = msgLower === 'no' || msgLower === 'cancel' || msgLower === 'n';\n\nlet intent = 'general';\nif (isOptOut) intent = 'opt_out';\nelse if (isOptIn) intent = 'opt_in';\nelse if (isHelp) intent = 'help';\nelse if (isQuote) intent = 'quote_request';\nelse if (isSchedule) intent = 'schedule_request';\nelse if (isConfirm) intent = 'confirm';\nelse if (isCancel) intent = 'cancel';\n\nreturn [{ json: { from, messageText, intent, received_at: new Date().toISOString() } }];"
      },
      "id": "parse-sms",
      "name": "Parse Inbound SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/customers?phone=eq.{{$json.from}}&select=id,first_name,tier",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "=SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "=Bearer SUPABASE_SERVICE_KEY" }
          ]
        }
      },
      "id": "lookup-customer",
      "name": "Lookup Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const customers = $input.all().map(i => i.json);\nconst customer = customers[0] || null;\nconst intent = $('Parse Inbound SMS').first().json.intent;\nconst name = customer?.first_name || 'there';\n\nconst replies = {\n  opt_out: 'You have been unsubscribed from TotalGuard messages. Reply START to re-subscribe anytime.',\n  opt_in: `Welcome back${customer ? ', ' + name : ''}! You\\'re now subscribed to TotalGuard Yard Care updates. Reply STOP to unsubscribe.`,\n  help: 'TotalGuard Yard Care Help:\\n• QUOTE — get a free estimate\\n• SCHEDULE — book a service\\n• STOP — unsubscribe\\n\\nOr call (608) 535-6057',\n  quote_request: `Hi ${name}! We\\'d love to give you a free estimate. What service are you interested in? (Lawn mowing, spring cleanup, snow removal, gutter cleaning, hardscaping)`,\n  schedule_request: `Hi ${name}! Ready to schedule? Call us at (608) 535-6057 or visit tgyardcare.com/get-quote and we\\'ll get you on the calendar.`,\n  confirm: `Got it, ${name}! Your appointment is confirmed. We\\'ll send a reminder the day before. - TotalGuard`,\n  cancel: `No problem, ${name}. Your appointment has been cancelled. Contact us at (608) 535-6057 to reschedule. - TotalGuard`,\n  general: `Hi ${name}! Thanks for texting TotalGuard Yard Care. A team member will follow up shortly, or call (608) 535-6057 for immediate help.`\n};\n\nreturn [{ json: { reply: replies[intent] || replies.general, forward_to_owner: intent === 'general' || intent === 'quote_request', customer_id: customer?.id, intent } }];"
      },
      "id": "build-reply",
      "name": "Build Smart Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const reply = $json.reply;\nconst from = $('Parse Inbound SMS').first().json.from;\nconst intent = $json.intent;\nconst forward_to_owner = $json.forward_to_owner;\nconst customer_id = $json.customer_id;\n\n// Pass data to TG-94 for consent-checked, rate-limited SMS send\nreturn [{ json: { to_phone: from, message_body: reply, workflow_name: 'TG-76', message_type: 'auto_reply', intent, forward_to_owner, customer_id } }];"
      },
      "id": "prepare-tg94-payload",
      "name": "Prepare TG-94 Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [770, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "AprqI2DgQA8lehij"
      },
      "id": "call-tg94",
      "name": "Send Reply via TG-94",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [990, 300]
    },
    {
      "parameters": {
        "jsCode": "const tg94Result = $input.first().json;\nconst payload = $('Prepare TG-94 Payload').first().json;\nreturn [{ json: { ...payload, sms_sent: tg94Result.sent || false, sms_reason: tg94Result.reason || null, reply: payload.message_body } }];"
      },
      "id": "merge-tg94-result",
      "name": "Merge TG-94 Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1210, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "forward-check",
              "leftValue": "={{ $json.forward_to_owner }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "name": "filter.operator.equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-forward",
      "name": "IF Forward to Owner",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1430, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "=TWILIO_PHONE",
        "to": "=OWNER_PHONE",
        "message": "=New SMS from {{$('Parse Inbound SMS').first().json.from}}: \"{{$('Parse Inbound SMS').first().json.messageText}}\" — Reply needed."
      },
      "id": "forward-owner",
      "name": "Forward to Owner",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": { "twilioApi": { "id": "cwxndVw60DCxqeNg", "name": "Twilio" } }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Parse Inbound SMS", "type": "main", "index": 0 }]] },
    "Parse Inbound SMS": { "main": [[{ "node": "Lookup Customer", "type": "main", "index": 0 }]] },
    "Lookup Customer": { "main": [[{ "node": "Build Smart Reply", "type": "main", "index": 0 }]] },
    "Build Smart Reply": { "main": [[{ "node": "Prepare TG-94 Payload", "type": "main", "index": 0 }]] },
    "Prepare TG-94 Payload": { "main": [[{ "node": "Send Reply via TG-94", "type": "main", "index": 0 }]] },
    "Send Reply via TG-94": { "main": [[{ "node": "Merge TG-94 Result", "type": "main", "index": 0 }]] },
    "Merge TG-94 Result": { "main": [[{ "node": "IF Forward to Owner", "type": "main", "index": 0 }]] },
    "IF Forward to Owner": { "main": [[{ "node": "Forward to Owner", "type": "main", "index": 0 }], []] }
  },
  "settings": { "availableInMCP": true }
}
