automation/n8n-workflows/TG-76-two-way-sms.json
{
  "name": "TG-76-two-way-sms",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "tg-sms-inbound", "responseMode": "responseNode" }, "id": "webhook", "name": "Inbound SMS Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300], "webhookId": "tg-sms-inbound" },
    { "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst from = (body.From || '').replace(/[^0-9+]/g, '');\nconst messageText = (body.Body || '').trim();\nconst msgLower = messageText.toLowerCase();\n\n// Check for keywords\nconst isOptOut = ['stop','unsubscribe','quit','cancel','end'].includes(msgLower);\nconst isOptIn = ['start','yes','subscribe'].includes(msgLower);\nconst isHelp = msgLower === 'help';\nconst isQuote = msgLower.includes('quote') || msgLower.includes('estimate') || msgLower.includes('price');\nconst isSchedule = msgLower.includes('schedule') || msgLower.includes('book') || msgLower.includes('appointment');\nconst isConfirm = msgLower === 'yes' || msgLower === 'confirm' || msgLower === 'y';\nconst isCancel = msgLower === 'no' || msgLower === 'cancel' || msgLower === 'n';\n\nlet intent = 'general';\nif (isOptOut) intent = 'opt_out';\nelse if (isOptIn) intent = 'opt_in';\nelse if (isHelp) intent = 'help';\nelse if (isQuote) intent = 'quote_request';\nelse if (isSchedule) intent = 'schedule_request';\nelse if (isConfirm) intent = 'confirm';\nelse if (isCancel) intent = 'cancel';\n\nreturn [{ json: { from, messageText, intent, received_at: new Date().toISOString() } }];" }, "id": "parse-sms", "name": "Parse Inbound SMS", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300] },
    { "parameters": { "method": "GET", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?phone=eq.{{$json.from}}&select=id,first_name,tier", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] } }, "id": "lookup-customer", "name": "Lookup Customer", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300] },
    { "parameters": { "jsCode": "const customers = $input.all().map(i => i.json);\nconst customer = customers[0] || null;\nconst intent = $('Parse Inbound SMS').first().json.intent;\nconst name = customer?.first_name || 'there';\n\nconst replies = {\n  opt_out: 'You have been unsubscribed from TotalGuard messages. Reply START to re-subscribe anytime.',\n  opt_in: `Welcome back${customer ? ', ' + name : ''}! You\\'re now subscribed to TotalGuard Yard Care updates. Reply STOP to unsubscribe.`,\n  help: 'TotalGuard Yard Care Help:\\n• QUOTE — get a free estimate\\n• SCHEDULE — book a service\\n• STOP — unsubscribe\\n\\nOr call (608) 535-6057',\n  quote_request: `Hi ${name}! We\\'d love to give you a free estimate. What service are you interested in? (Lawn mowing, spring cleanup, snow removal, gutter cleaning, hardscaping)`,\n  schedule_request: `Hi ${name}! Ready to schedule? Call us at (608) 535-6057 or visit tgyardcare.com/get-quote and we\\'ll get you on the calendar.`,\n  confirm: `Got it, ${name}! Your appointment is confirmed. We\\'ll send a reminder the day before. - TotalGuard`,\n  cancel: `No problem, ${name}. Your appointment has been cancelled. Contact us at (608) 535-6057 to reschedule. - TotalGuard`,\n  general: `Hi ${name}! Thanks for texting TotalGuard Yard Care. A team member will follow up shortly, or call (608) 535-6057 for immediate help.`\n};\n\nreturn [{ json: { reply: replies[intent] || replies.general, forward_to_owner: intent === 'general' || intent === 'quote_request', customer_id: customer?.id } }];" }, "id": "build-reply", "name": "Build Smart Reply", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300] },
    { "parameters": { "respondWith": "text", "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Message>{{$json.reply}}</Message></Response>", "options": { "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "text/xml" }] } } }, "id": "twiml-reply", "name": "TwiML Auto-Reply", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 200] },
    { "parameters": { "operation": "send", "from": "={{$vars.TG_TWILIO_PHONE_NUMBER}}", "to": "={{$vars.TG_OWNER_PHONE}}", "message": "=New SMS from {{$('Parse Inbound SMS').first().json.from}}: \"{{$('Parse Inbound SMS').first().json.messageText}}\" — Reply needed." }, "id": "forward-owner", "name": "Forward to Owner", "type": "n8n-nodes-base.twilio", "typeVersion": 1, "position": [880, 400], "credentials": { "twilioApi": { "id": "twilio", "name": "Twilio" } } }
  ],
  "connections": { "Inbound SMS Webhook": { "main": [[{ "node": "Parse Inbound SMS", "type": "main", "index": 0 }]] }, "Parse Inbound SMS": { "main": [[{ "node": "Lookup Customer", "type": "main", "index": 0 }]] }, "Lookup Customer": { "main": [[{ "node": "Build Smart Reply", "type": "main", "index": 0 }]] }, "Build Smart Reply": { "main": [[{ "node": "TwiML Auto-Reply", "type": "main", "index": 0 }, { "node": "Forward to Owner", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
