automation/n8n-workflows/TG-70-system-health-monitor.json
{
  "name": "TG-70-system-health-monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "tg70-node-01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.TG_SUPABASE_URL }}/rest/v1/leads?select=id&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.TG_SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.TG_SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "tg70-node-02",
      "name": "Check Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.TG_SUPABASE_URL }}/rest/v1/automation_runs?select=id,workflow_name,status,error_message&status=eq.error&created_at=gte.{{ $now.minus({hours:6}).toISO() }}&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.TG_SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.TG_SUPABASE_SERVICE_KEY }}"
            }
          ]
        }
      },
      "id": "tg70-node-03",
      "name": "Check Error Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.TG_SITE_URL }}/",
        "options": {
          "timeout": 10000
        }
      },
      "id": "tg70-node-04",
      "name": "Check Site Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const supabaseOk = !$('Check Supabase').item.json.error;\nconst errors = $('Check Error Log').all().map(i => i.json);\nconst siteOk = $('Check Site Up').item.json.statusCode === 200;\nconst issues = [];\nif (!supabaseOk) issues.push('Supabase connection failed');\nif (errors.length > 0) issues.push(`${errors.length} workflow errors in last 6h`);\nif (!siteOk) issues.push('Website may be down');\nreturn [{ json: {\n  supabase_ok: supabaseOk,\n  site_ok: siteOk,\n  error_count: errors.length,\n  issues: issues.join('; '),\n  has_issues: issues.length > 0\n} }];"
      },
      "id": "tg70-node-05",
      "name": "Evaluate Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.has_issues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg70-node-06",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "from": "={{ $vars.TG_TWILIO_PHONE_NUMBER }}",
        "to": "={{ $vars.TG_OWNER_PHONE }}",
        "message": "=TG System Alert: {{ $json.issues }}. Check admin panel immediately."
      },
      "id": "tg70-node-07",
      "name": "SMS System Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        880,
        -100
      ],
      "credentials": {
        "twilioApi": {
          "id": "twilio-cred",
          "name": "twilioApi"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Error Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Site Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Supabase": {
      "main": [
        [
          {
            "node": "Evaluate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error Log": {
      "main": [
        [
          {
            "node": "Evaluate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Site Up": {
      "main": [
        [
          {
            "node": "Evaluate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Health": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "SMS System Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "availableInMCP": true
  }
}