automation/n8n-workflows/TG-74-telegram-bot.json
{
  "name": "TG-74-telegram-bot",
  "nodes": [
    { "parameters": { "updates": ["message", "callback_query"], "additionalFields": {} }, "id": "telegram-trigger", "name": "Telegram Trigger", "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.1, "position": [0, 300], "webhookId": "tg-telegram-bot", "credentials": { "telegramApi": { "id": "telegram", "name": "Telegram" } } },
    { "parameters": { "jsCode": "const msg = $input.first().json;\nconst text = msg.message?.text || msg.callback_query?.data || '';\nconst chatId = msg.message?.chat?.id || msg.callback_query?.message?.chat?.id;\nconst from = msg.message?.from?.first_name || msg.callback_query?.from?.first_name || 'Owner';\n\n// Parse command\nconst command = text.startsWith('/') ? text.split(' ')[0].toLowerCase() : 'message';\nconst args = text.split(' ').slice(1).join(' ');\n\nreturn [{ json: { chatId, from, command, args, rawText: text, isCommand: command !== 'message' } }];" }, "id": "parse-message", "name": "Parse Telegram Message", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300] },
    { "parameters": { "rules": { "values": [{ "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{$json.command}}", "rightValue": "/status", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }, { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{$json.command}}", "rightValue": "/leads", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }, { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{$json.command}}", "rightValue": "/revenue", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }, { "conditions": { "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{$json.command}}", "rightValue": "/help", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }] } }, "id": "route-command", "name": "Route Command", "type": "n8n-nodes-base.switch", "typeVersion": 3, "position": [440, 300] },
    { "parameters": { "method": "GET", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?select=id,status&created_at=gte.{{ new Date(Date.now()-86400000).toISOString() }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] } }, "id": "fetch-status", "name": "Fetch Today Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 100] },
    { "parameters": { "method": "GET", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/leads?select=id,first_name,phone,service,created_at&status=eq.new&order=created_at.desc&limit=5", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] } }, "id": "fetch-leads", "name": "Fetch Recent Leads", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 220] },
    { "parameters": { "method": "GET", "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?select=total_spend&created_at=gte.{{ new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString() }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] } }, "id": "fetch-revenue", "name": "Fetch Month Revenue", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 340] },
    { "parameters": { "jsCode": "return [{ json: { reply: '📊 TotalGuard Commands:\\n\\n/status — Today\\'s activity\\n/leads — Recent new leads\\n/revenue — Month revenue\\n/help — This menu\\n\\nYou can also ask anything and I\\'ll try to help!' } }];" }, "id": "help-text", "name": "Build Help Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 460] },
    { "parameters": { "jsCode": "const data = $input.all().map(i => i.json);\nconst total = data.reduce((sum, r) => sum + (r.total_spend || 0), 0);\nreturn [{ json: { reply: '💰 Month Revenue: $' + total.toFixed(2) } }];" }, "id": "format-revenue", "name": "Format Revenue", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 340] },
    { "parameters": { "jsCode": "const leads = $input.all().map(i => i.json);\nif (!leads.length) return [{ json: { reply: '📋 No new leads in the queue.' } }];\nconst list = leads.map((l, i) => `${i+1}. ${l.first_name} — ${l.service} — ${l.phone}`).join('\\n');\nreturn [{ json: { reply: '📋 Recent Leads:\\n\\n' + list } }];" }, "id": "format-leads", "name": "Format Leads", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 220] },
    { "parameters": { "jsCode": "const data = $input.all().map(i => i.json);\nconst newCount = data.filter(l => l.status === 'new').length;\nconst totalToday = data.length;\nreturn [{ json: { reply: '📈 Today\\'s Status:\\n\\nNew leads: ' + newCount + '\\nTotal activity: ' + totalToday + ' events\\n\\nSystem: ✅ Online' } }];" }, "id": "format-status", "name": "Format Status", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 100] },
    { "parameters": { "chatId": "={{$('Parse Telegram Message').first().json.chatId}}", "text": "={{$json.reply}}", "additionalFields": { "parse_mode": "HTML" } }, "id": "send-reply", "name": "Send Telegram Reply", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [1100, 300], "credentials": { "telegramApi": { "id": "telegram", "name": "Telegram" } } }
  ],
  "connections": { "Telegram Trigger": { "main": [[{ "node": "Parse Telegram Message", "type": "main", "index": 0 }]] }, "Parse Telegram Message": { "main": [[{ "node": "Route Command", "type": "main", "index": 0 }]] }, "Route Command": { "main": [[{ "node": "Fetch Today Status", "type": "main", "index": 0 }], [{ "node": "Fetch Recent Leads", "type": "main", "index": 0 }], [{ "node": "Fetch Month Revenue", "type": "main", "index": 0 }], [{ "node": "Build Help Text", "type": "main", "index": 0 }]] }, "Fetch Today Status": { "main": [[{ "node": "Format Status", "type": "main", "index": 0 }]] }, "Fetch Recent Leads": { "main": [[{ "node": "Format Leads", "type": "main", "index": 0 }]] }, "Fetch Month Revenue": { "main": [[{ "node": "Format Revenue", "type": "main", "index": 0 }]] }, "Format Status": { "main": [[{ "node": "Send Telegram Reply", "type": "main", "index": 0 }]] }, "Format Leads": { "main": [[{ "node": "Send Telegram Reply", "type": "main", "index": 0 }]] }, "Format Revenue": { "main": [[{ "node": "Send Telegram Reply", "type": "main", "index": 0 }]] }, "Build Help Text": { "main": [[{ "node": "Send Telegram Reply", "type": "main", "index": 0 }]] } },
  "settings": { "availableInMCP": true }
}
