automation/n8n-workflows/TG-82-flash-sales.json
{
  "name": "TG-82-flash-sales",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14 * * *" }] } },
      "id": "schedule",
      "name": "Check flash sale dates daily at 9am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?select=id,first_name,email,city&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-audience",
      "name": "Fetch All Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends?workflow_name=eq.flash_sales&select=contact_email,email_type",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-sent",
      "name": "Fetch Sent History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst month = now.getMonth() + 1;\nconst day = now.getDate();\n\n// ── HTML email builder helpers ──\nconst FONT = \"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\";\nconst GREEN = '#2D5A27';\nconst GOLD = '#C5A55A';\nconst DARK = '#1a1a2e';\n\nfunction headerBar() {\n  return '<tr><td style=\"background-color:' + GREEN + ';\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td style=\"padding:16px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"left\" valign=\"middle\" style=\"font-family:' + FONT + '; font-size:18px; font-weight:700; color:#ffffff; line-height:1.3;\">TotalGuard Yard Care</td><td align=\"right\" valign=\"middle\" style=\"font-family:' + FONT + '; font-size:14px; color:#ffffff; line-height:1.3;\"><a href=\"tel:+16085356057\" style=\"color:#ffffff; text-decoration:none; font-weight:600;\">(608) 535-6057</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:0 24px 14px; font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; letter-spacing:1.5px; text-transform:uppercase; font-weight:600;\">Madison\\'s Most Trusted Yard Care</td></tr></table></td></tr>';\n}\n\nfunction heroBanner(headline, subheadline) {\n  return '<tr><td style=\"background: linear-gradient(135deg, #2D5A27 0%, #3d7a34 50%, #2D5A27 100%);\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:48px 32px 16px;\"><h1 style=\"margin:0; font-family:' + FONT + '; font-size:28px; font-weight:800; color:#ffffff; line-height:1.2;\">' + headline + '</h1></td></tr><tr><td align=\"center\" style=\"padding:8px 40px 48px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:16px; color:' + GOLD + '; line-height:1.5; font-weight:500;\">' + subheadline + '</p></td></tr></table></td></tr>';\n}\n\nfunction urgencyBanner(headline, subheadline, badgeText, badgeColor) {\n  return '<tr><td style=\"background-color:' + (badgeColor || '#C0392B') + ';\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:12px 24px;\"><span style=\"font-family:' + FONT + '; font-size:12px; font-weight:700; color:#ffffff; text-transform:uppercase; letter-spacing:2px; background-color:rgba(0,0,0,0.2); padding:4px 12px; border-radius:4px;\">' + badgeText + '</span></td></tr></table></td></tr><tr><td style=\"background: linear-gradient(135deg, #2D5A27 0%, #3d7a34 50%, #2D5A27 100%);\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:40px 32px 16px;\"><h1 style=\"margin:0; font-family:' + FONT + '; font-size:28px; font-weight:800; color:#ffffff; line-height:1.2;\">' + headline + '</h1></td></tr><tr><td align=\"center\" style=\"padding:8px 40px 40px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:16px; color:' + GOLD + '; line-height:1.5; font-weight:500;\">' + subheadline + '</p></td></tr></table></td></tr>';\n}\n\nfunction bodySection(html) {\n  return '<tr><td style=\"padding:32px 32px 16px;\"><div style=\"font-family:' + FONT + '; font-size:15px; color:#333333; line-height:1.7;\">' + html + '</div></td></tr>';\n}\n\nfunction urgencyCountdown(label, display) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"border:2px solid #C0392B; border-radius:8px;\"><tr><td align=\"center\" style=\"padding:16px;\"><p style=\"margin:0 0 4px; font-family:' + FONT + '; font-size:11px; color:#C0392B; text-transform:uppercase; letter-spacing:1.5px; font-weight:700;\">' + label + '</p><p style=\"margin:0; font-family:' + FONT + '; font-size:20px; color:#1a1a1a; font-weight:800;\">' + display + '</p></td></tr></table></td></tr>';\n}\n\nfunction benefitsBox(html) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f0f8f0; border-radius:8px; border-left:4px solid ' + GREEN + ';\"><tr><td style=\"padding:20px 24px; font-family:' + FONT + '; font-size:14px; color:#333333; line-height:1.8;\">' + html + '</td></tr></table></td></tr>';\n}\n\nfunction reviewBlock(reviewText, reviewerName) {\n  return '<tr><td style=\"padding:0 32px 32px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f9f9f9; border-radius:8px;\"><tr><td align=\"center\" style=\"padding:28px 28px 8px;\"><span style=\"font-size:24px; color:' + GOLD + '; letter-spacing:2px;\">&#9733;&#9733;&#9733;&#9733;&#9733;</span></td></tr><tr><td align=\"center\" style=\"padding:8px 28px;\"><p style=\"margin:0; font-family:Georgia,\\'Times New Roman\\',Times,serif; font-size:15px; color:#333333; line-height:1.7; font-style:italic;\">&ldquo;' + reviewText + '&rdquo;</p></td></tr><tr><td align=\"center\" style=\"padding:12px 28px 4px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:14px; color:#1a1a1a; font-weight:700; line-height:1.4;\">&mdash; ' + reviewerName + '</p></td></tr><tr><td align=\"center\" style=\"padding:0 28px 28px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:12px; color:#888888; line-height:1.4; text-transform:uppercase; letter-spacing:0.5px;\">Verified Google Review</p></td></tr></table></td></tr>';\n}\n\nfunction ctaButton(text, url) {\n  return '<tr><td style=\"padding:0 32px 32px;\" align=\"center\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%;\"><tr><td align=\"center\" style=\"border-radius:6px; background-color:' + GREEN + ';\"><a href=\"' + url + '\" target=\"_blank\" style=\"display:block; padding:16px 32px; font-family:' + FONT + '; font-size:16px; font-weight:700; color:#ffffff; text-decoration:none; border-radius:6px; background-color:' + GREEN + '; text-align:center;\">' + text + '</a></td></tr></table></td></tr>';\n}\n\nfunction trustBar() {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:' + GREEN + '; border-radius:6px;\"><tr><td align=\"center\" style=\"padding:14px 16px; font-family:' + FONT + '; font-size:12px; color:#ffffff; line-height:2; letter-spacing:0.3px;\">&#10003; Licensed &amp; Insured&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 4.9&#9733; Rating&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 500+ Properties&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 100% Satisfaction Guarantee</td></tr></table></td></tr>';\n}\n\nfunction footer() {\n  return '<tr><td style=\"background-color:' + DARK + '; border-radius:0 0 8px 8px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:32px 32px 8px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:18px; font-weight:700; color:#ffffff; line-height:1.3;\">TotalGuard Yard Care</p></td></tr><tr><td align=\"center\" style=\"padding:4px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:13px; color:#999999; line-height:1.6;\">7610 Welton Dr, Madison, WI 53711&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"tel:+16085356057\" style=\"color:' + GOLD + '; text-decoration:none;\">(608) 535-6057</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"mailto:totalguardllc@gmail.com\" style=\"color:' + GOLD + '; text-decoration:none;\">totalguardllc@gmail.com</a></p></td></tr><tr><td align=\"center\" style=\"padding:20px 32px 8px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td style=\"padding:0 8px;\"><a href=\"https://www.facebook.com/totalguardyard/\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Facebook</a></td><td style=\"padding:0 8px;\"><a href=\"https://www.instagram.com/totalguardyardcare\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Instagram</a></td><td style=\"padding:0 8px;\"><a href=\"https://g.page/r/CRW5Dsg2JgwBEBM\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Google</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:12px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; color:#666666; line-height:1.6;\">Serving Madison, Middleton, Fitchburg, Sun Prairie, Verona, Waunakee &amp; surrounding areas</p></td></tr><tr><td align=\"center\" style=\"padding:8px 32px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; color:#666666; line-height:1.6;\">You\\'re receiving this because you\\'re a TotalGuard Yard Care customer.<br><a href=\"https://tgyardcare.com/unsubscribe\" style=\"color:#999999; text-decoration:underline;\">Unsubscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"https://tgyardcare.com/email-preferences\" style=\"color:#999999; text-decoration:underline;\">Email Preferences</a></p></td></tr></table></td></tr>';\n}\n\nfunction buildHtml(opts) {\n  const style = '<style type=\"text/css\">body,table,td,a{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}table,td{mso-table-lspace:0pt;mso-table-rspace:0pt}img{-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none}body{margin:0;padding:0;width:100%!important;height:100%!important;background-color:#f4f4f4}@media only screen and (max-width:620px){.email-container{width:100%!important;max-width:100%!important}}</style>';\n  return '<!DOCTYPE html><html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">' + style + '</head><body style=\"margin:0;padding:0;background-color:#f4f4f4;\"><div style=\"display:none;font-size:1px;color:#f4f4f4;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;\">' + (opts.previewText || '') + '</div><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f4f4f4;\"><tr><td align=\"center\" valign=\"top\" style=\"padding:20px 0;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" class=\"email-container\" style=\"margin:0 auto;max-width:600px;background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06);\">' + headerBar() + opts.bannerHtml + opts.bodyHtml + opts.reviewHtml + ctaButton(opts.ctaText, opts.ctaUrl) + trustBar() + footer() + '</table></td></tr></table></body></html>';\n}\n// ── End HTML builder ──\n\n// ── Flash Sale Schedule: 4 campaigns x 3 emails = 12 total ──\n// Each entry: [month, day] => email definition\nconst flashSchedule = [\n  // Flash Sale 1: Spring Early Bird\n  {\n    month: 1, day: 15,\n    emailType: 'flash_spring_announce',\n    template: 'hero',\n    subject: '15% off spring cleanup \\u2014 early bird exclusive',\n    previewText: 'Book before March 1 and save 15%. Same crew, preferred dates, zero hassle.',\n    headline: 'Spring Cleanup: 15% Off for Early Birds',\n    subheadline: 'Book before March 1 and lock in the best price, the best dates, and the same crew you trust.',\n    bodyHtml: '<p>Hey {{first_name}},</p><p>Spring is still a few months away, but here\\u2019s what we know from running hundreds of cleanups every year: <strong>the homeowners who book early get the best experience.</strong></p><p>That\\u2019s why we\\u2019re offering our early bird deal right now:</p><h3>15% Off Spring Cleanup \\u2014 Book Before March 1</h3><p>Here\\u2019s what\\u2019s included in a TotalGuard spring cleanup:</p><ul><li><strong>Full yard debris removal</strong> \\u2014 branches, dead leaves, winter litter, all of it gone</li><li><strong>Garden bed cleanout</strong> \\u2014 dead plants cut back, debris cleared, beds prepped for the growing season</li><li><strong>Lawn dethatching</strong> \\u2014 removing the matted dead grass that suffocates new growth</li><li><strong>Edging</strong> \\u2014 crisp, clean lines along beds, sidewalks, and driveways</li><li><strong>First mow of the season</strong> \\u2014 we dial in the perfect height to kickstart healthy growth</li></ul><h3>Why Book Now?</h3><p>Besides saving 15%, early bookers get three real advantages:</p><ol><li><strong>Preferred scheduling</strong> \\u2014 Pick the exact week you want. By March, the best dates are gone.</li><li><strong>Same crew guarantee</strong> \\u2014 The team that knows your property will be the ones who show up.</li><li><strong>First on the block</strong> \\u2014 While your neighbors are still looking at brown yards in April, yours will already be cleaned up and growing strong.</li></ol><p>Every year, we get calls in late March from homeowners who waited too long and can\\u2019t get on the schedule until May. Don\\u2019t be that person.</p><p><strong>This offer expires March 1.</strong> After that, pricing goes back to standard rates and scheduling is first-come, first-served.</p>',\n    reviewText: 'TotalGuard did an amazing spring cleanup on our property. They were thorough, on time, and left everything looking perfect. Already booked them for the full season.',\n    reviewerName: 'Mauricio Roldan',\n    ctaText: 'Book Spring Cleanup \\u2014 Save 15%',\n    ctaUrl: 'https://tgyardcare.com/services/spring-cleanup',\n    textBody: 'Hi {{first_name}},\\n\\nSpring is still a few months away, but the homeowners who book early get the best experience. We\\u2019re offering 15% off spring cleanup if you book before March 1.\\n\\nIncludes: full yard debris removal, garden bed cleanout, lawn dethatching, edging, and first mow of the season.\\n\\nWhy book now? Preferred scheduling, same crew guarantee, and first on the block.\\n\\nOffer expires March 1.\\n\\n\\u201cTotalGuard did an amazing spring cleanup on our property. They were thorough, on time, and left everything looking perfect.\\u201d \\u2014 Mauricio Roldan\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    month: 2, day: 10,\n    emailType: 'flash_spring_reminder',\n    template: 'hero',\n    subject: 'Early bird reminder: 15% off ends March 1',\n    previewText: '87 spring cleanups already booked. Preferred dates are going fast.',\n    headline: 'Spring Cleanup Spots Are Filling Up',\n    subheadline: '87 cleanups booked so far. The best dates in {{city}} are going fast.',\n    bodyHtml: '<p>Hey {{first_name}},</p><p>Quick update on our spring early bird: <strong>87 spring cleanups have been booked so far</strong>, and we\\u2019re starting to fill up our preferred weeks in April.</p><p>Here\\u2019s the reality: our crews can only handle so many properties per week. When the schedule fills, new bookings get pushed to later dates \\u2014 sometimes weeks later. And the 15% discount? That\\u2019s gone after March 1, period.</p><h3>What Your Neighbors Are Saying</h3><p>We asked a few of our early bookers why they locked in their spot:</p><ul><li><em>\\\"I learned the hard way last year \\u2014 waited until March and couldn\\u2019t get on the schedule until mid-April.\\\"</em></li><li><em>\\\"15% off is real money. Plus I got my exact preferred week.\\\"</em></li><li><em>\\\"I just don\\u2019t want to think about it. Booked it, done, one less thing on my plate.\\\"</em></li></ul><p>If you\\u2019ve been meaning to book, now\\u2019s the time. <strong>18 days left at 15% off.</strong></p><h3>What\\u2019s Included (Reminder)</h3><ul><li>Full yard debris removal</li><li>Garden bed cleanout and prep</li><li>Lawn dethatching</li><li>Edging \\u2014 beds, sidewalks, driveways</li><li>First mow of the season</li></ul><p>Same crew. Same quality. 15% less.</p>',\n    reviewText: 'Excellent service from start to finish. TotalGuard cleaned up our entire property and it looked brand new. Prompt, professional, and worth every penny.',\n    reviewerName: 'Christina Kang',\n    ctaText: 'Book Now \\u2014 18 Days Left at 15% Off',\n    ctaUrl: 'https://tgyardcare.com/services/spring-cleanup',\n    textBody: 'Hi {{first_name}},\\n\\n87 spring cleanups have been booked so far and preferred dates are going fast. 18 days left at 15% off.\\n\\nIncludes: full yard debris removal, garden bed cleanout, lawn dethatching, edging, first mow.\\n\\n15% off expires March 1.\\n\\n\\u201cExcellent service from start to finish. TotalGuard cleaned up our entire property and it looked brand new.\\u201d \\u2014 Christina Kang\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    month: 2, day: 28,\n    emailType: 'flash_spring_lastcall',\n    template: 'urgency',\n    subject: '\\u23f0 15% off spring cleanup ends TONIGHT',\n    previewText: 'After tonight, spring cleanup goes back to full price. Last chance.',\n    headline: 'Early Bird Pricing Ends Tonight',\n    subheadline: 'After midnight, the 15% discount is gone and scheduling is first-come, first-served.',\n    alertBadge: 'EXPIRES TONIGHT',\n    alertColor: '#C0392B',\n    stakesHtml: '<p>{{first_name}},</p><p>This is the last email about this \\u2014 because after tonight, the offer is done.</p><p><strong>15% off spring cleanup expires at midnight.</strong></p><p>Tomorrow morning, pricing goes back to standard rates. And the schedule? First-come, first-served with no guaranteed dates.</p><p>If you\\u2019ve been thinking about it, this is the moment. It takes 2 minutes to book:</p><ol><li>Click the button below</li><li>Pick your preferred week</li><li>Done \\u2014 you\\u2019re locked in at 15% off with your preferred date</li></ol><p>We\\u2019ve booked 120+ spring cleanups already this season. Once we\\u2019re full, we\\u2019re full.</p><p><strong>After tonight, this offer is gone. No extensions, no exceptions.</strong></p>',\n    urgencyLabel: 'OFFER EXPIRES',\n    urgencyDisplay: 'Tonight at Midnight \\u2014 February 28',\n    benefitsHtml: '&#10003; Full spring debris removal<br>&#10003; Garden bed cleanout &amp; prep<br>&#10003; Lawn dethatching<br>&#10003; Edging \\u2014 beds, sidewalks, driveways<br>&#10003; First mow of the season<br>&#10003; Same crew guarantee<br>&#10003; 15% early bird discount applied',\n    reviewText: 'Great company to work with! They\\u2019re always on time, do excellent work, and are easy to communicate with. Highly recommend TotalGuard to anyone in the Madison area.',\n    reviewerName: 'Max Rucker',\n    ctaText: 'Book Now \\u2014 Offer Ends Tonight',\n    ctaUrl: 'https://tgyardcare.com/services/spring-cleanup',\n    textBody: 'Hi {{first_name}},\\n\\n15% off spring cleanup expires at midnight TONIGHT. No extensions, no exceptions.\\n\\nWe\\u2019ve booked 120+ spring cleanups already. Once we\\u2019re full, we\\u2019re full.\\n\\n\\u201cGreat company to work with! Always on time, excellent work, easy to communicate with.\\u201d \\u2014 Max Rucker\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n\n  // Flash Sale 2: Midsummer Referral Blitz\n  {\n    month: 7, day: 1,\n    emailType: 'flash_referral_announce',\n    template: 'hero',\n    subject: '$50 for you. $50 for them. July only.',\n    previewText: 'Normally $25 each \\u2014 this month it\\u2019s $50. No limit. Refer everyone.',\n    headline: '$50 for You. $50 for Them.',\n    subheadline: 'Our referral rewards just doubled \\u2014 for July only. No limit on referrals.',\n    bodyHtml: '<p>Hey {{first_name}},</p><p>You know our referral program? The one where you and your friend each get $25? We just doubled it. <strong>For the entire month of July:</strong></p><h3>The Midsummer Referral Blitz</h3><ul><li><strong>You refer someone</strong> \\u2192 They get <strong>$50 off their first service</strong></li><li><strong>They book</strong> \\u2192 You get <strong>$50 off your next service</strong> (any service)</li><li><strong>No limit</strong> \\u2192 Refer as many people as you want</li></ul><p>Normally this is $25 each. This month? Doubled. Here\\u2019s why: July is our busiest month, and the best way we grow is through customers like you telling their neighbors. So we\\u2019re making it worth your while.</p><h3>Let\\u2019s Talk Numbers</h3><table style=\"width:100%; border-collapse:collapse; margin:16px 0;\"><tr style=\"border-bottom:1px solid #e0e0e0;\"><td style=\"padding:10px;\">Refer 1 neighbor</td><td style=\"padding:10px; text-align:right;\"><strong>You save $50</strong></td></tr><tr style=\"border-bottom:1px solid #e0e0e0;\"><td style=\"padding:10px;\">Refer 3 neighbors</td><td style=\"padding:10px; text-align:right;\"><strong>You save $150</strong></td></tr><tr style=\"border-bottom:1px solid #e0e0e0;\"><td style=\"padding:10px;\">Refer 5 neighbors</td><td style=\"padding:10px; text-align:right;\"><strong>You save $250</strong></td></tr><tr><td style=\"padding:10px;\">Refer 10 neighbors</td><td style=\"padding:10px; text-align:right;\"><strong>You save $500</strong></td></tr></table><p>Some of our top referrers have literally paid for an entire season of yard care just by telling people about us. No gimmicks \\u2014 just real savings for real recommendations.</p><h3>How to Refer</h3><p>Easy \\u2014 just have your friend mention your name when they call or book online. That\\u2019s it. We track everything on our end.</p><p><strong>Or share this ready-to-send message:</strong></p><blockquote style=\"background:#f5f5f5; padding:16px; border-left:4px solid #2d6a2e; border-radius:4px;\"><p><em>\\\"Hey! I use TotalGuard Yard Care and they\\u2019re seriously the best. Same crew every time, great communication, fair prices. Right now they\\u2019re running a special \\u2014 if you sign up this month, you\\u2019ll get $50 off your first service. Just mention my name when you book: tgyardcare.com or (608) 535-6057\\\"</em></p></blockquote><p>Copy, paste, send. That\\u2019s $50 in your pocket for every person who books.</p>',\n    reviewText: 'They handled a full mulch job plus weeding \\u2014 looked so good I had to walk my neighbor through it. She hired them the next day.',\n    reviewerName: 'Anderson See',\n    ctaText: 'Share TotalGuard \\u2014 Earn $50 Per Referral',\n    ctaUrl: 'https://tgyardcare.com/referral',\n    textBody: 'Hi {{first_name}},\\n\\nOur referral rewards just doubled for July only! You refer someone, they get $50 off their first service. They book, you get $50 off your next service. No limit.\\n\\nJust have your friend mention your name when they call or book online.\\n\\n\\u201cThey handled a full mulch job plus weeding \\u2014 looked so good I had to walk my neighbor through it.\\u201d \\u2014 Anderson See\\n\\nShare at tgyardcare.com/referral or call (608) 535-6057'\n  },\n  {\n    month: 7, day: 15,\n    emailType: 'flash_referral_reminder',\n    template: 'hero',\n    subject: 'You\\u2019ve got 2 weeks left to earn $50 per referral',\n    previewText: '16 days left for double referral rewards. Refer 3 = save $150.',\n    headline: 'Halfway Through \\u2014 Have You Shared Yet?',\n    subheadline: '16 days left for double referral rewards. The math is hard to ignore.',\n    bodyHtml: '<p>Hey {{first_name}},</p><p>We\\u2019re at the halfway point of our Midsummer Referral Blitz, and the results have been amazing \\u2014 dozens of new customers signed up this month because people like you spread the word.</p><p><strong>But there\\u2019s still 16 days left, and we want to make sure you don\\u2019t miss out.</strong></p><h3>Quick Recap</h3><ul><li>You refer someone \\u2192 <strong>$50 off your next service</strong></li><li>They book \\u2192 <strong>$50 off their first service</strong></li><li>No limit \\u2192 <strong>Refer everyone you know</strong></li></ul><h3>The Simple Math</h3><p>Think about your street. Your cul-de-sac. Your coworkers who complain about their lawn guy. Your friend who\\u2019s been doing it themselves and hates every minute of it.</p><p><strong>Refer 3 people this month = $150 in savings for you.</strong></p><p>That\\u2019s real money off real services. Some customers have already referred 4-5 people this month. One customer in Sun Prairie referred 7 neighbors and has enough credit to cover their next two mowing visits.</p><h3>Not Sure What to Say?</h3><p>Just forward this email. Or text them this:</p><blockquote style=\"background:#f5f5f5; padding:16px; border-left:4px solid #2d6a2e; border-radius:4px;\"><p><em>\\\"My yard care company is running a deal \\u2014 $50 off your first service if you sign up in July. They\\u2019re called TotalGuard and they\\u2019re legit. Same crew every time, great communication. (608) 535-6057 or tgyardcare.com \\u2014 just mention my name.\\\"</em></p></blockquote><p>16 days. $50 per referral. No limit. Go.</p>',\n    reviewText: 'Had TotalGuard get the yard ready for a big party. They went above and beyond \\u2014 edging, mulching, trimming, the whole nine yards. Everyone commented on how great the yard looked.',\n    reviewerName: 'Andrew Lai',\n    ctaText: 'Share & Earn $50 Per Referral',\n    ctaUrl: 'https://tgyardcare.com/referral',\n    textBody: 'Hi {{first_name}},\\n\\nHalfway through the Midsummer Referral Blitz! 16 days left for double referral rewards.\\n\\nRefer someone = $50 off your next service. They book = $50 off their first service. No limit.\\n\\nRefer 3 people = $150 in savings.\\n\\n\\u201cHad TotalGuard get the yard ready for a big party. They went above and beyond.\\u201d \\u2014 Andrew Lai\\n\\nShare at tgyardcare.com/referral or call (608) 535-6057'\n  },\n  {\n    month: 7, day: 28,\n    emailType: 'flash_referral_lastcall',\n    template: 'urgency',\n    subject: '\\u23f0 Double referral rewards end July 31',\n    previewText: 'After July 31, referral rewards go back to $25. 3 days left.',\n    headline: '3 Days Left for Double Referrals',\n    subheadline: 'After July 31, it goes back to $25 each. This is your last shot at $50.',\n    alertBadge: 'ENDS JULY 31',\n    alertColor: '#C0392B',\n    stakesHtml: '<p>{{first_name}},</p><p><strong>3 days.</strong> That\\u2019s how long double referral rewards last.</p><p>After July 31, the referral bonus drops back to $25. Right now, it\\u2019s $50 for you and $50 for them. For every single person you refer.</p><p>If you\\u2019ve been meaning to share \\u2014 <strong>this is it.</strong></p><h3>Quick Share Text (Copy & Send)</h3><blockquote style=\"background:#f5f5f5; padding:16px; border-left:4px solid #2d6a2e; border-radius:4px;\"><p><em>\\\"Hey \\u2014 last chance to get $50 off yard care. My company TotalGuard is running a deal through July 31 only. They\\u2019re the best I\\u2019ve ever used \\u2014 same crew, great communication, fair prices. Call (608) 535-6057 or visit tgyardcare.com and mention my name.\\\"</em></p></blockquote><p>Send it to 5 people right now. Even if one books, that\\u2019s $50 off your next service.</p><p><strong>July 31. Then it\\u2019s over.</strong></p>',\n    urgencyLabel: 'DOUBLE REWARDS END',\n    urgencyDisplay: 'July 31 \\u2014 3 Days Left',\n    benefitsHtml: '&#10003; $50 off your next service per referral<br>&#10003; $50 off their first service<br>&#10003; No limit on referrals<br>&#10003; Any service qualifies<br>&#10003; Just mention your name when they book',\n    reviewText: 'Great, reliable service. My neighbors and I all use TotalGuard now. Honestly the best yard care company in Madison.',\n    reviewerName: 'Elon Mcclernan',\n    ctaText: 'Share Now \\u2014 3 Days Left',\n    ctaUrl: 'https://tgyardcare.com/referral',\n    textBody: 'Hi {{first_name}},\\n\\n3 days left for double referral rewards. After July 31, it goes back to $25 each.\\n\\nRight now: $50 for you, $50 for them, no limit.\\n\\n\\u201cGreat, reliable service. My neighbors and I all use TotalGuard now.\\u201d \\u2014 Elon Mcclernan\\n\\nShare at tgyardcare.com/referral or call (608) 535-6057'\n  },\n\n  // Flash Sale 3: Fall Bundle Blowout\n  {\n    month: 9, day: 1,\n    emailType: 'flash_fall_announce',\n    template: 'hero',\n    subject: 'Fall cleanup + leaf removal + gutters = save $150',\n    previewText: 'Bundle fall cleanup, 3 leaf removals, and gutter cleaning. Save $150 vs. booking separately.',\n    headline: 'The Fall Bundle Is Here \\u2014 Save $150',\n    subheadline: 'Three essential fall services. One crew. One price. $150 in savings.',\n    bodyHtml: '<p>Hey {{first_name}},</p><p>Fall in {{city}} is beautiful \\u2014 but it\\u2019s also the season that demands the most from your yard. Between leaf mountains, gutter clogs, and end-of-season cleanup, there\\u2019s a lot to handle. That\\u2019s why we built <strong>The Fall Bundle:</strong></p><h3>What\\u2019s Included</h3><h4>1. Full Fall Cleanup</h4><ul><li>Complete yard debris removal</li><li>Garden bed cleanout \\u2014 dead annuals removed, perennials cut back</li><li>Final edging for clean lines heading into winter</li><li>Final mow at winterizing height (2-2.5\\\")</li></ul><h4>2. Three Leaf Removal Visits</h4><ul><li>Scheduled across October and November during peak leaf fall</li><li>Full removal from lawn, beds, walkways, and driveways</li><li>Leaves hauled away \\u2014 no bags for you to deal with</li><li>Timing adjusted based on actual leaf fall (not a rigid calendar)</li></ul><h4>3. Gutter Cleaning</h4><ul><li>All gutters and downspouts cleared of debris</li><li>Downspouts flushed to confirm flow</li><li>Visual inspection for damage or issues</li><li>Debris removed from property (not dumped in your beds)</li></ul><h3>The Math</h3><table style=\"width:100%; border-collapse:collapse; margin:16px 0;\"><tr style=\"border-bottom:1px solid #e0e0e0;\"><td style=\"padding:10px;\">Fall Cleanup (individual)</td><td style=\"padding:10px; text-align:right;\">$$</td></tr><tr style=\"border-bottom:1px solid #e0e0e0;\"><td style=\"padding:10px;\">3\\u00d7 Leaf Removal (individual)</td><td style=\"padding:10px; text-align:right;\">$$</td></tr><tr style=\"border-bottom:1px solid #e0e0e0;\"><td style=\"padding:10px;\">Gutter Cleaning (individual)</td><td style=\"padding:10px; text-align:right;\">$$</td></tr><tr style=\"border-bottom:2px solid #2d6a2e;\"><td style=\"padding:10px;\"><strong>Fall Bundle Price</strong></td><td style=\"padding:10px; text-align:right;\"><strong>Save $150</strong></td></tr></table><p>Same crew handles everything. One point of contact. No coordinating three different companies. Your property goes into winter in perfect shape.</p><p><strong>This bundle is available through September 30.</strong> We run it every year, and it sells out every year. Don\\u2019t wait until the leaves are falling to book \\u2014 by then, the schedule is packed.</p>',\n    reviewText: 'TotalGuard handles our mowing, gutter cleaning, and fall cleanup. They\\u2019re a one-stop shop and the quality is consistent across every service. Highly recommend.',\n    reviewerName: 'Bryce',\n    ctaText: 'Get the Fall Bundle \\u2014 Save $150',\n    ctaUrl: 'https://tgyardcare.com/services/fall-cleanup',\n    textBody: 'Hi {{first_name}},\\n\\nThe Fall Bundle is here! Fall cleanup + 3 leaf removal visits + gutter cleaning. Save $150 vs. booking separately.\\n\\nAvailable through September 30. Same crew handles everything.\\n\\n\\u201cTotalGuard handles our mowing, gutter cleaning, and fall cleanup. One-stop shop, consistent quality.\\u201d \\u2014 Bryce\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    month: 9, day: 20,\n    emailType: 'flash_fall_reminder',\n    template: 'hero',\n    subject: '{{city}} fall bundles are going fast',\n    previewText: 'Most {{city}} fall bundle slots are booked. 10 days left to save $150.',\n    headline: 'Fall Bundles Are Going Fast in {{city}}',\n    subheadline: 'We\\u2019ve booked the majority of our fall bundle slots. 10 days left at this price.',\n    bodyHtml: '<p>Hey {{first_name}},</p><p>Quick update: our fall bundles are selling faster than last year. <strong>Most of our {{city}} crew slots for October are already booked.</strong></p><p>Here\\u2019s what\\u2019s happening: homeowners across Dane County are locking in their fall coverage because they know what happens when you wait \\u2014 the leaves pile up, the gutters overflow, and by the time you call, every yard care company in Madison is booked through Thanksgiving.</p><h3>What You Get (Reminder)</h3><ul><li><strong>Full fall cleanup</strong> \\u2014 debris, bed cleanout, final edging, winterizing mow</li><li><strong>3 leaf removal visits</strong> \\u2014 timed to actual leaf fall, hauled away completely</li><li><strong>Gutter cleaning</strong> \\u2014 gutters, downspouts, debris removed from property</li><li><strong>$150 savings</strong> vs. booking each service individually</li></ul><h3>What Customers Are Saying</h3><blockquote><p>\\\"I used to try to handle fall cleanup myself. Renting a leaf vacuum, climbing ladders for gutters, spending entire weekends... Now TotalGuard handles all of it in one bundle. Best decision I\\u2019ve made.\\\"</p></blockquote><p><strong>10 days left at bundle pricing. After September 30, these services are only available at individual rates.</strong></p>',\n    reviewText: 'Had TotalGuard do a gutter cleaning and they were fantastic. Showed up on time, did a thorough job, and cleaned up after themselves. Already scheduled them for the fall cleanup too.',\n    reviewerName: 'Warren Williams',\n    ctaText: 'Book the Fall Bundle \\u2014 10 Days Left',\n    ctaUrl: 'https://tgyardcare.com/services/fall-cleanup',\n    textBody: 'Hi {{first_name}},\\n\\nFall bundles are selling fast. Most crew slots for October in {{city}} are already booked. 10 days left at bundle pricing.\\n\\nIncludes: fall cleanup, 3 leaf removal visits, gutter cleaning. Save $150.\\n\\nBundle pricing ends September 30.\\n\\n\\u201cHad TotalGuard do a gutter cleaning and they were fantastic.\\u201d \\u2014 Warren Williams\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    month: 9, day: 28,\n    emailType: 'flash_fall_lastcall',\n    template: 'urgency',\n    subject: '\\u23f0 Fall bundle ends in 3 days',\n    previewText: 'After October 1, fall services go back to individual pricing. 3 days left to save $150.',\n    headline: 'Fall Bundle Disappears October 1',\n    subheadline: '3 days left. After that, fall cleanup, leaf removal, and gutters are individual price only.',\n    alertBadge: 'ENDS OCT 1',\n    alertColor: '#C0392B',\n    stakesHtml: '<p>{{first_name}},</p><p><strong>3 days.</strong> That\\u2019s all that\\u2019s left for the fall bundle.</p><p>After October 1:</p><ul><li>Fall cleanup \\u2192 individual price</li><li>Leaf removal \\u2192 individual price per visit</li><li>Gutter cleaning \\u2192 individual price</li><li>Total cost \\u2192 <strong>$150 more</strong> than the bundle</li></ul><p>The leaves are starting to fall. The gutters are collecting debris right now. October storms are coming.</p><p>Book the bundle today and your entire fall is handled. One crew. One price. Three services. Done.</p><p><strong>October 1. Then it\\u2019s gone.</strong></p>',\n    urgencyLabel: 'BUNDLE PRICING ENDS',\n    urgencyDisplay: 'October 1 \\u2014 3 Days Left',\n    benefitsHtml: '&#10003; Full fall cleanup<br>&#10003; 3 leaf removal visits<br>&#10003; Gutter cleaning<br>&#10003; Same crew for everything<br>&#10003; $150 savings vs. individual pricing',\n    reviewText: 'TotalGuard has been maintaining our property for two seasons now. Consistent quality every single time. They\\u2019re reliable, communicative, and do excellent work.',\n    reviewerName: 'Barb Osborn',\n    ctaText: 'Get the Fall Bundle \\u2014 Ends in 3 Days',\n    ctaUrl: 'https://tgyardcare.com/services/fall-cleanup',\n    textBody: 'Hi {{first_name}},\\n\\n3 days left for the fall bundle. After October 1, fall cleanup, leaf removal, and gutters go back to individual pricing \\u2014 $150 more.\\n\\nBook the bundle today. One crew, one price, three services.\\n\\n\\u201cConsistent quality every single time. Reliable, communicative, and excellent work.\\u201d \\u2014 Barb Osborn\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n\n  // Flash Sale 4: Snow Rate Lock\n  {\n    month: 10, day: 15,\n    emailType: 'flash_snow_announce',\n    template: 'hero',\n    subject: 'Snow removal at last year\\u2019s rate \\u2014 but only until Oct 31',\n    previewText: 'After Oct 31, snow removal rates increase 20%. Lock in last year\\u2019s price now.',\n    headline: 'Lock In Your Snow Removal Rate',\n    subheadline: 'Sign up before October 31 and keep last year\\u2019s pricing. After that, rates go up 20%.',\n    bodyHtml: '<p>Hey {{first_name}},</p><p>Winter is coming to {{city}}. And every year, the same thing happens: the first big snowfall hits, everyone scrambles to find a snow removal company, and prices spike because demand is through the roof.</p><p>We don\\u2019t want that for you. That\\u2019s why we\\u2019re offering our rate lock:</p><h3>Snow Removal Rate Lock \\u2014 Through October 31</h3><p><strong>Sign up before October 31 and you\\u2019ll keep last year\\u2019s rate for the entire winter season.</strong> After October 31, our snow removal rates increase 20% \\u2014 no exceptions.</p><h3>What\\u2019s Included in TotalGuard Snow Removal</h3><ul><li><strong>Driveway clearing</strong> \\u2014 plowed or blown, edge to edge</li><li><strong>Sidewalk clearing</strong> \\u2014 front, side, and any connecting walks</li><li><strong>Walkway to front door</strong> \\u2014 so you can actually get to your house</li><li><strong>Ice management</strong> \\u2014 salt or ice melt application on all cleared surfaces</li><li><strong>Early morning service</strong> \\u2014 we\\u2019re out before you need to leave for work</li><li><strong>Storm-based response</strong> \\u2014 we come as often as needed, whenever it snows</li></ul><h3>Why Lock In Now?</h3><ol><li><strong>Save 20%</strong> \\u2014 That\\u2019s the rate increase after October 31. On a full winter of service, that\\u2019s serious money.</li><li><strong>Guaranteed coverage</strong> \\u2014 We cap the number of properties we service to ensure quality. Once we\\u2019re full, we stop accepting new customers. If you\\u2019re not signed up before the first snow, you may not get in at all.</li><li><strong>Peace of mind</strong> \\u2014 No more watching the weather forecast with dread. When it snows, we show up. Period.</li></ol><p>Madison averages 51 inches of snow per year. Last winter we had 17 plowable events. That\\u2019s 17 mornings where you either wake up early to shovel, or you wake up to a cleared driveway because TotalGuard already handled it.</p><p><strong>Rate lock expires October 31. After that, it\\u2019s 20% more.</strong></p>',\n    reviewText: 'TotalGuard\\u2019s snow removal service is a lifesaver. They\\u2019re always out early, the driveway is clean before I leave for work, and they\\u2019re consistent all winter. Worth every penny.',\n    reviewerName: 'Carson Bloedow',\n    ctaText: 'Lock In Last Year\\u2019s Rate',\n    ctaUrl: 'https://tgyardcare.com/services/snow-removal',\n    textBody: 'Hi {{first_name}},\\n\\nWinter is coming. Sign up for snow removal before October 31 and keep last year\\u2019s rate. After that, rates increase 20%.\\n\\nIncludes: driveway clearing, sidewalk clearing, walkway to front door, ice management, early morning service, storm-based response.\\n\\n\\u201cTotalGuard\\u2019s snow removal service is a lifesaver. Always out early, driveway clean before I leave for work.\\u201d \\u2014 Carson Bloedow\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    month: 10, day: 25,\n    emailType: 'flash_snow_reminder',\n    template: 'hero',\n    subject: 'Snow rate lock expires in 6 days, {{first_name}}',\n    previewText: '6 days until snow removal rates go up 20%. Madison\\u2019s first snow averages Nov 4.',\n    headline: '6 Days to Lock Your Snow Rate',\n    subheadline: 'After October 31, rates increase 20%. And Madison\\u2019s first snow averages November 4.',\n    bodyHtml: '<p>Hey {{first_name}},</p><p>Let me share a number with you: <strong>November 4.</strong></p><p>That\\u2019s the average date of Madison\\u2019s first measurable snowfall. Which means in 6 days, when our rate lock expires, <strong>you could be less than a week away from needing snow removal.</strong></p><p>Here\\u2019s what happens every year without fail:</p><ol><li>October: \\\"I\\u2019ll sign up soon.\\\"</li><li>November 1: Rates go up 20%.</li><li>November 5: First snow hits.</li><li>November 6: Inbox full of emails from people scrambling to find coverage.</li><li>November 7: We\\u2019re full. Waitlist only.</li></ol><p><strong>Don\\u2019t be step 4.</strong></p><h3>The Weather Is Already Turning</h3><p>Nighttime temps are dipping into the 30s. The long-range forecast shows our first potential snow event in the next 2-3 weeks. This isn\\u2019t hypothetical \\u2014 winter is on the doorstep.</p><h3>What You\\u2019re Locking In</h3><ul><li>Full winter snow removal \\u2014 driveway, sidewalks, walkways</li><li>Ice management on all cleared surfaces</li><li>Early morning service \\u2014 cleared before your commute</li><li>All at <strong>last year\\u2019s rate</strong> \\u2014 20% less than what it costs after Oct 31</li></ul><p><strong>6 days, {{first_name}}. After October 31, the price goes up and we start filling to capacity.</strong></p>',\n    reviewText: 'TotalGuard is hands-down the best yard care service I\\u2019ve ever used. Reliable, professional, and they actually care about doing a great job. My lawn has never looked better.',\n    reviewerName: 'David Harter',\n    ctaText: 'Lock In Your Rate \\u2014 6 Days Left',\n    ctaUrl: 'https://tgyardcare.com/services/snow-removal',\n    textBody: 'Hi {{first_name}},\\n\\nSnow rate lock expires in 6 days. Madison\\u2019s first snow averages November 4 \\u2014 you could need snow removal days after the rate lock expires.\\n\\nLock in: full winter snow removal, ice management, early morning service, all at last year\\u2019s rate.\\n\\nAfter October 31, rates increase 20%.\\n\\n\\u201cTotalGuard is hands-down the best yard care service I\\u2019ve ever used.\\u201d \\u2014 David Harter\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  {\n    month: 10, day: 30,\n    emailType: 'flash_snow_lastcall',\n    template: 'urgency',\n    subject: '\\u23f0 Snow removal rates increase 20% TOMORROW',\n    previewText: 'After midnight tomorrow, snow removal rates go up 20%. This is your last chance.',\n    headline: 'Rates Go Up 20% Tomorrow',\n    subheadline: 'After midnight October 31, the rate lock is gone. No exceptions. No extensions.',\n    alertBadge: 'RATE INCREASE TOMORROW',\n    alertColor: '#C0392B',\n    stakesHtml: '<p>{{first_name}},</p><p><strong>Tomorrow at midnight, snow removal rates increase 20%.</strong></p><p>This is not a soft deadline. This is not a \\\"we might extend it\\\" situation. At 12:01am on November 1, the price goes up for everyone who hasn\\u2019t signed up.</p><p>And here\\u2019s the thing: <strong>first snow in Madison averages November 4.</strong> That\\u2019s potentially days away.</p><p>Two options:</p><ol><li><strong>Lock in now</strong> \\u2014 last year\\u2019s rate, guaranteed coverage all winter, cleared before your commute every time it snows.</li><li><strong>Wait</strong> \\u2014 pay 20% more (if we still have spots), scramble when the first storm hits, hope someone\\u2019s available.</li></ol><p>It takes 2 minutes to sign up. Click below, lock in your rate, and never think about snow removal again this winter.</p><p><strong>Tomorrow. 20% more. No exceptions.</strong></p>',\n    urgencyLabel: 'RATE INCREASE',\n    urgencyDisplay: 'Tomorrow at Midnight \\u2014 October 31',\n    benefitsHtml: '&#10003; Full winter snow removal<br>&#10003; Driveway, sidewalks, walkways<br>&#10003; Ice management on all surfaces<br>&#10003; Early morning service<br>&#10003; Last year\\u2019s rate locked all winter<br>&#10003; Guaranteed coverage \\u2014 no waitlist',\n    reviewText: 'Signed up for snow removal last winter and it was the best decision. TotalGuard was out before 7am every single time. Driveway clean, sidewalk clear, salt down. Couldn\\u2019t ask for more.',\n    reviewerName: 'Cooper Brakmanis',\n    ctaText: 'Lock In Your Rate \\u2014 Last Chance',\n    ctaUrl: 'https://tgyardcare.com/services/snow-removal',\n    textBody: 'Hi {{first_name}},\\n\\nTomorrow at midnight, snow removal rates increase 20%. No exceptions, no extensions.\\n\\nFirst snow in Madison averages November 4. Lock in now or pay more and scramble later.\\n\\n\\u201cSigned up for snow removal last winter and it was the best decision. TotalGuard was out before 7am every single time.\\u201d \\u2014 Cooper Brakmanis\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  }\n];\n\n// ── Find today's email (if any) ──\nconst todayEmail = flashSchedule.find(e => e.month === month && e.day === day);\n\nif (!todayEmail) {\n  return [{ json: { _skip: true } }];\n}\n\n// ── Build dedup set ──\nconst sentItems = $('Fetch Sent History').all().map(i => i.json);\nconst sentSet = new Set(sentItems.map(s => `${s.contact_email}|${s.email_type}`));\n\n// ── Loop customers, build emails ──\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (!c.email) continue;\n  const dedupKey = `${c.email}|${todayEmail.emailType}`;\n  if (sentSet.has(dedupKey)) continue;\n\n  const firstName = c.first_name || 'there';\n  const city = c.city || 'Madison';\n\n  // Personalize subject\n  const subject = todayEmail.subject\n    .replace(/\\{\\{first_name\\}\\}/g, firstName)\n    .replace(/\\{\\{city\\}\\}/g, city);\n\n  // Personalize text body\n  const textBody = todayEmail.textBody\n    .replace(/\\{\\{first_name\\}\\}/g, firstName)\n    .replace(/\\{\\{city\\}\\}/g, city);\n\n  // Build HTML\n  let bannerHtml, bodyContentHtml;\n  if (todayEmail.template === 'urgency') {\n    const personalizedHeadline = todayEmail.headline.replace(/\\{\\{city\\}\\}/g, city);\n    const personalizedSubheadline = todayEmail.subheadline.replace(/\\{\\{city\\}\\}/g, city).replace(/\\{\\{first_name\\}\\}/g, firstName);\n    bannerHtml = urgencyBanner(personalizedHeadline, personalizedSubheadline, todayEmail.alertBadge, todayEmail.alertColor);\n    const personalizedStakes = todayEmail.stakesHtml.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city);\n    bodyContentHtml = bodySection(personalizedStakes) + urgencyCountdown(todayEmail.urgencyLabel, todayEmail.urgencyDisplay) + benefitsBox(todayEmail.benefitsHtml);\n  } else {\n    const personalizedHeadline = todayEmail.headline.replace(/\\{\\{city\\}\\}/g, city).replace(/\\{\\{first_name\\}\\}/g, firstName);\n    const personalizedSubheadline = todayEmail.subheadline.replace(/\\{\\{city\\}\\}/g, city).replace(/\\{\\{first_name\\}\\}/g, firstName);\n    bannerHtml = heroBanner(personalizedHeadline, personalizedSubheadline);\n    const personalizedBody = todayEmail.bodyHtml.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city);\n    bodyContentHtml = bodySection(personalizedBody);\n  }\n\n  const previewText = todayEmail.previewText.replace(/\\{\\{city\\}\\}/g, city).replace(/\\{\\{first_name\\}\\}/g, firstName);\n  const ctaText = todayEmail.ctaText.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city);\n\n  const htmlBody = buildHtml({\n    previewText: previewText,\n    bannerHtml: bannerHtml,\n    bodyHtml: bodyContentHtml,\n    reviewHtml: reviewBlock(todayEmail.reviewText, todayEmail.reviewerName),\n    ctaText: ctaText,\n    ctaUrl: todayEmail.ctaUrl\n  });\n\n  results.push({\n    json: {\n      ...c,\n      subject,\n      body: textBody,\n      htmlBody,\n      emailType: todayEmail.emailType\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "id": "build-email",
      "name": "Build Flash Sale Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "filter-skip",
      "name": "Filter Skipped",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api-key", "value": "={{$vars.TG_BREVO_API_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" }, \"to\": [{ \"email\": \"{{ $json.email }}\", \"name\": \"{{ $json.first_name }}\" }], \"subject\": \"{{ $json.subject }}\", \"htmlContent\": \"{{ $json.htmlBody }}\", \"textContent\": \"{{ $json.body }}\" }"
      },
      "id": "send-flash",
      "name": "Send Flash Sale Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contact_email\": \"{{ $json.email }}\", \"workflow_name\": \"flash_sales\", \"email_type\": \"{{ $json.emailType }}\" }"
      },
      "id": "log-send",
      "name": "Log to email_sends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Check flash sale dates daily at 9am CT": { "main": [[{ "node": "Fetch All Customers", "type": "main", "index": 0 }, { "node": "Fetch Sent History", "type": "main", "index": 0 }]] },
    "Fetch All Customers": { "main": [[{ "node": "Build Flash Sale Email", "type": "main", "index": 0 }]] },
    "Fetch Sent History": { "main": [[{ "node": "Build Flash Sale Email", "type": "main", "index": 1 }]] },
    "Build Flash Sale Email": { "main": [[{ "node": "Filter Skipped", "type": "main", "index": 0 }]] },
    "Filter Skipped": { "main": [[{ "node": "Send Flash Sale Email", "type": "main", "index": 0 }]] },
    "Send Flash Sale Email": { "main": [[{ "node": "Log to email_sends", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true }
}