automation/n8n-workflows/TG-84-invoice-collections-sequence.json
{
  "name": "TG-84-invoice-collections-sequence",
  "nodes": [
    { "parameters": {}, "id": "tg84-trigger", "name": "When Called by TG-05", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [0, 0] },
    { "parameters": { "jsCode": "const data = $input.first().json;\nreturn { json: { customer_name: data.customer_name || '', customer_email: data.customer_email || '', customer_phone: data.customer_phone || '', service: data.service || '', amount: data.amount || null, jobber_id: data.jobber_id || '', event_id: data.event_id || null } };" }, "id": "tg84-extract", "name": "Extract Invoice Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0] },
    { "parameters": { "method": "PATCH", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/invoices?customer_phone=eq.{{ $json.customer_phone }}&collections_status=is.null", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"collections_status\": \"enrolled\", \"collections_enrolled_at\": \"{{ $now.toISO() }}\"}" }, "id": "tg84-enroll", "name": "Enroll in Collections", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 0], "continueOnFail": true },
    { "parameters": { "amount": 3, "unit": "days" }, "id": "tg84-wait-3d", "name": "Wait 3 Days", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [660, 0] },
    { "parameters": { "method": "GET", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/invoices?customer_phone=eq.{{ $('Extract Invoice Data').item.json.customer_phone }}&select=id,collections_status&order=created_at.desc&limit=1", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" } ] } }, "id": "tg84-check1", "name": "Check Status Day 3", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 0] },
    { "parameters": { "jsCode": "const result = $input.first().json;\nconst invoices = Array.isArray(result) ? result : [result];\nconst status = invoices[0] ? invoices[0].collections_status : 'unknown';\nconst invoiceId = invoices[0] ? invoices[0].id : null;\nconst shouldContinue = status === 'enrolled';\nreturn { json: { should_continue: shouldContinue, collections_status: status, invoice_id: invoiceId } };" }, "id": "tg84-eval1", "name": "Still Unpaid Day 3?", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 0] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "continue-check", "leftValue": "={{ $json.should_continue }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg84-if1", "name": "Continue Sequence?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1320, 0] },
    { "parameters": { "method": "POST", "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/rpc/can_send_sms", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"p_phone\": \"{{ $('Extract Invoice Data').item.json.customer_phone }}\"}" }, "id": "tg84-consent1", "name": "Check Consent Touch 1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1540, -100] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "c1", "leftValue": "={{ $json }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg84-if-consent1", "name": "Has Consent T1?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1760, -100] },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [ { "id": "has-email-t1", "leftValue": "={{ $('Extract Invoice Data').item.json.customer_email }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } } ],
          "combinator": "and"
        }
      },
      "id": "tg84-if-email-t1",
      "name": "Has Email T1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "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" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" },\n  \"to\": [{ \"email\": \"{{ $('Extract Invoice Data').item.json.customer_email }}\", \"name\": \"{{ $('Extract Invoice Data').item.json.customer_name || 'Valued Customer' }}\" }],\n  \"subject\": \"Your TotalGuard invoice is past due\",\n  \"htmlContent\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#16a34a;'>TotalGuard Yard Care</h2><p>Hi {{ $('Extract Invoice Data').item.json.customer_name || 'there' }},</p><p>Just a friendly reminder that your TotalGuard invoice{{ $('Extract Invoice Data').item.json.amount ? ' for <strong>$' + $('Extract Invoice Data').item.json.amount + '</strong>' : '' }} for {{ $('Extract Invoice Data').item.json.service || 'your recent service' }} is past due.</p><p>You can pay quickly through the Jobber client hub link in your original invoice email, or contact us to discuss payment options.</p><ul><li>Phone: 608-535-6057</li><li>Email: totalguardllc@gmail.com</li></ul><p>We appreciate your business!<br>The TotalGuard Team</p></div>\"\n}"
      },
      "id": "tg84-email-fallback-t1",
      "name": "Send Email Fallback T1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 0],
      "continueOnFail": true
    },
    { "parameters": { "method": "POST", "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/sms_sends", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"phone\": \"{{ $('Extract Invoice Data').item.json.customer_phone }}\",\n  \"workflow_name\": \"TG-84-invoice-collections-t1\",\n  \"message_body\": \"Hi {{ $('Extract Invoice Data').item.json.customer_name || 'there' }}! Just a friendly reminder that your TotalGuard invoice{{ $('Extract Invoice Data').item.json.amount ? ' for $' + $('Extract Invoice Data').item.json.amount : '' }} is due. Pay easily through the Jobber link in your email. Questions? Call 608-535-6057. - TotalGuard\",\n  \"status\": \"pending\"\n}" }, "id": "tg84-log-t1", "name": "Log Touch 1 SMS", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1980, -200], "continueOnFail": true },
    { "parameters": { "from": "+16089953554", "to": "={{ $('Extract Invoice Data').item.json.customer_phone }}", "message": "=Hi {{ $('Extract Invoice Data').item.json.customer_name || 'there' }}! Just a friendly reminder that your TotalGuard invoice{{ $('Extract Invoice Data').item.json.amount ? ' for $' + $('Extract Invoice Data').item.json.amount : '' }} is due. Pay easily through the Jobber link in your email. Questions? Call 608-535-6057. - TotalGuard" }, "id": "tg84-sms-t1", "name": "Send Touch 1 SMS", "type": "n8n-nodes-base.twilio", "typeVersion": 1, "position": [2200, -200], "credentials": { "twilioApi": { "id": "PLACEHOLDER_TWILIO_ID", "name": "Twilio (not yet configured)" } }, "continueOnFail": true },
    { "parameters": { "method": "PATCH", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/invoices?id=eq.{{ $('Still Unpaid Day 3?').item.json.invoice_id }}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"collections_status\": \"day3_sent\", \"collections_sms_day3_sent_at\": \"{{ $now.toISO() }}\"}" }, "id": "tg84-update-t1", "name": "Mark Day 3 Sent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2420, -100], "continueOnFail": true },
    { "parameters": { "amount": 7, "unit": "days" }, "id": "tg84-wait-7d-1", "name": "Wait 7 Days", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [2640, -100] },
    { "parameters": { "method": "GET", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/invoices?customer_phone=eq.{{ $('Extract Invoice Data').item.json.customer_phone }}&select=id,collections_status&order=created_at.desc&limit=1", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" } ] } }, "id": "tg84-check2", "name": "Check Status Day 10", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2860, -100] },
    { "parameters": { "jsCode": "const result = $input.first().json;\nconst invoices = Array.isArray(result) ? result : [result];\nconst status = invoices[0] ? invoices[0].collections_status : 'unknown';\nconst invoiceId = invoices[0] ? invoices[0].id : null;\nconst shouldContinue = status === 'day3_sent';\nreturn { json: { should_continue: shouldContinue, collections_status: status, invoice_id: invoiceId } };" }, "id": "tg84-eval2", "name": "Still Unpaid Day 10?", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3080, -100] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "c2", "leftValue": "={{ $json.should_continue }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg84-if2", "name": "Continue to Touch 2?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [3300, -100] },
    { "parameters": { "method": "POST", "url": "https://api.brevo.com/v3/smtp/email", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "api-key", "value": "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" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" },\n  \"to\": [{ \"email\": \"{{ $('Extract Invoice Data').item.json.customer_email }}\", \"name\": \"{{ $('Extract Invoice Data').item.json.customer_name || 'Valued Customer' }}\" }],\n  \"subject\": \"Friendly reminder: Your TotalGuard invoice is due\",\n  \"htmlContent\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#16a34a;'>TotalGuard Yard Care</h2><p>Hi {{ $('Extract Invoice Data').item.json.customer_name || 'there' }},</p><p>We wanted to send a friendly reminder that your invoice{{ $('Extract Invoice Data').item.json.amount ? ' for <strong>$' + $('Extract Invoice Data').item.json.amount + '</strong>' : '' }} for {{ $('Extract Invoice Data').item.json.service || 'your recent service' }} is still outstanding.</p><p>You can pay quickly through the Jobber client hub link in your original invoice email, or contact us to discuss payment options.</p><p>We appreciate your business!</p><ul><li>Phone: 608-535-6057</li><li>Email: totalguardllc@gmail.com</li></ul><p>Thank you,<br>The TotalGuard Team</p></div>\"\n}" }, "id": "tg84-email-t2", "name": "Send Touch 2 Email", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3520, -200], "continueOnFail": true },
    { "parameters": { "method": "PATCH", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/invoices?id=eq.{{ $('Still Unpaid Day 10?').item.json.invoice_id }}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"collections_status\": \"day10_sent\", \"collections_email_day10_sent_at\": \"{{ $now.toISO() }}\"}" }, "id": "tg84-update-t2", "name": "Mark Day 10 Sent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3740, -200], "continueOnFail": true },
    { "parameters": { "amount": 7, "unit": "days" }, "id": "tg84-wait-7d-2", "name": "Wait 7 Days Final", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [3960, -200] },
    { "parameters": { "method": "GET", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/invoices?customer_phone=eq.{{ $('Extract Invoice Data').item.json.customer_phone }}&select=id,collections_status&order=created_at.desc&limit=1", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" } ] } }, "id": "tg84-check3", "name": "Check Status Day 17", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4180, -200] },
    { "parameters": { "jsCode": "const result = $input.first().json;\nconst invoices = Array.isArray(result) ? result : [result];\nconst status = invoices[0] ? invoices[0].collections_status : 'unknown';\nconst invoiceId = invoices[0] ? invoices[0].id : null;\nconst shouldContinue = status === 'day10_sent';\nreturn { json: { should_continue: shouldContinue, collections_status: status, invoice_id: invoiceId } };" }, "id": "tg84-eval3", "name": "Still Unpaid Day 17?", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4400, -200] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "c3", "leftValue": "={{ $json.should_continue }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg84-if3", "name": "Continue to Touch 3?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [4620, -200] },
    { "parameters": { "method": "POST", "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/rpc/can_send_sms", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"p_phone\": \"{{ $('Extract Invoice Data').item.json.customer_phone }}\"}" }, "id": "tg84-consent3", "name": "Check Consent Touch 3", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4840, -300] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "c3c", "leftValue": "={{ $json }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg84-if-consent3", "name": "Has Consent T3?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [5060, -300] },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [ { "id": "has-email-t3", "leftValue": "={{ $('Extract Invoice Data').item.json.customer_email }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } } ],
          "combinator": "and"
        }
      },
      "id": "tg84-if-email-t3",
      "name": "Has Email T3?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [5280, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "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" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" },\n  \"to\": [{ \"email\": \"{{ $('Extract Invoice Data').item.json.customer_email }}\", \"name\": \"{{ $('Extract Invoice Data').item.json.customer_name || 'Valued Customer' }}\" }],\n  \"subject\": \"Your TotalGuard invoice is past due\",\n  \"htmlContent\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#16a34a;'>TotalGuard Yard Care</h2><p>Hi {{ $('Extract Invoice Data').item.json.customer_name || 'there' }},</p><p>Your TotalGuard invoice{{ $('Extract Invoice Data').item.json.amount ? ' for <strong>$' + $('Extract Invoice Data').item.json.amount + '</strong>' : '' }} is now overdue. Please contact us as soon as possible to arrange payment and avoid further action.</p><ul><li>Phone: 608-535-6057</li><li>Email: totalguardllc@gmail.com</li></ul><p>The TotalGuard Team</p></div>\"\n}"
      },
      "id": "tg84-email-fallback-t3",
      "name": "Send Email Fallback T3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5500, -200],
      "continueOnFail": true
    },
    { "parameters": { "method": "POST", "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/sms_sends", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"phone\": \"{{ $('Extract Invoice Data').item.json.customer_phone }}\",\n  \"workflow_name\": \"TG-84-invoice-collections-t3\",\n  \"message_body\": \"Hi {{ $('Extract Invoice Data').item.json.customer_name || 'there' }}, your TotalGuard invoice{{ $('Extract Invoice Data').item.json.amount ? ' for $' + $('Extract Invoice Data').item.json.amount : '' }} is now overdue. Please contact us at 608-535-6057 to arrange payment. - TotalGuard\",\n  \"status\": \"pending\"\n}" }, "id": "tg84-log-t3", "name": "Log Touch 3 SMS", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5280, -400], "continueOnFail": true },
    { "parameters": { "from": "+16089953554", "to": "={{ $('Extract Invoice Data').item.json.customer_phone }}", "message": "=Hi {{ $('Extract Invoice Data').item.json.customer_name || 'there' }}, your TotalGuard invoice{{ $('Extract Invoice Data').item.json.amount ? ' for $' + $('Extract Invoice Data').item.json.amount : '' }} is now overdue. Please contact us at 608-535-6057 to arrange payment. - TotalGuard" }, "id": "tg84-sms-t3", "name": "Send Touch 3 SMS", "type": "n8n-nodes-base.twilio", "typeVersion": 1, "position": [5500, -400], "credentials": { "twilioApi": { "id": "PLACEHOLDER_TWILIO_ID", "name": "Twilio (not yet configured)" } }, "continueOnFail": true },
    { "parameters": { "method": "PATCH", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/invoices?id=eq.{{ $('Still Unpaid Day 17?').item.json.invoice_id }}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"collections_status\": \"escalated\", \"collections_sms_day17_sent_at\": \"{{ $now.toISO() }}\"}" }, "id": "tg84-mark-escalated", "name": "Mark Escalated", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5720, -300], "continueOnFail": true },
    { "parameters": { "jsCode": "return [{ json: { status: 'sequence_complete', reason: 'customer_paid_during_sequence' } }];" }, "id": "tg84-exit-early", "name": "Exit - Customer Paid", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1540, 200] },
    { "parameters": { "jsCode": "return [{ json: { status: 'no_consent_no_email_exit', reason: 'customer_has_no_sms_consent_and_no_email' } }];" }, "id": "tg84-no-consent-exit", "name": "Exit - No Consent No Email", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2200, 200] },
    { "parameters": { "jsCode": "return [{ json: { status: 'no_consent_no_email_exit_t3', reason: 'customer_has_no_sms_consent_and_no_email_t3' } }];" }, "id": "tg84-no-consent-exit-t3", "name": "Exit - No Consent No Email T3", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5500, 0] }
  ],
  "connections": {
    "When Called by TG-05": { "main": [[{ "node": "Extract Invoice Data", "type": "main", "index": 0 }]] },
    "Extract Invoice Data": { "main": [[{ "node": "Enroll in Collections", "type": "main", "index": 0 }]] },
    "Enroll in Collections": { "main": [[{ "node": "Wait 3 Days", "type": "main", "index": 0 }]] },
    "Wait 3 Days": { "main": [[{ "node": "Check Status Day 3", "type": "main", "index": 0 }]] },
    "Check Status Day 3": { "main": [[{ "node": "Still Unpaid Day 3?", "type": "main", "index": 0 }]] },
    "Still Unpaid Day 3?": { "main": [[{ "node": "Continue Sequence?", "type": "main", "index": 0 }]] },
    "Continue Sequence?": { "main": [ [{ "node": "Check Consent Touch 1", "type": "main", "index": 0 }], [{ "node": "Exit - Customer Paid", "type": "main", "index": 0 }] ] },
    "Check Consent Touch 1": { "main": [[{ "node": "Has Consent T1?", "type": "main", "index": 0 }]] },
    "Has Consent T1?": { "main": [ [{ "node": "Log Touch 1 SMS", "type": "main", "index": 0 }], [{ "node": "Has Email T1?", "type": "main", "index": 0 }] ] },
    "Has Email T1?": { "main": [ [{ "node": "Send Email Fallback T1", "type": "main", "index": 0 }], [{ "node": "Exit - No Consent No Email", "type": "main", "index": 0 }] ] },
    "Send Email Fallback T1": { "main": [[{ "node": "Mark Day 3 Sent", "type": "main", "index": 0 }]] },
    "Log Touch 1 SMS": { "main": [[{ "node": "Send Touch 1 SMS", "type": "main", "index": 0 }]] },
    "Send Touch 1 SMS": { "main": [[{ "node": "Mark Day 3 Sent", "type": "main", "index": 0 }]] },
    "Mark Day 3 Sent": { "main": [[{ "node": "Wait 7 Days", "type": "main", "index": 0 }]] },
    "Wait 7 Days": { "main": [[{ "node": "Check Status Day 10", "type": "main", "index": 0 }]] },
    "Check Status Day 10": { "main": [[{ "node": "Still Unpaid Day 10?", "type": "main", "index": 0 }]] },
    "Still Unpaid Day 10?": { "main": [[{ "node": "Continue to Touch 2?", "type": "main", "index": 0 }]] },
    "Continue to Touch 2?": { "main": [ [{ "node": "Send Touch 2 Email", "type": "main", "index": 0 }], [{ "node": "Exit - Customer Paid", "type": "main", "index": 0 }] ] },
    "Send Touch 2 Email": { "main": [[{ "node": "Mark Day 10 Sent", "type": "main", "index": 0 }]] },
    "Mark Day 10 Sent": { "main": [[{ "node": "Wait 7 Days Final", "type": "main", "index": 0 }]] },
    "Wait 7 Days Final": { "main": [[{ "node": "Check Status Day 17", "type": "main", "index": 0 }]] },
    "Check Status Day 17": { "main": [[{ "node": "Still Unpaid Day 17?", "type": "main", "index": 0 }]] },
    "Still Unpaid Day 17?": { "main": [[{ "node": "Continue to Touch 3?", "type": "main", "index": 0 }]] },
    "Continue to Touch 3?": { "main": [ [{ "node": "Check Consent Touch 3", "type": "main", "index": 0 }], [{ "node": "Exit - Customer Paid", "type": "main", "index": 0 }] ] },
    "Check Consent Touch 3": { "main": [[{ "node": "Has Consent T3?", "type": "main", "index": 0 }]] },
    "Has Consent T3?": { "main": [ [{ "node": "Log Touch 3 SMS", "type": "main", "index": 0 }], [{ "node": "Has Email T3?", "type": "main", "index": 0 }] ] },
    "Has Email T3?": { "main": [ [{ "node": "Send Email Fallback T3", "type": "main", "index": 0 }], [{ "node": "Exit - No Consent No Email T3", "type": "main", "index": 0 }] ] },
    "Send Email Fallback T3": { "main": [[{ "node": "Mark Escalated", "type": "main", "index": 0 }]] },
    "Log Touch 3 SMS": { "main": [[{ "node": "Send Touch 3 SMS", "type": "main", "index": 0 }]] },
    "Send Touch 3 SMS": { "main": [[{ "node": "Mark Escalated", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "id": "63t7K6gAdW1aPupP"
}
