automation/n8n-workflows/TG-81-newsletter-yard-report.json
{
  "name": "TG-81-newsletter-yard-report",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 14 1-7 * 2" }] } },
      "id": "schedule",
      "name": "Monthly 1st Tuesday 9am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/customers?select=id,first_name,email,city,services&limit=500",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-audience",
      "name": "Fetch All Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends?workflow_name=eq.newsletter_yard_report&select=contact_email,email_type",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }] }
      },
      "id": "fetch-sent",
      "name": "Fetch Sent History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst month = now.getMonth() + 1;\nconst year = now.getFullYear();\nconst MONTH_NAMES = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst MONTH_ABBR = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'];\nconst monthName = MONTH_NAMES[month - 1];\nconst monthAbbr = MONTH_ABBR[month - 1];\n\n// ── HTML email builder helpers (same as TG-14) ──\nconst FONT = \"-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\";\nconst GREEN = '#2D5A27';\nconst GOLD = '#C5A55A';\nconst DARK = '#1a1a2e';\n\nfunction headerBar() {\n  return '<tr><td style=\"background-color:' + GREEN + ';\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td style=\"padding:16px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"left\" valign=\"middle\" style=\"font-family:' + FONT + '; font-size:18px; font-weight:700; color:#ffffff; line-height:1.3;\">TotalGuard Yard Care</td><td align=\"right\" valign=\"middle\" style=\"font-family:' + FONT + '; font-size:14px; color:#ffffff; line-height:1.3;\"><a href=\"tel:+16085356057\" style=\"color:#ffffff; text-decoration:none; font-weight:600;\">(608) 535-6057</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:0 24px 14px; font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; letter-spacing:1.5px; text-transform:uppercase; font-weight:600;\">Madison\\'s Most Trusted Yard Care</td></tr></table></td></tr>';\n}\n\nfunction heroBanner(headline, subheadline) {\n  return '<tr><td style=\"background: linear-gradient(135deg, #2D5A27 0%, #3d7a34 50%, #2D5A27 100%);\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:48px 32px 16px;\"><h1 style=\"margin:0; font-family:' + FONT + '; font-size:28px; font-weight:800; color:#ffffff; line-height:1.2;\">' + headline + '</h1></td></tr><tr><td align=\"center\" style=\"padding:8px 40px 48px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:16px; color:' + GOLD + '; line-height:1.5; font-weight:500;\">' + subheadline + '</p></td></tr></table></td></tr>';\n}\n\nfunction bodySection(html) {\n  return '<tr><td style=\"padding:32px 32px 16px;\"><div style=\"font-family:' + FONT + '; font-size:15px; color:#333333; line-height:1.7;\">' + html + '</div></td></tr>';\n}\n\nfunction reviewBlock(reviewText, reviewerName) {\n  return '<tr><td style=\"padding:0 32px 32px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f9f9f9; border-radius:8px;\"><tr><td align=\"center\" style=\"padding:28px 28px 8px;\"><span style=\"font-size:24px; color:' + GOLD + '; letter-spacing:2px;\">&#9733;&#9733;&#9733;&#9733;&#9733;</span></td></tr><tr><td align=\"center\" style=\"padding:8px 28px;\"><p style=\"margin:0; font-family:Georgia,\\'Times New Roman\\',Times,serif; font-size:15px; color:#333333; line-height:1.7; font-style:italic;\">&ldquo;' + reviewText + '&rdquo;</p></td></tr><tr><td align=\"center\" style=\"padding:12px 28px 4px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:14px; color:#1a1a1a; font-weight:700; line-height:1.4;\">&mdash; ' + reviewerName + '</p></td></tr><tr><td align=\"center\" style=\"padding:0 28px 28px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:12px; color:#888888; line-height:1.4; text-transform:uppercase; letter-spacing:0.5px;\">Verified Google Review</p></td></tr></table></td></tr>';\n}\n\nfunction ctaButton(text, url) {\n  return '<tr><td style=\"padding:0 32px 32px;\" align=\"center\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%;\"><tr><td align=\"center\" style=\"border-radius:6px; background-color:' + GREEN + ';\"><a href=\"' + url + '\" target=\"_blank\" style=\"display:block; padding:16px 32px; font-family:' + FONT + '; font-size:16px; font-weight:700; color:#ffffff; text-decoration:none; border-radius:6px; background-color:' + GREEN + '; text-align:center;\">' + text + '</a></td></tr></table></td></tr>';\n}\n\nfunction trustBar() {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:' + GREEN + '; border-radius:6px;\"><tr><td align=\"center\" style=\"padding:14px 16px; font-family:' + FONT + '; font-size:12px; color:#ffffff; line-height:2; letter-spacing:0.3px;\">&#10003; Licensed &amp; Insured&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 4.9&#9733; Rating&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 500+ Properties&nbsp;&nbsp;&bull;&nbsp;&nbsp;&#10003; 100% Satisfaction Guarantee</td></tr></table></td></tr>';\n}\n\nfunction footer() {\n  return '<tr><td style=\"background-color:' + DARK + '; border-radius:0 0 8px 8px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:32px 32px 8px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:18px; font-weight:700; color:#ffffff; line-height:1.3;\">TotalGuard Yard Care</p></td></tr><tr><td align=\"center\" style=\"padding:4px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:13px; color:#999999; line-height:1.6;\">7610 Welton Dr, Madison, WI 53711&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"tel:+16085356057\" style=\"color:' + GOLD + '; text-decoration:none;\">(608) 535-6057</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"mailto:totalguardllc@gmail.com\" style=\"color:' + GOLD + '; text-decoration:none;\">totalguardllc@gmail.com</a></p></td></tr><tr><td align=\"center\" style=\"padding:20px 32px 8px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td style=\"padding:0 8px;\"><a href=\"https://www.facebook.com/totalguardyard/\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Facebook</a></td><td style=\"padding:0 8px;\"><a href=\"https://www.instagram.com/totalguardyardcare\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Instagram</a></td><td style=\"padding:0 8px;\"><a href=\"https://g.page/r/CRW5Dsg2JgwBEBM\" target=\"_blank\" style=\"font-family:' + FONT + '; font-size:13px; color:' + GOLD + '; text-decoration:none;\">Google</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:12px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; color:#666666; line-height:1.6;\">Serving Madison, Middleton, Fitchburg, Sun Prairie, Verona, Waunakee &amp; surrounding areas</p></td></tr><tr><td align=\"center\" style=\"padding:8px 32px 32px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; color:#666666; line-height:1.6;\">You\\'re receiving this because you\\'re a TotalGuard Yard Care customer.<br><a href=\"https://tgyardcare.com/unsubscribe\" style=\"color:#999999; text-decoration:underline;\">Unsubscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=\"https://tgyardcare.com/email-preferences\" style=\"color:#999999; text-decoration:underline;\">Email Preferences</a></p></td></tr></table></td></tr>';\n}\n\n// ── Newsletter-specific section builders ──\nfunction newsletterBadge(monthLabel, yearLabel) {\n  return '<tr><td style=\"background-color:' + DARK + '; padding:20px 32px;\" align=\"center\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td align=\"center\"><p style=\"margin:0; font-family:' + FONT + '; font-size:11px; font-weight:700; color:' + GOLD + '; text-transform:uppercase; letter-spacing:3px;\">THE YARD REPORT &mdash; ' + monthLabel + ' ' + yearLabel + '</p></td></tr></table></td></tr>';\n}\n\nfunction newsletterIntro(headline, introText) {\n  return '<tr><td style=\"background: linear-gradient(135deg, #2D5A27 0%, #3d7a34 50%, #2D5A27 100%);\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:36px 32px 12px;\"><h1 style=\"margin:0; font-family:' + FONT + '; font-size:26px; font-weight:800; color:#ffffff; line-height:1.2;\">' + headline + '</h1></td></tr><tr><td style=\"padding:12px 32px 36px;\"><p style=\"margin:0; font-family:' + FONT + '; font-size:15px; color:#e0e0e0; line-height:1.7;\">' + introText + '</p></td></tr></table></td></tr>';\n}\n\nfunction contentSection(html) {\n  return '<tr><td style=\"padding:32px 32px 16px;\"><div style=\"font-family:' + FONT + '; font-size:15px; color:#333333; line-height:1.7;\">' + html + '</div></td></tr>';\n}\n\nfunction spotlightSection(name, city, story) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f5f5f0; border-radius:8px; border-left:4px solid ' + GOLD + ';\"><tr><td style=\"padding:20px 24px;\"><p style=\"margin:0 0 4px; font-family:' + FONT + '; font-size:11px; color:' + GOLD + '; text-transform:uppercase; letter-spacing:2px; font-weight:700;\">&#127942; YARD OF THE MONTH</p><p style=\"margin:0 0 8px; font-family:' + FONT + '; font-size:16px; color:#1a1a1a; font-weight:700; line-height:1.3;\">' + name + ' &mdash; ' + city + '</p><p style=\"margin:0; font-family:' + FONT + '; font-size:14px; color:#555555; line-height:1.7;\">' + story + '</p></td></tr></table></td></tr>';\n}\n\nfunction offerBox(headline, text, ctaText, ctaUrl) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f0f8f0; border-radius:8px; border:2px solid ' + GREEN + ';\"><tr><td style=\"padding:24px;\"><p style=\"margin:0 0 8px; font-family:' + FONT + '; font-size:16px; font-weight:700; color:' + GREEN + '; line-height:1.3;\">' + headline + '</p><p style=\"margin:0 0 16px; font-family:' + FONT + '; font-size:14px; color:#333333; line-height:1.7;\">' + text + '</p><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:100%;\"><tr><td align=\"center\" style=\"border-radius:6px; background-color:' + GREEN + ';\"><a href=\"' + ctaUrl + '\" target=\"_blank\" style=\"display:block; padding:14px 28px; font-family:' + FONT + '; font-size:15px; font-weight:700; color:#ffffff; text-decoration:none; border-radius:6px; text-align:center;\">' + ctaText + '</a></td></tr></table></td></tr></table></td></tr>';\n}\n\nfunction localEventsSection(headline, text) {\n  return '<tr><td style=\"padding:0 32px 24px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f9f9f9; border-radius:8px;\"><tr><td style=\"padding:20px 24px;\"><p style=\"margin:0 0 8px; font-family:' + FONT + '; font-size:14px; font-weight:700; color:' + DARK + '; line-height:1.3;\">&#127963; ' + headline + '</p><p style=\"margin:0; font-family:' + FONT + '; font-size:14px; color:#555555; line-height:1.7;\">' + text + '</p></td></tr></table></td></tr>';\n}\n\nfunction quickLinksBar() {\n  return '<tr><td style=\"padding:0 32px 32px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\"><tr><td align=\"center\" style=\"padding:0 4px;\" width=\"25%\"><a href=\"https://tgyardcare.com/contact\" target=\"_blank\" style=\"display:block; padding:12px 8px; font-family:' + FONT + '; font-size:13px; font-weight:700; color:' + GREEN + '; text-decoration:none; border:2px solid ' + GREEN + '; border-radius:6px; text-align:center;\">Book</a></td><td align=\"center\" style=\"padding:0 4px;\" width=\"25%\"><a href=\"https://tgyardcare.com/referral\" target=\"_blank\" style=\"display:block; padding:12px 8px; font-family:' + FONT + '; font-size:13px; font-weight:700; color:' + GREEN + '; text-decoration:none; border:2px solid ' + GREEN + '; border-radius:6px; text-align:center;\">Refer</a></td><td align=\"center\" style=\"padding:0 4px;\" width=\"25%\"><a href=\"https://g.page/r/CRW5Dsg2JgwBEBM/review\" target=\"_blank\" style=\"display:block; padding:12px 8px; font-family:' + FONT + '; font-size:13px; font-weight:700; color:' + GREEN + '; text-decoration:none; border:2px solid ' + GREEN + '; border-radius:6px; text-align:center;\">Review</a></td><td align=\"center\" style=\"padding:0 4px;\" width=\"25%\"><a href=\"tel:+16085356057\" style=\"display:block; padding:12px 8px; font-family:' + FONT + '; font-size:13px; font-weight:700; color:' + GREEN + '; text-decoration:none; border:2px solid ' + GREEN + '; border-radius:6px; text-align:center;\">Call</a></td></tr></table></td></tr>';\n}\n\nfunction buildHtml(opts) {\n  const style = '<style type=\"text/css\">body,table,td,a{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}table,td{mso-table-lspace:0pt;mso-table-rspace:0pt}img{-ms-interpolation-mode:bicubic;border:0;height:auto;line-height:100%;outline:none;text-decoration:none}body{margin:0;padding:0;width:100%!important;height:100%!important;background-color:#f4f4f4}@media only screen and (max-width:620px){.email-container{width:100%!important;max-width:100%!important}}</style>';\n  return '<!DOCTYPE html><html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">' + style + '</head><body style=\"margin:0;padding:0;background-color:#f4f4f4;\"><div style=\"display:none;font-size:1px;color:#f4f4f4;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;\">' + (opts.previewText || '') + '</div><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#f4f4f4;\"><tr><td align=\"center\" valign=\"top\" style=\"padding:20px 0;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" class=\"email-container\" style=\"margin:0 auto;max-width:600px;background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.06);\">' + headerBar() + opts.innerHtml + trustBar() + footer() + '</table></td></tr></table></body></html>';\n}\n// ── End HTML builder ──\n\n// ── All 12 monthly newsletter definitions ──\nconst newsletters = {\n  1: {\n    emailType: 'newsletter_jan',\n    subject_a: 'Winter survival guide for your Madison yard',\n    subject_b: '{{first_name}}, 3 things killing your yard right now (and how to stop them)',\n    preview_text: 'Salt damage, frozen grass, ice dams \\u2014 here\\'s how to protect your yard this winter.',\n    headline: 'The Yard Report: Winter Survival Guide',\n    intro_text: 'Happy New Year, {{first_name}}! January in Madison means sub-zero temps, heavy snow, and hidden threats to your yard. Most homeowners don\\'t think about their lawn in winter \\u2014 but what you do (and don\\'t do) right now determines how your yard looks in April. Here are three things to watch for this month.',\n    content_html: '<h3>1. Protect Your Evergreens from Road Salt Spray</h3><p>If you have evergreens, arborvitae, or boxwoods within 30 feet of a road or driveway, they\\'re getting hit with salt spray every time a plow or car drives by. Salt pulls moisture out of needles and leaves, causing brown, dead patches that don\\'t recover. <strong>The fix:</strong> Rinse exposed evergreens with plain water during any mid-winter thaw (when temps hit 35\\u00b0F+). Even one good rinse can prevent major damage. If you haven\\'t already, consider burlap screens for your most exposed shrubs.</p><h3>2. Stop Walking on Frozen Grass</h3><p>We get it \\u2014 shortcuts across the lawn save 30 seconds. But frozen grass blades are brittle. When you walk on them, the blades snap at the crown, creating dead footpaths that show up as brown streaks in spring. <strong>The rule:</strong> If there\\'s frost on the grass, stay on the sidewalk. This goes for pets too \\u2014 try to keep the dog\\'s path to a consistent trail rather than letting them roam the entire yard.</p><h3>3. Check Your Gutters for Ice Dams</h3><p>Look up at your roofline after a heavy snow. See thick ridges of ice along the edge? That\\'s an ice dam, and it means water is backing up under your shingles. Beyond roof damage, ice dams cause massive icicles that can rip gutters right off the fascia. <strong>What to do:</strong> If you see ice dam formation, don\\'t hack at it with a hammer (you\\'ll damage the gutters). Use a roof rake to clear snow from the first 3-4 feet of your roof edge, or call a professional. And if your gutters need attention this spring, that\\'s exactly what we\\'re here for.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Early Bird Spring Cleanup \\u2014 15% Off', text: 'Spring is closer than you think. Book your spring cleanup before March 1 and save 15%. You\\'ll lock in your preferred date, get the same crew you know, and be the first yard on the block to look sharp when the snow melts. Early bookers always get the best time slots.', cta_text: 'Book Spring Cleanup \\u2014 Save 15%', cta_url: 'https://tgyardcare.com/services/spring-cleanup?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-jan' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'Bundle up and head to the <strong>Dane County Farmers\\' Market Winter Market</strong> at the Monona Terrace (Saturdays through April). Also worth checking out: if you\\'re into ice fishing, the lakes are frozen solid \\u2014 grab a spot on Mendota or Monona before the February crowds.' },\n    review: { text: 'TotalGuard is hands-down the best yard care service I\\'ve ever used. Reliable, professional, and they actually care about doing a great job. My lawn has never looked better.', name: 'David Harter' },\n    textBody: 'Hi {{first_name}},\\n\\nHappy New Year! January in Madison means sub-zero temps and hidden threats to your yard. Here are three things to watch for:\\n\\n1. Protect evergreens from road salt spray \\u2014 rinse with plain water during mid-winter thaws.\\n2. Stop walking on frozen grass \\u2014 brittle blades snap and create dead footpaths.\\n3. Check gutters for ice dams \\u2014 use a roof rake, don\\'t hack at them.\\n\\nEarly Bird Spring Cleanup \\u2014 15% Off! Book before March 1.\\n\\n\"TotalGuard is hands-down the best yard care service I\\'ve ever used.\" \\u2014 David Harter\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  2: {\n    emailType: 'newsletter_feb',\n    subject_a: 'Spring is closer than you think \\u2014 here\\'s your prep checklist',\n    subject_b: '{{first_name}}, start planning now and your April yard will thank you',\n    preview_text: 'Soil pH, tool prep, and the spring tasks you should schedule right now.',\n    headline: 'The Yard Report: Spring Is Closer Than You Think',\n    intro_text: 'Hey {{first_name}} \\u2014 February feels like the dead of winter, but experienced Madison gardeners know: this is planning season. The homeowners who have the best-looking yards in May are the ones who start prepping in February. Here\\'s your checklist.',\n    content_html: '<h3>1. Plan Your Spring Yard Tasks Now</h3><p>Don\\'t wait for the snow to melt to figure out what needs doing. Walk your property on the next mild day and take stock: <strong>Are there areas where the lawn looks thin?</strong> Those need overseeding in April. <strong>Did any bushes get damaged by ice?</strong> Flag them for trimming. <strong>Are your garden beds overgrown from last fall?</strong> That\\'s a spring cleanup priority. Write it all down now so you\\'re not scrambling in April when every lawn care company in Madison is booked solid.</p><h3>2. Test Your Soil pH</h3><p>Wisconsin soil tends to run slightly acidic, especially in areas with lots of oak trees. You can grab a soil test kit from the Dane County UW-Extension office for about $20 \\u2014 it\\'s the single best investment you can make for your lawn. <strong>Why it matters:</strong> If your soil pH is off, fertilizer literally doesn\\'t work. Grass can\\'t absorb nutrients outside the 6.0-7.0 range. A soil test tells you exactly what amendments to apply, so you\\'re not throwing money at products that won\\'t help.</p><h3>3. Prep Your Tools (or Better Yet, Let Us Handle It)</h3><p>If you do any DIY yard work, February is the month to sharpen mower blades, change the oil, replace spark plugs, and clean out the garage. Dull mower blades tear grass instead of cutting it, which stresses the lawn and invites disease. <strong>Pro tip:</strong> A sharp blade makes a clean cut that heals fast. A dull blade leaves ragged edges that turn brown.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Spring Cleanup Booking Is Open \\u2014 Save 15%', text: 'Our spring cleanup slots are filling fast. Book before March 1 and save 15% \\u2014 plus you\\'ll get priority scheduling so your yard is one of the first in {{city}} to get cleaned up. Same crew, same quality, better price.', cta_text: 'Lock In Spring Cleanup \\u2014 15% Off', cta_url: 'https://tgyardcare.com/services/spring-cleanup?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-feb' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'Cabin fever? Check out <strong>Dane County events</strong> this month \\u2014 the winter farmers market continues at Monona Terrace, and if you\\'re up for a drive, the <strong>Wisconsin Dells Flake Out Festival</strong> is always a good time. Spring will be here before you know it.' },\n    review: { text: 'TotalGuard did an amazing spring cleanup on our property. They were thorough, on time, and left everything looking perfect. Already booked them for the full season.', name: 'Mauricio Roldan' },\n    textBody: 'Hi {{first_name}},\\n\\nFebruary is planning season. Here\\'s your spring prep checklist:\\n\\n1. Plan spring yard tasks now \\u2014 walk your property and take stock.\\n2. Test your soil pH \\u2014 grab a test kit from UW-Extension for $20.\\n3. Prep your tools \\u2014 sharpen mower blades, change oil, clean the garage.\\n\\nSpring Cleanup Booking Is Open \\u2014 Save 15%! Book before March 1.\\n\\n\"TotalGuard did an amazing spring cleanup. Thorough, on time, and left everything looking perfect.\" \\u2014 Mauricio Roldan\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  3: {\n    emailType: 'newsletter_mar',\n    subject_a: 'Spring awakening \\u2014 when to start what in your Madison yard',\n    subject_b: '{{first_name}}, the timing on these 3 spring tasks is everything',\n    preview_text: 'First raking, first mow, early weed prevention \\u2014 get the timing right and your lawn wins.',\n    headline: 'The Yard Report: Spring Awakening',\n    intro_text: 'It\\'s March, {{first_name}} \\u2014 and in Madison, that means anything from 55\\u00b0F and sunny to 8 inches of wet snow. But the ground is starting to thaw, and your yard is waking up whether you\\'re ready or not. Here\\'s how to make the most of it.',\n    content_html: '<h3>1. When to Start Raking (Hint: Not Yet)</h3><p>We know the urge to get out there on the first warm day. But raking too early does more harm than good. <strong>Wait until the ground is firm and the grass is no longer saturated.</strong> Walking on soggy soil compacts it, which suffocates roots and creates drainage problems all season. In the Madison area, that usually means mid-to-late March depending on the year. A good test: if your footprints leave impressions in the lawn, it\\'s too wet. Wait a few more days.</p><h3>2. First Mow Timing for Wisconsin</h3><p>Your first mow should happen when the grass has actively started growing \\u2014 typically when it reaches 3.5-4 inches. In south-central Wisconsin, that\\'s usually late March to mid-April depending on sun exposure and soil temperature. <strong>Set your mower to 3 inches for the first cut.</strong></p><h3>3. Early Weed Prevention Is Everything</h3><p>Here\\'s a truth most homeowners learn the hard way: <strong>weed prevention is 10x more effective than weed removal.</strong> Pre-emergent herbicide needs to go down before soil temps hit 55\\u00b0F consistently \\u2014 that\\'s usually late March to early April in Madison. Miss that window and you\\'re fighting crabgrass, dandelions, and clover all summer.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Spring Package: Cleanup + Mowing + Fertilization', text: 'Start the season right with our spring package \\u2014 full spring cleanup, weekly mowing, and a professional fertilization program tailored to your soil. Bundle all three and save vs. booking individually.', cta_text: 'Get the Spring Package \\u2192', cta_url: 'https://tgyardcare.com/services?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-mar' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'The <strong>Dane County Farmers\\' Market</strong> moves back outdoors to the Capitol Square in April \\u2014 but March is the month to start planning your garden. Seed starting season is here. Also, keep an eye on the Arboretum trails as the spring thaw reveals some beautiful early wildflowers.' },\n    review: { text: 'Great company to work with! They\\'re always on time, do excellent work, and are easy to communicate with. Highly recommend TotalGuard to anyone in the Madison area.', name: 'Max Rucker' },\n    textBody: 'Hi {{first_name}},\\n\\nMarch in Madison \\u2014 your yard is waking up. Here\\'s what to know:\\n\\n1. Wait to rake until the ground is firm and not saturated.\\n2. First mow when grass reaches 3.5-4 inches \\u2014 set mower to 3 inches.\\n3. Pre-emergent herbicide before soil hits 55\\u00b0F consistently.\\n\\nSpring Package: Cleanup + Mowing + Fertilization \\u2014 bundle and save!\\n\\n\"Great company to work with! Always on time, excellent work.\" \\u2014 Max Rucker\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  4: {\n    emailType: 'newsletter_apr',\n    subject_a: 'Growing season kickoff \\u2014 mowing, watering, and weed control',\n    subject_b: '{{first_name}}, your April lawn care cheat sheet is here',\n    preview_text: 'Mowing height, watering schedule, and when to hit weeds hard. Your April playbook.',\n    headline: 'The Yard Report: Growing Season Kickoff',\n    intro_text: 'April in Madison means the growing season is officially ON, {{first_name}}. Your grass is pushing new growth, weeds are germinating, and every decision you make this month ripples through the entire summer. Here\\'s how to get it right from the start.',\n    content_html: '<h3>1. Mowing Height: 3-3.5 Inches \\u2014 No Exceptions</h3><p>This is the single most impactful thing you can do for your lawn. <strong>Set your mower to 3-3.5 inches and leave it there.</strong> Taller grass shades the soil (which prevents weed seeds from germinating), retains moisture longer (less watering), and develops deeper roots (better drought resistance).</p><h3>2. Watering Schedule: Start Smart</h3><p>April in Wisconsin usually provides enough rain that you don\\'t need supplemental watering. But if we hit a dry stretch (7+ days without rain), water <strong>early morning (6-9am), twice per week, for 30-45 minutes per zone.</strong> Morning watering lets blades dry before evening, which prevents fungal disease.</p><h3>3. When to Apply Herbicide</h3><p>If you didn\\'t get pre-emergent down in late March, there\\'s still a window in early April \\u2014 but it\\'s closing fast. Soil temperatures are climbing, and once they hit 55\\u00b0F consistently, crabgrass starts germinating. Our herbicide program uses professional-grade products applied at exactly the right time.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Add Fertilization to Any Mowing Plan \\u2014 Save 10%', text: 'Already on a mowing plan? Add our professional fertilization program this month and save 10%. Same crew handles everything, and you\\'ll see thicker, greener grass within 4-6 weeks.', cta_text: 'Add Fertilization \\u2014 Save 10%', cta_url: 'https://tgyardcare.com/services/fertilization?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-apr' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'The <strong>UW-Madison Arboretum</strong> is putting on a show right now \\u2014 trillium, bluebells, and spring ephemerals are blooming across the woodland trails. Also, the Capitol Square Farmers\\' Market returns on April 12 \\u2014 mark your calendar.' },\n    review: { text: 'I recently purchased a round of herbicide treatment and I am beyond grateful for TotalGuard. They were very prompt on their response time, and did a great job killing my dandelions. Highly recommend.', name: 'Nick Bauman' },\n    textBody: 'Hi {{first_name}},\\n\\nApril \\u2014 growing season is ON. Here\\'s your cheat sheet:\\n\\n1. Mowing height: 3-3.5 inches, no exceptions.\\n2. Water early morning, twice per week if no rain for 7+ days.\\n3. Herbicide window is closing \\u2014 get pre-emergent down now.\\n\\nAdd Fertilization to Any Mowing Plan \\u2014 Save 10%!\\n\\n\"Beyond grateful for TotalGuard. Great job killing my dandelions.\" \\u2014 Nick Bauman\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  5: {\n    emailType: 'newsletter_may',\n    subject_a: 'Peak spring \\u2014 mulch, garden beds, and trimming tips',\n    subject_b: '{{first_name}}, May is make-or-break month for curb appeal',\n    preview_text: 'Mulch timing, garden bed prep, and when to trim bushes. The May playbook for Madison yards.',\n    headline: 'The Yard Report: Peak Spring',\n    intro_text: 'May is the month where Madison yards go from \"waking up\" to \"full send,\" {{first_name}}. Everything is growing fast, colors are popping, and this is your window to do the work that makes your property look incredible all summer. Here\\'s where to focus.',\n    content_html: '<h3>1. Mulch Application Timing</h3><p>May is the sweet spot for mulching in Wisconsin. <strong>Apply 2-3 inches of hardwood mulch around beds, trees, and shrubs.</strong> Don\\'t pile it against trunks or stems \\u2014 keep a 2-3 inch gap around the base of every plant. Volcano mulching is the most common landscaping mistake we see, and it slowly kills trees.</p><h3>2. Garden Bed Prep</h3><p>Before you plant anything new, get your beds cleaned out and edged. <strong>Clean edges are the #1 thing that makes a yard look professionally maintained</strong> \\u2014 even if everything else is average, crisp bed edges make the whole property look sharp.</p><h3>3. Bush Trimming After Spring Bloom</h3><p>If you have spring-flowering shrubs (lilacs, forsythia, rhododendron), <strong>wait until they finish blooming before trimming.</strong> These plants set their flower buds the previous year, so trimming before they bloom means cutting off this year\\'s flowers.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Mulching + Garden Bed Bundle', text: 'Get your beds cleaned, edged, and mulched in one visit. Our mulching and garden bed bundle covers everything: debris removal, bed edging, weed pulling, and fresh hardwood mulch application.', cta_text: 'Get a Free Mulching Estimate', cta_url: 'https://tgyardcare.com/services/mulching?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-may' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'It\\'s <strong>Brat Fest</strong> weekend at the end of May \\u2014 the world\\'s largest brat festival, right here in Madison. If you\\'re hosting a Memorial Day cookout, now\\'s the time to get your yard guest-ready.' },\n    review: { text: 'TotalGuard did an incredible job on our mulching project. They were professional, fast, and the results speak for themselves. Our beds have never looked this good.', name: 'Matthew Wolff' },\n    textBody: 'Hi {{first_name}},\\n\\nMay is peak spring \\u2014 here\\'s where to focus:\\n\\n1. Mulch application: 2-3 inches of hardwood mulch, don\\'t volcano mulch.\\n2. Garden bed prep: clean, edge, then plant.\\n3. Bush trimming: wait until spring bloomers finish flowering.\\n\\nMulching + Garden Bed Bundle \\u2014 get a free estimate!\\n\\n\"Incredible job on our mulching project. Our beds have never looked this good.\" \\u2014 Matthew Wolff\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  6: {\n    emailType: 'newsletter_jun',\n    subject_a: 'Summer mode \\u2014 how to keep your lawn alive in the heat',\n    subject_b: '{{first_name}}, your lawn is about to get stressed (here\\'s the fix)',\n    preview_text: 'Deep watering, heat stress signs, and how to mow smart when it\\'s 90\\u00b0F.',\n    headline: 'The Yard Report: Summer Mode',\n    intro_text: 'June in Madison means 85\\u00b0F days, humidity, and thunderstorms that dump 2 inches in 20 minutes. Your lawn handles all of it fine \\u2014 if you know what to do. Here\\'s your summer survival playbook, {{first_name}}.',\n    content_html: '<h3>1. Deep Watering vs. Frequent Watering</h3><p>This is the hill we will die on: <strong>water deeply and infrequently.</strong> Two to three times per week, 30-45 minutes per zone, early morning. Daily light watering trains grass roots to stay shallow. Deep watering pushes roots down 4-6 inches. <strong>Total weekly target: 1-1.5 inches of water.</strong></p><h3>2. Heat Stress Signs to Watch For</h3><p><strong>Footprinting:</strong> Walk across your lawn \\u2014 if the grass doesn\\'t spring back, it needs water. <strong>Blue-gray color:</strong> The lawn is conserving moisture. <strong>Wilting blades:</strong> Grass folding lengthwise is desperate for water. A good deep soak brings it back within 24-48 hours.</p><h3>3. Mowing in the Heat</h3><p>During hot spells (90\\u00b0F+), <strong>raise your mowing height by half an inch</strong> to 3.5-4 inches. The extra leaf blade shades the soil, reducing evaporation and keeping root zones cooler. Never mow during the heat of the day.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Referral Blitz Preview \\u2014 Double Rewards Coming in July', text: 'Heads up: in July, we\\'re doubling our referral rewards. Instead of $25 for you and $25 for your friend, it\\'ll be <strong>$50 each</strong> \\u2014 all month long. Start thinking about which neighbors could use reliable yard care.', cta_text: 'Learn About Our Referral Program', cta_url: 'https://tgyardcare.com/referral?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-jun' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'The <strong>Dane County Fair</strong> kicks off later this month, and <strong>Concerts on the Square</strong> is back at the Capitol \\u2014 Wednesday evenings, free, bring a blanket and a picnic. It\\'s one of the best things about living in Madison.' },\n    review: { text: 'Very efficient. Get our job done in hot weather without problems.', name: 'O W' },\n    textBody: 'Hi {{first_name}},\\n\\nJune \\u2014 summer mode activated. Here\\'s your survival playbook:\\n\\n1. Water deeply and infrequently \\u2014 2-3 times per week, early morning.\\n2. Watch for heat stress: footprinting, blue-gray color, wilting blades.\\n3. Raise mowing height to 3.5-4 inches during 90\\u00b0F+ heat.\\n\\nDouble Referral Rewards coming in July \\u2014 $50 each!\\n\\n\"Very efficient. Get our job done in hot weather without problems.\" \\u2014 O W\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  7: {\n    emailType: 'newsletter_jul',\n    subject_a: 'Midsummer check-in + double referral rewards are LIVE',\n    subject_b: '{{first_name}}, $50 for you and $50 for your neighbor \\u2014 July only',\n    preview_text: 'Brown patch prevention, irrigation tips, and the referral blitz is here \\u2014 $50 each, all July.',\n    headline: 'The Yard Report: Midsummer Check-In',\n    intro_text: 'We\\'re in the thick of it, {{first_name}}. July in Madison is hot, humid, and full of outdoor living. Your lawn is working overtime right now \\u2014 here\\'s how to keep it looking great. Plus, our DOUBLE REFERRAL BLITZ is officially live.',\n    content_html: '<h3>1. Brown Patch Prevention</h3><p>Brown patch is a fungal disease that thrives in hot, humid conditions. You\\'ll see irregular brown circles in your lawn. <strong>Prevention is all about moisture management:</strong> Water in the early morning so blades dry before evening. Never water at night. Avoid high-nitrogen fertilizer in summer.</p><h3>2. Irrigation Timing Matters</h3><p><strong>The only time to water is 5am-9am.</strong> Mid-day watering evaporates before reaching roots. Evening watering breeds disease. Set your timer once and forget it.</p><h3>3. When to Skip Mowing</h3><p>During extreme heat or drought, your lawn may go semi-dormant \\u2014 growth slows dramatically. <strong>This is normal and healthy.</strong> If your grass hasn\\'t grown noticeably since the last mow, skip it. Our crews monitor this and adjust schedules accordingly.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: '\\ud83d\\udd25 MIDSUMMER REFERRAL BLITZ \\u2014 $50 for You, $50 for Them', text: 'All July, referral rewards are DOUBLED. <strong>$50 off for you (any service) and $50 off their first service.</strong> No limit on referrals. Refer 3 neighbors = $150 in savings. Just have them mention your name when they book.', cta_text: 'Share TotalGuard \\u2014 Earn $50 Per Referral', cta_url: 'https://tgyardcare.com/referral?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-jul' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'Happy Fourth of July! Beyond the fireworks, July is prime time for enjoying Madison\\'s lakes \\u2014 kayaking on Wingra, paddleboarding on Mendota, or just soaking up the sun at B.B. Clarke Beach.' },\n    review: { text: 'Had TotalGuard get the yard ready for a big party. They went above and beyond \\u2014 edging, mulching, trimming, the whole nine yards. Everyone commented on how great the yard looked.', name: 'Andrew Lai' },\n    textBody: 'Hi {{first_name}},\\n\\nMidsummer check-in + DOUBLE REFERRAL BLITZ is LIVE!\\n\\n1. Brown patch prevention: water early morning, never at night.\\n2. Water only 5am-9am \\u2014 mid-day evaporates, evening breeds disease.\\n3. Skip mowing if grass isn\\'t growing \\u2014 semi-dormancy is normal.\\n\\nREFERRAL BLITZ: $50 for you, $50 for them. No limit. July only.\\n\\n\"They went above and beyond. Everyone commented on how great the yard looked.\" \\u2014 Andrew Lai\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  8: {\n    emailType: 'newsletter_aug',\n    subject_a: 'Fall prep starts now \\u2014 the August to-do list for your yard',\n    subject_b: '{{first_name}}, the #1 fall lawn task has a September deadline',\n    preview_text: 'Aeration timing, overseeding prep, and why August decisions shape your fall yard.',\n    headline: 'The Yard Report: Fall Prep Starts Now',\n    intro_text: 'August feels like the middle of summer, {{first_name}}, but smart homeowners know this is when fall prep begins. The decisions you make in August determine whether your yard thrives or struggles through autumn. Let\\'s get you set up.',\n    content_html: '<h3>1. Aeration Timing \\u2014 Book It Now for September</h3><p>Core aeration is the single most impactful thing you can do for a Wisconsin lawn, and <strong>September is the ideal window.</strong> Book now \\u2014 September aeration slots fill up fast because everyone who knows lawn care knows this is the time.</p><h3>2. Overseeding Prep</h3><p>If you have thin or bare patches, overseeding after aeration is the move. <strong>Before September:</strong> Start mowing slightly lower (2.5-3 inches) in the areas you plan to overseed. This reduces competition and lets sunlight reach new seedlings.</p><h3>3. Start Reducing Watering</h3><p>As August progresses and nighttime temps start dropping, your lawn needs less water. Begin tapering back to once a week. <strong>Let the lawn toughen up a bit</strong> \\u2014 slightly drier conditions push roots deeper, setting up a stronger fall and winter.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Fall Prep Early Booking \\u2014 Save on Aeration + Overseeding', text: 'September aeration slots are already filling up. Book your aeration now (with optional overseeding) and save with our early booking discount. Don\\'t wait until September and risk getting pushed to late October.', cta_text: 'Book Fall Aeration Now', cta_url: 'https://tgyardcare.com/services/aeration?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-aug' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'Back-to-school season is here \\u2014 good luck to all the UW families. If you\\'re looking for one last summer hurrah, the <strong>Wisconsin State Fair</strong> runs through mid-August, and Madison\\'s own Orton Park Festival is a great neighborhood event.' },\n    review: { text: 'TotalGuard has been maintaining our property for two seasons now. Consistent quality every single time. They\\'re reliable, communicative, and do excellent work.', name: 'Barb Osborn' },\n    textBody: 'Hi {{first_name}},\\n\\nFall prep starts now. Here\\'s your August to-do list:\\n\\n1. Book aeration for September \\u2014 slots fill up fast.\\n2. Prep for overseeding: mow lower in thin areas.\\n3. Start reducing watering \\u2014 taper to once a week.\\n\\nFall Prep Early Booking \\u2014 Save on Aeration + Overseeding!\\n\\n\"Consistent quality every single time. Reliable, communicative, excellent work.\" \\u2014 Barb Osborn\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  9: {\n    emailType: 'newsletter_sep',\n    subject_a: 'The critical month \\u2014 aeration, leaves, and gutters',\n    subject_b: '{{first_name}}, September is the most important month for your yard',\n    preview_text: 'Aeration timing is NOW. Plus: leaf management starts and gutter prep before fall storms.',\n    headline: 'The Yard Report: The Critical Month',\n    intro_text: 'This is it, {{first_name}}. Ask any lawn care professional and they\\'ll tell you: September is the most important month of the year for your yard. The work you do right now determines whether your lawn comes back strong next spring or limps through winter.',\n    content_html: '<h3>1. Aeration Timing Is NOW</h3><p>If you only do one thing for your lawn this year, <strong>do it this month.</strong> Core aeration in September takes advantage of the strongest growth period for Wisconsin cool-season grasses. <strong>Pair it with overseeding</strong> if you have any thin areas. We\\'re booking September aeration right now.</p><h3>2. Leaf Management Starts Earlier Than You Think</h3><p>The first leaves start falling in September. <strong>A thick layer of leaves smothers grass, blocks sunlight, and creates a wet mat that breeds fungal disease.</strong> Mulch-mow light leaf cover. Once accumulation gets heavy, it\\'s time for professional removal.</p><h3>3. Gutter Prep Before Fall Storms</h3><p>September storms can dump serious rain. <strong>Get your gutters cleaned before leaf drop peaks.</strong> A clean gutter system channels water away from your property and prevents ice dam formation in winter.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Fall Bundle \\u2014 Cleanup + Leaf Removal + Gutters \\u2014 Save $150', text: 'Our most popular fall package: full fall cleanup, 3 leaf removal visits, and gutter cleaning \\u2014 bundled together, you save $150 vs. booking each separately. This bundle sells out every year.', cta_text: 'Get the Fall Bundle \\u2014 Save $150', cta_url: 'https://tgyardcare.com/services/fall-cleanup?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-sep' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'The <strong>Madison Marathon</strong> takes over the city later this month \\u2014 great energy, worth spectating. And the fall colors are starting to peek through, especially along the Arboretum trails and around Devil\\'s Lake.' },\n    review: { text: 'TotalGuard handles our mowing, gutter cleaning, and fall cleanup. They\\'re a one-stop shop and the quality is consistent across every service. Highly recommend.', name: 'Bryce' },\n    textBody: 'Hi {{first_name}},\\n\\nSeptember is THE most important month for your yard. Here\\'s what to do:\\n\\n1. Aeration \\u2014 do it NOW. Pair with overseeding for thin areas.\\n2. Start leaf management early \\u2014 don\\'t let leaves smother your lawn.\\n3. Clean gutters before fall storms hit.\\n\\nFall Bundle: Cleanup + Leaf Removal + Gutters \\u2014 Save $150!\\n\\n\"One-stop shop. Quality is consistent across every service.\" \\u2014 Bryce\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  10: {\n    emailType: 'newsletter_oct',\n    subject_a: 'Fall crunch time \\u2014 final mow, leaves, and winter prep',\n    subject_b: '{{first_name}}, do these 3 things before the first freeze',\n    preview_text: 'Final mow height, leaf removal timing, and winterizing your irrigation. The October checklist.',\n    headline: 'The Yard Report: Fall Crunch Time',\n    intro_text: 'October in Madison means peak fall color, pumpkin everything, and a ticking clock, {{first_name}}. The first hard freeze is coming \\u2014 usually late October to early November \\u2014 and there\\'s a short list of things you need to handle before it arrives.',\n    content_html: '<h3>1. Final Mow Height \\u2014 Go Lower</h3><p>For the <strong>last 2-3 mows of the season, gradually lower the height to 2-2.5 inches.</strong> Tall grass going into winter folds over on itself, creating a mat that traps moisture and invites snow mold. Shorter grass stands upright, dries faster, and resists matting.</p><h3>2. Leaf Removal Timing</h3><p><strong>Don\\'t let a thick leaf layer sit on your lawn for more than a week.</strong> Light coverage can be mulch-mowed. But once you can\\'t see the grass beneath the leaves, it\\'s time for a full removal.</p><h3>3. Winterize Your Irrigation</h3><p>If you have an in-ground irrigation system, <strong>get it blown out before the first hard freeze.</strong> Water left in the lines expands when it freezes, cracking pipes and fittings. Most Madison irrigation companies book up fast in October, so don\\'t wait.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Snow Removal Contract \\u2014 Lock In Last Year\\'s Rate', text: 'Winter is coming, and snow removal rates are going up 20% after October 31. Lock in last year\\'s pricing by signing up before the deadline. Don\\'t get caught scrambling after the first snowfall.', cta_text: 'Lock In Snow Removal Rate \\u2014 Expires Oct 31', cta_url: 'https://tgyardcare.com/services/snow-removal?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-oct' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'Peak fall color is HERE \\u2014 drive out to <strong>Devil\\'s Lake State Park</strong> for some of the best foliage in the state. The pumpkin patches are in full swing (Eugster\\'s Farm Market and Treinen Farm are local favorites), and Halloween events are everywhere.' },\n    review: { text: 'Had TotalGuard do a gutter cleaning and they were fantastic. Showed up on time, did a thorough job, and cleaned up after themselves.', name: 'Warren Williams' },\n    textBody: 'Hi {{first_name}},\\n\\nFall crunch time \\u2014 do these before the first freeze:\\n\\n1. Lower final mow height to 2-2.5 inches gradually.\\n2. Remove leaves \\u2014 don\\'t let them sit for more than a week.\\n3. Winterize your irrigation before the first hard freeze.\\n\\nSnow Removal Contract \\u2014 Lock in last year\\'s rate before Oct 31!\\n\\n\"Showed up on time, thorough job, cleaned up after themselves.\" \\u2014 Warren Williams\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  11: {\n    emailType: 'newsletter_nov',\n    subject_a: 'Winterize everything \\u2014 the final yard checklist',\n    subject_b: '{{first_name}}, 3 things to do before the snow flies',\n    preview_text: 'Final leaf cleanup, gutter guard benefits, and protecting your hardscaping from freeze-thaw.',\n    headline: 'The Yard Report: Winterize Everything',\n    intro_text: 'November in Madison means the yard season is winding down, {{first_name}}, but there\\'s still important work to do. The difference between a smooth spring startup and an expensive spring repair job often comes down to what you do (or don\\'t do) right now.',\n    content_html: '<h3>1. Final Leaf Cleanup \\u2014 Don\\'t Skip This</h3><p>If there are still leaves on your lawn, <strong>get them off before the first lasting snow.</strong> Leaves trapped under snow for months create a soggy, matted layer that kills grass, breeds fungal disease, and gives insects a cozy winter home. Our crews are still running leaf removal through mid-November.</p><h3>2. The Case for Gutter Guards</h3><p><strong>Gutter guards are a one-time installation that keeps debris out while letting water flow through.</strong> If you\\'re paying for gutter cleaning twice a year, gutter guards pay for themselves in 3-4 years. We install micro-mesh guards that handle everything from pine needles to shingle grit.</p><h3>3. Protecting Your Hardscaping</h3><p><strong>November is the time to seal and protect</strong> patios, retaining walls, and stone/paver work. Freeze-thaw cycles are brutal on hardscaping. <strong>Avoid using rock salt on pavers</strong> \\u2014 use calcium chloride or sand instead.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'Gutter Guard Installation \\u2014 Never Clean Gutters Again', text: 'Tired of seasonal gutter cleaning? Our micro-mesh gutter guards keep debris out permanently while letting water flow freely. One installation, years of protection. Schedule a free estimate before the snow makes it impossible.', cta_text: 'Get a Free Gutter Guard Estimate', cta_url: 'https://tgyardcare.com/services/gutter-guards?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-nov' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'Thanksgiving is around the corner \\u2014 if you\\'re hosting, make sure your walkways and entry are clean and safe. After turkey day, the holiday season kicks off with the <strong>Madison Holiday Market</strong> on the Capitol Square.' },\n    review: { text: 'TotalGuard installed gutter guards on our entire home. The installation was clean, fast, and professional. Haven\\'t thought about gutters since \\u2014 which is exactly the point.', name: 'Carla Romano' },\n    textBody: 'Hi {{first_name}},\\n\\nWinterize everything \\u2014 final checklist:\\n\\n1. Final leaf cleanup \\u2014 get leaves off before lasting snow.\\n2. Consider gutter guards \\u2014 one-time install, never clean gutters again.\\n3. Seal and protect hardscaping before freeze-thaw cycles.\\n\\nGutter Guard Installation \\u2014 Free Estimate!\\n\\n\"Haven\\'t thought about gutters since \\u2014 which is exactly the point.\" \\u2014 Carla Romano\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  },\n  12: {\n    emailType: 'newsletter_dec',\n    subject_a: 'Season in review + a gift idea for the homeowner who has everything',\n    subject_b: '{{first_name}}, your 2026 yard recap + a holiday surprise',\n    preview_text: 'Winter protection tips, snow mold prevention, and TotalGuard gift certificates are here.',\n    headline: 'The Yard Report: Season in Review',\n    intro_text: 'What a year it\\'s been, {{first_name}}. From the spring thaw to the first snow, your yard went through a lot \\u2014 and so did we. December is for resting, reflecting, and setting up next year to be even better. Here\\'s your winter wrap-up.',\n    content_html: '<h3>1. Winter Yard Protection</h3><p><strong>Avoid piling heavy snow from shoveling onto the same spot every time</strong> \\u2014 concentrated snow piles take longer to melt and can smother grass underneath. If you have young trees, wrap the trunks with tree guards to prevent rabbit and vole damage.</p><h3>2. Snow Mold Prevention</h3><p><strong>If you followed our advice \\u2014 final mow at 2-2.5 inches, leaves removed, no excessive fall fertilizer \\u2014 you\\'re in great shape.</strong> If you spot circular patches of matted grass when the snow melts in spring, that\\'s snow mold. Most cases recover on their own with gentle raking and time.</p><h3>3. Plan Next Year</h3><p>December is the perfect time to think about what you want for your yard next year. We start booking spring services in January, and early bookers always get the best rates and preferred scheduling.</p>',\n    spotlight: { show: false },\n    offer: { show: true, headline: 'TotalGuard Gift Certificates \\u2014 Give the Gift of a Perfect Yard', text: 'Our gift certificates are available in any amount and can be applied to any service we offer. It\\'s the perfect holiday gift for the homeowner who has everything \\u2014 except free weekends. Available now through the end of the year.', cta_text: 'Buy a Gift Certificate', cta_url: 'https://tgyardcare.com/gift?utm_source=email&utm_medium=newsletter&utm_campaign=yard-report-dec' },\n    local: { show: true, headline: 'Around Madison This Month', text: 'Happy holidays from the TotalGuard family! Check out the <strong>State Street holiday lights</strong> and the Capitol Christmas tree. The <strong>Madison Children\\'s Museum Holiday Open House</strong> is great for families, and the Overture Center has shows running through New Year\\'s.' },\n    review: { text: 'Consistently great job every time! TotalGuard is reliable, fairly priced, and always does quality work. We\\'ve been with them all year and couldn\\'t be happier.', name: 'Tim Davis' },\n    textBody: 'Hi {{first_name}},\\n\\nSeason in review \\u2014 your winter wrap-up:\\n\\n1. Avoid piling snow on the same spot. Wrap young tree trunks.\\n2. Snow mold prevention \\u2014 if you followed our fall advice, you\\'re set.\\n3. Plan next year \\u2014 we start booking spring services in January.\\n\\nTotalGuard Gift Certificates \\u2014 the perfect holiday gift!\\n\\n\"Consistently great job every time! Reliable, fairly priced, quality work.\" \\u2014 Tim Davis\\n\\nBook at tgyardcare.com or call (608) 535-6057'\n  }\n};\n\n// Select this month's newsletter\nconst nl = newsletters[month];\nif (!nl) return [{ json: { _skip: true, reason: 'No newsletter defined for month ' + month } }];\n\n// A/B test: use subject_a by default (can be extended later)\nconst subjectTemplate = nl.subject_a;\n\n// Build dedup set from sent history\nconst sentItems = $('Fetch Sent History').all().map(i => i.json);\nconst sentSet = new Set(sentItems.map(s => s.contact_email + '|' + s.email_type));\n\nconst results = [];\nfor (const item of $input.all()) {\n  const c = item.json;\n  if (!c.email) continue;\n  const dedupKey = c.email + '|' + nl.emailType;\n  if (sentSet.has(dedupKey)) {\n    results.push({ json: { ...c, _skip: true, emailType: nl.emailType } });\n    continue;\n  }\n\n  const firstName = c.first_name || 'there';\n  const city = c.city || 'Madison';\n\n  // Personalize subject, preview, intro\n  const subject = subjectTemplate.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city);\n  const previewText = nl.preview_text.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city);\n  const introText = nl.intro_text.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city);\n  const textBody = nl.textBody.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city);\n\n  // Build inner HTML sections\n  let innerHtml = '';\n\n  // 1. Newsletter badge\n  innerHtml += newsletterBadge(monthName, year.toString());\n\n  // 2. Headline + intro\n  innerHtml += newsletterIntro(nl.headline, introText);\n\n  // 3. Content section (seasonal tips)\n  innerHtml += contentSection(nl.content_html.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city));\n\n  // 4. Spotlight section (if applicable)\n  if (nl.spotlight && nl.spotlight.show) {\n    innerHtml += spotlightSection(nl.spotlight.name, nl.spotlight.city || city, nl.spotlight.story);\n  }\n\n  // 5. Offer section\n  if (nl.offer && nl.offer.show) {\n    const offerText = nl.offer.text.replace(/\\{\\{first_name\\}\\}/g, firstName).replace(/\\{\\{city\\}\\}/g, city);\n    innerHtml += offerBox(nl.offer.headline, offerText, nl.offer.cta_text, nl.offer.cta_url);\n  }\n\n  // 6. Local events section\n  if (nl.local && nl.local.show) {\n    innerHtml += localEventsSection(nl.local.headline, nl.local.text);\n  }\n\n  // 7. Review block\n  innerHtml += reviewBlock(nl.review.text, nl.review.name);\n\n  // 8. Quick links bar (Book, Refer, Review, Call)\n  innerHtml += quickLinksBar();\n\n  const htmlBody = buildHtml({ previewText: previewText, innerHtml: innerHtml });\n\n  results.push({\n    json: {\n      email: c.email,\n      first_name: firstName,\n      subject: subject,\n      body: textBody,\n      htmlBody: htmlBody,\n      emailType: nl.emailType,\n      _skip: false\n    }\n  });\n}\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "id": "build-email",
      "name": "Build Newsletter Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notEquals" } }],
          "combinator": "and"
        }
      },
      "id": "filter-skip",
      "name": "Filter Skipped",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api-key", "value": "={{$vars.TG_BREVO_API_KEY}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" }, \"to\": [{ \"email\": \"{{ $json.email }}\", \"name\": \"{{ $json.first_name }}\" }], \"subject\": \"{{ $json.subject }}\", \"htmlContent\": \"{{ $json.htmlBody }}\", \"textContent\": \"{{ $json.body }}\" }"
      },
      "id": "send-newsletter",
      "name": "Send Newsletter Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=={{$vars.TG_SUPABASE_URL}}/rest/v1/email_sends",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{$vars.TG_SUPABASE_ANON_KEY}}" }, { "name": "Authorization", "value": "=Bearer {{$vars.TG_SUPABASE_SERVICE_KEY}}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"contact_email\": \"{{ $json.email }}\", \"workflow_name\": \"newsletter_yard_report\", \"email_type\": \"{{ $json.emailType }}\" }"
      },
      "id": "log-send",
      "name": "Log to email_sends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Monthly 1st Tuesday 9am CT": { "main": [[{ "node": "Fetch All Customers", "type": "main", "index": 0 }, { "node": "Fetch Sent History", "type": "main", "index": 0 }]] },
    "Fetch All Customers": { "main": [[{ "node": "Build Newsletter Email", "type": "main", "index": 0 }]] },
    "Fetch Sent History": { "main": [[{ "node": "Build Newsletter Email", "type": "main", "index": 1 }]] },
    "Build Newsletter Email": { "main": [[{ "node": "Filter Skipped", "type": "main", "index": 0 }]] },
    "Filter Skipped": { "main": [[{ "node": "Send Newsletter Email", "type": "main", "index": 0 }]] },
    "Send Newsletter Email": { "main": [[{ "node": "Log to email_sends", "type": "main", "index": 0 }]] }
  },
  "settings": { "availableInMCP": true }
}