automation/n8n-workflows/TG-83-quote-followup-sequence.json
{
  "id": "9m2sID72Fz1PF0HY",
  "name": "TG-83-quote-followup-sequence",
  "nodes": [
    {
      "parameters": {},
      "id": "tg83-trigger",
      "name": "When Called by TG-05",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn { json: { customer_name: data.customer_name || '', customer_email: data.customer_email || '', customer_phone: data.customer_phone || '', service: data.service || '', amount: data.amount || null, jobber_id: data.jobber_id || '', event_id: data.event_id || null } };"
      },
      "id": "tg83-extract",
      "name": "Extract Quote Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?customer_phone=eq.{{ $json.customer_phone }}&followup_status=is.null",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"followup_status\": \"enrolled\", \"followup_enrolled_at\": \"{{ $now.toISO() }}\"}"
      },
      "id": "tg83-enroll",
      "name": "Enroll in Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 48,
        "unit": "hours"
      },
      "id": "tg83-wait-48h",
      "name": "Wait 48 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?customer_phone=eq.{{ $('Extract Quote Data').item.json.customer_phone }}&select=id,followup_status&order=created_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        }
      },
      "id": "tg83-check1",
      "name": "Check Status Day 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst estimates = Array.isArray(result) ? result : [result];\nconst status = estimates[0] ? estimates[0].followup_status : 'unknown';\nconst estimateId = estimates[0] ? estimates[0].id : null;\nconst shouldContinue = status === 'enrolled';\nreturn { json: { should_continue: shouldContinue, followup_status: status, estimate_id: estimateId } };"
      },
      "id": "tg83-eval1",
      "name": "Still Pending Day 2?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "continue-check",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg83-if1",
      "name": "Continue Sequence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/rpc/can_send_sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_phone\": \"{{ $('Extract Quote Data').item.json.customer_phone }}\"}"
      },
      "id": "tg83-consent1",
      "name": "Check Consent Touch 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg83-if-consent1",
      "name": "Has Consent T1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-email-t1",
              "leftValue": "={{ $('Extract Quote Data').item.json.customer_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg83-if-email-t1",
      "name": "Has Email T1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"TotalGuard Yard Care <hello@tgyardcare.com>\",\n  \"to\": [\"{{ $('Extract Quote Data').item.json.customer_email }}\"],\n  \"subject\": \"Following up on your TotalGuard estimate\",\n  \"html\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#16a34a;'>TotalGuard Yard Care</h2><p>Hi {{ $('Extract Quote Data').item.json.customer_name || 'there' }},</p><p>Just checking in on the {{ $('Extract Quote Data').item.json.service || '' }} estimate we sent over. Any questions? We're happy to walk through it.</p><p>Reply to this email or call us at <strong>608-535-6057</strong> and we'll get you taken care of.</p><p>Best,<br>The TotalGuard Team</p><p style='color:#888;font-size:12px;'>TotalGuard Yard Care LLC | Madison, WI</p></div>\"\n}"
      },
      "id": "tg83-email-fallback-t1",
      "name": "Send Email Fallback T1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/sms_sends",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to_phone\": \"{{ $('Extract Quote Data').item.json.customer_phone }}\",\n  \"workflow_name\": \"TG-83-quote-followup-t1\",\n  \"message_body\": \"{{ $('Apply AB Day2 SMS').item.json.message_body }}\",\n  \"ab_test_id\": \"{{ $('Apply AB Day2 SMS').item.json.ab_test_id }}\",\n  \"ab_variant_id\": \"{{ $('Apply AB Day2 SMS').item.json.ab_variant_id }}\",\n  \"status\": \"pending\"\n}"
      },
      "id": "tg83-log-t1",
      "name": "Log Touch 1 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "from": "+16089953554",
        "to": "={{ $('Extract Quote Data').item.json.customer_phone }}",
        "message": "={{ $('Apply AB Day2 SMS').item.json.message_body }}"
      },
      "id": "tg83-sms-t1",
      "name": "Send Touch 1 SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2200,
        -200
      ],
      "credentials": {
        "twilioApi": {
          "id": "Qd6M2hA9hDWRKGPR",
          "name": "TG - Twilio"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?id=eq.{{ $('Still Pending Day 2?').item.json.estimate_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"followup_status\": \"day2_sent\", \"followup_sms_day2_sent_at\": \"{{ $now.toISO() }}\"}"
      },
      "id": "tg83-update-t1",
      "name": "Mark Day 2 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        -100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "days"
      },
      "id": "tg83-wait-5d",
      "name": "Wait 5 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2640,
        -100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?customer_phone=eq.{{ $('Extract Quote Data').item.json.customer_phone }}&select=id,followup_status&order=created_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        }
      },
      "id": "tg83-check2",
      "name": "Check Status Day 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst estimates = Array.isArray(result) ? result : [result];\nconst status = estimates[0] ? estimates[0].followup_status : 'unknown';\nconst estimateId = estimates[0] ? estimates[0].id : null;\nconst shouldContinue = status === 'day2_sent';\nreturn { json: { should_continue: shouldContinue, followup_status: status, estimate_id: estimateId } };"
      },
      "id": "tg83-eval2",
      "name": "Still Pending Day 7?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg83-if2",
      "name": "Continue to Touch 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3300,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"TotalGuard Yard Care <hello@tgyardcare.com>\",\n  \"to\": [\"{{ $('Extract Quote Data').item.json.customer_email }}\"],\n  \"subject\": \"What our customers are saying about TotalGuard\",\n  \"html\": \"{{ $('Apply AB Day7 Email').item.json.html_body }}\"\n}"
      },
      "id": "tg83-email-t2",
      "name": "Send Touch 2 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        -200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?id=eq.{{ $('Still Pending Day 7?').item.json.estimate_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"followup_status\": \"day7_sent\", \"followup_email_day7_sent_at\": \"{{ $now.toISO() }}\"}"
      },
      "id": "tg83-update-t2",
      "name": "Mark Day 7 Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        -200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "id": "tg83-wait-7d",
      "name": "Wait 7 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3960,
        -200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?customer_phone=eq.{{ $('Extract Quote Data').item.json.customer_phone }}&select=id,followup_status&order=created_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        }
      },
      "id": "tg83-check3",
      "name": "Check Status Day 14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4180,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst estimates = Array.isArray(result) ? result : [result];\nconst status = estimates[0] ? estimates[0].followup_status : 'unknown';\nconst estimateId = estimates[0] ? estimates[0].id : null;\nconst shouldContinue = status === 'day7_sent';\nreturn { json: { should_continue: shouldContinue, followup_status: status, estimate_id: estimateId } };"
      },
      "id": "tg83-eval3",
      "name": "Still Pending Day 14?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg83-if3",
      "name": "Continue to Touch 3?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4620,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/rpc/can_send_sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_phone\": \"{{ $('Extract Quote Data').item.json.customer_phone }}\"}"
      },
      "id": "tg83-consent3",
      "name": "Check Consent Touch 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4840,
        -300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3c",
              "leftValue": "={{ $json }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg83-if-consent3",
      "name": "Has Consent T3?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5060,
        -300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-email-t3",
              "leftValue": "={{ $('Extract Quote Data').item.json.customer_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg83-if-email-t3",
      "name": "Has Email T3?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5280,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"TotalGuard Yard Care <hello@tgyardcare.com>\",\n  \"to\": [\"{{ $('Extract Quote Data').item.json.customer_email }}\"],\n  \"subject\": \"Last chance — your TotalGuard estimate is expiring\",\n  \"html\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#16a34a;'>TotalGuard Yard Care</h2><p>Hi {{ $('Extract Quote Data').item.json.customer_name || 'there' }},</p><p>This is our last follow-up on your {{ $('Extract Quote Data').item.json.service || '' }} estimate. We'd love to help with your project -- this estimate is expiring soon.</p><p>To confirm or ask questions, simply reply to this email or call us at <strong>608-535-6057</strong>.</p><p>We hope to hear from you!</p><p>The TotalGuard Team</p><p style='color:#888;font-size:12px;'>TotalGuard Yard Care LLC | Madison, WI</p></div>\"\n}"
      },
      "id": "tg83-email-fallback-t3",
      "name": "Send Email Fallback T3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5500,
        -200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/sms_sends",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to_phone\": \"{{ $('Extract Quote Data').item.json.customer_phone }}\",\n  \"workflow_name\": \"TG-83-quote-followup-t3\",\n  \"message_body\": \"Hi {{ $('Extract Quote Data').item.json.customer_name || 'there' }}, last follow-up on your TotalGuard estimate. We'd love to help with your {{ $('Extract Quote Data').item.json.service || 'project' }}. This estimate expires soon -- reply YES to confirm or call 608-535-6057. - TotalGuard\",\n  \"status\": \"pending\"\n}"
      },
      "id": "tg83-log-t3",
      "name": "Log Touch 3 SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        -400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "from": "+16089953554",
        "to": "={{ $('Extract Quote Data').item.json.customer_phone }}",
        "message": "=Hi {{ $('Extract Quote Data').item.json.customer_name || 'there' }}, last follow-up on your TotalGuard estimate. We'd love to help with your {{ $('Extract Quote Data').item.json.service || 'project' }}. This estimate expires soon -- reply YES to confirm or call 608-535-6057. - TotalGuard"
      },
      "id": "tg83-sms-t3",
      "name": "Send Touch 3 SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        5500,
        -400
      ],
      "credentials": {
        "twilioApi": {
          "id": "Qd6M2hA9hDWRKGPR",
          "name": "TG - Twilio"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?id=eq.{{ $('Still Pending Day 14?').item.json.estimate_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{SUPABASE_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Authorization",
              "value": "{{SUPABASE_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"followup_status\": \"expired\", \"followup_expired_at\": \"{{ $now.toISO() }}\"}"
      },
      "id": "tg83-mark-expired",
      "name": "Mark Expired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5720,
        -300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'sequence_complete', reason: 'customer_responded_during_sequence' } }];"
      },
      "id": "tg83-exit-early",
      "name": "Exit - Customer Responded",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'no_consent_no_email_exit', reason: 'customer_has_no_sms_consent_and_no_email' } }];"
      },
      "id": "tg83-no-consent-exit",
      "name": "Exit - No Consent No Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'no_consent_no_email_exit_t3', reason: 'customer_has_no_sms_consent_and_no_email_t3' } }];"
      },
      "id": "tg83-no-consent-exit-t3",
      "name": "Exit - No Consent No Email T3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5500,
        0
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "6qhihK1RPUzwk2pd",
        "inputData": "={\"test_id\": \"tg83-day2-sms\", \"channel\": \"sms\"}"
      },
      "id": "tg83-ab-call-t1",
      "name": "AB Test Day2 SMS",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1860,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ab = $input.first().json;\nconst defaultMsg = $('Extract Quote Data').first().json.customer_name ? ('Hi ' + $('Extract Quote Data').first().json.customer_name + '! Just checking in on the ' + ($('Extract Quote Data').first().json.service || '') + ' estimate we sent over. Any questions? We\\'re happy to walk through it. Reply here or call 608-535-6057. - TotalGuard') : 'Hi there! Just checking in on the estimate we sent over. Any questions? We\\'re happy to walk through it. Reply here or call 608-535-6057. - TotalGuard';\nconst finalMsg = (ab.is_default === true || ab.is_default === 'true' || !ab.variant_content) ? defaultMsg : ab.variant_content;\nreturn [{ json: { message_body: finalMsg, ab_test_id: ab.ab_test_id || null, ab_variant_id: ab.ab_variant_id || null } }];"
      },
      "id": "tg83-ab-apply-t1",
      "name": "Apply AB Day2 SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        -200
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "6qhihK1RPUzwk2pd",
        "inputData": "={\"test_id\": \"tg83-day7-email\", \"channel\": \"email\"}"
      },
      "id": "tg83-ab-call-t2",
      "name": "AB Test Day7 Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3400,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ab = $input.first().json;\nconst defaultHtml = \"<div style=\\'font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\\'><h2 style=\\'color:#16a34a;\\'>TotalGuard Yard Care</h2><p>Hi \" + ($('Extract Quote Data').first().json.customer_name || 'there') + \",</p><p>We wanted to follow up on your \" + ($('Extract Quote Data').first().json.service || '') + \" estimate. Here\\'s what some of our customers have to say:</p><div style=\\'background:#f0fdf4;border-left:4px solid #16a34a;padding:16px;margin:16px 0;border-radius:4px;\\'><p style=\\'font-style:italic;margin:0;\\'>&quot;TotalGuard transformed our yard. Professional, on time, and the results speak for themselves.&quot;</p><p style=\\'margin:8px 0 0;font-weight:bold;\\'>- Satisfied Customer, Madison WI</p></div><p>We\\'d love to earn your business. Your estimate is still valid -- just reply to this email or call us at 608-535-6057 to get started.</p><p>Best regards,<br>The TotalGuard Team</p><p style=\\'color:#888;font-size:12px;\\'>TotalGuard Yard Care LLC | Madison, WI</p></div>\";\nconst finalHtml = (ab.is_default === true || ab.is_default === 'true' || !ab.variant_content) ? defaultHtml : ab.variant_content;\nreturn [{ json: { html_body: finalHtml, ab_test_id: ab.ab_test_id || null, ab_variant_id: ab.ab_variant_id || null } }];"
      },
      "id": "tg83-ab-apply-t2",
      "name": "Apply AB Day7 Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        -200
      ]
    }
  ],
  "connections": {
    "When Called by TG-05": {
      "main": [
        [
          {
            "node": "Extract Quote Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Quote Data": {
      "main": [
        [
          {
            "node": "Enroll in Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll in Follow-up": {
      "main": [
        [
          {
            "node": "Wait 48 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 48 Hours": {
      "main": [
        [
          {
            "node": "Check Status Day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Day 2": {
      "main": [
        [
          {
            "node": "Still Pending Day 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Pending Day 2?": {
      "main": [
        [
          {
            "node": "Continue Sequence?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Sequence?": {
      "main": [
        [
          {
            "node": "Check Consent Touch 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit - Customer Responded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Consent Touch 1": {
      "main": [
        [
          {
            "node": "Has Consent T1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Consent T1?": {
      "main": [
        [
          {
            "node": "AB Test Day2 SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Email T1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email T1?": {
      "main": [
        [
          {
            "node": "Send Email Fallback T1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit - No Consent No Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Fallback T1": {
      "main": [
        [
          {
            "node": "Mark Day 2 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Touch 1 SMS": {
      "main": [
        [
          {
            "node": "Send Touch 1 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Touch 1 SMS": {
      "main": [
        [
          {
            "node": "Mark Day 2 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Day 2 Sent": {
      "main": [
        [
          {
            "node": "Wait 5 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Days": {
      "main": [
        [
          {
            "node": "Check Status Day 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Day 7": {
      "main": [
        [
          {
            "node": "Still Pending Day 7?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Pending Day 7?": {
      "main": [
        [
          {
            "node": "Continue to Touch 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue to Touch 2?": {
      "main": [
        [
          {
            "node": "AB Test Day7 Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit - Customer Responded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Touch 2 Email": {
      "main": [
        [
          {
            "node": "Mark Day 7 Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Day 7 Sent": {
      "main": [
        [
          {
            "node": "Wait 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7 Days": {
      "main": [
        [
          {
            "node": "Check Status Day 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Day 14": {
      "main": [
        [
          {
            "node": "Still Pending Day 14?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Pending Day 14?": {
      "main": [
        [
          {
            "node": "Continue to Touch 3?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue to Touch 3?": {
      "main": [
        [
          {
            "node": "Check Consent Touch 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit - Customer Responded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Consent Touch 3": {
      "main": [
        [
          {
            "node": "Has Consent T3?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Consent T3?": {
      "main": [
        [
          {
            "node": "Log Touch 3 SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Email T3?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email T3?": {
      "main": [
        [
          {
            "node": "Send Email Fallback T3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit - No Consent No Email T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Fallback T3": {
      "main": [
        [
          {
            "node": "Mark Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Touch 3 SMS": {
      "main": [
        [
          {
            "node": "Send Touch 3 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Touch 3 SMS": {
      "main": [
        [
          {
            "node": "Mark Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AB Test Day2 SMS": {
      "main": [
        [
          {
            "node": "Apply AB Day2 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply AB Day2 SMS": {
      "main": [
        [
          {
            "node": "Log Touch 1 SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AB Test Day7 Email": {
      "main": [
        [
          {
            "node": "Apply AB Day7 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply AB Day7 Email": {
      "main": [
        [
          {
            "node": "Send Touch 2 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false
  }
}