automation/n8n-workflows/TG-91-abandoned-quote-sms.json
{
  "name": "TG-91-abandoned-quote-sms",
  "nodes": [
    { "parameters": { "rule": { "interval": [ { "triggerAtHour": 15, "triggerAtMinute": 0 } ] } }, "id": "tg91-trigger", "name": "Daily 10 AM CT", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 0] },
    { "parameters": { "method": "GET", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?followup_status=is.null&created_at=lt.{{ $now.minus(48, 'hours').toISO() }}&created_at=gt.{{ $now.minus(14, 'days').toISO() }}&select=id,customer_name,customer_phone,customer_email,service,amount", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" } ] } }, "id": "tg91-query", "name": "Find Abandoned Quotes", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 0] },
    { "parameters": { "jsCode": "const results = $input.first().json;\nif (!Array.isArray(results) || results.length === 0) {\n  return [{ json: { has_results: false, count: 0 } }];\n}\nreturn results.map(r => ({ json: { ...r, has_results: true } }));" }, "id": "tg91-split", "name": "Split Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 0] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "has-results", "leftValue": "={{ $json.has_results }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg91-if-any", "name": "Any Abandoned?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [660, 0] },
    { "parameters": { "method": "POST", "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/rpc/can_send_sms", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"p_phone\": \"{{ $json.customer_phone }}\"}" }, "id": "tg91-consent", "name": "Check SMS Consent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, -100] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" }, "conditions": [ { "id": "cc", "leftValue": "={{ $json }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } } ], "combinator": "and" } }, "id": "tg91-if-consent", "name": "Has Consent?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1100, -100] },
    { "parameters": { "method": "POST", "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/sms_sends", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"phone\": \"{{ $('Split Results').item.json.customer_phone }}\",\n  \"workflow_name\": \"TG-91-abandoned-quote\",\n  \"message_body\": \"Hi {{ $('Split Results').item.json.customer_name || 'there' }}! We noticed you haven't had a chance to review your TotalGuard {{ $('Split Results').item.json.service || '' }} estimate. Still interested? Reply YES or call 608-535-6057. - TotalGuard\",\n  \"status\": \"pending\"\n}" }, "id": "tg91-log", "name": "Log SMS Send", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1320, -200], "continueOnFail": true },
    { "parameters": { "from": "+16089953554", "to": "={{ $('Split Results').item.json.customer_phone }}", "message": "=Hi {{ $('Split Results').item.json.customer_name || 'there' }}! We noticed you haven't had a chance to review your TotalGuard {{ $('Split Results').item.json.service || '' }} estimate. Still interested? Reply YES or call 608-535-6057. - TotalGuard" }, "id": "tg91-sms", "name": "Send Nudge SMS", "type": "n8n-nodes-base.twilio", "typeVersion": 1, "position": [1540, -200], "credentials": { "twilioApi": { "id": "PLACEHOLDER_TWILIO_ID", "name": "Twilio (not yet configured)" } }, "continueOnFail": true },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [ { "id": "has-email-tg91", "leftValue": "={{ $('Split Results').item.json.customer_email }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } } ],
          "combinator": "and"
        }
      },
      "id": "tg91-if-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "api-key", "value": "BREVO_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"totalguardllc@gmail.com\" },\n  \"to\": [{ \"email\": \"{{ $('Split Results').item.json.customer_email }}\", \"name\": \"{{ $('Split Results').item.json.customer_name || 'Valued Customer' }}\" }],\n  \"subject\": \"Your TotalGuard quote is ready\",\n  \"htmlContent\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#16a34a;'>TotalGuard Yard Care</h2><p>Hi {{ $('Split Results').item.json.customer_name || 'there' }},</p><p>We noticed you haven't had a chance to review your TotalGuard {{ $('Split Results').item.json.service || '' }} estimate. We'd love to earn your business!</p><p>Simply reply to this email or call us at <strong>608-535-6057</strong> and we'll get you scheduled right away.</p><p>Best,<br>The TotalGuard Team</p><p style='color:#888;font-size:12px;'>TotalGuard Yard Care LLC | Madison, WI</p></div>\"\n}"
      },
      "id": "tg91-email-fallback",
      "name": "Send Email Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0],
      "continueOnFail": true
    },
    { "parameters": { "method": "PATCH", "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/estimates?id=eq.{{ $('Split Results').item.json.id }}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "apikey", "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v" }, { "name": "Authorization", "value": "Bearer SUPABASE_SECRET_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"followup_status\": \"abandoned_nudge_sent\"}" }, "id": "tg91-update", "name": "Mark Nudge Sent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1760, -100], "continueOnFail": true },
    { "parameters": { "jsCode": "return [{ json: { status: 'no_consent_no_email_skip', customer_phone: $('Split Results').item.json.customer_phone } }];" }, "id": "tg91-no-consent-exit", "name": "No Consent No Email - Skip", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1760, 100] }
  ],
  "connections": {
    "Daily 10 AM CT": { "main": [[{ "node": "Find Abandoned Quotes", "type": "main", "index": 0 }]] },
    "Find Abandoned Quotes": { "main": [[{ "node": "Split Results", "type": "main", "index": 0 }]] },
    "Split Results": { "main": [[{ "node": "Any Abandoned?", "type": "main", "index": 0 }]] },
    "Any Abandoned?": { "main": [ [{ "node": "Check SMS Consent", "type": "main", "index": 0 }], [] ] },
    "Check SMS Consent": { "main": [[{ "node": "Has Consent?", "type": "main", "index": 0 }]] },
    "Has Consent?": { "main": [ [{ "node": "Log SMS Send", "type": "main", "index": 0 }], [{ "node": "Has Email?", "type": "main", "index": 0 }] ] },
    "Has Email?": { "main": [ [{ "node": "Send Email Nudge", "type": "main", "index": 0 }], [{ "node": "No Consent No Email - Skip", "type": "main", "index": 0 }] ] },
    "Send Email Nudge": { "main": [[{ "node": "Mark Nudge Sent", "type": "main", "index": 0 }]] },
    "Log SMS Send": { "main": [[{ "node": "Send Nudge SMS", "type": "main", "index": 0 }]] },
    "Send Nudge SMS": { "main": [[{ "node": "Mark Nudge Sent", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "id": "0qSgxknCY9LTcKBU"
}
