automation/n8n-workflows/TG-90-fertilizer-schedule-engine.json
{
  "name": "TG-90-fertilizer-schedule-engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "tg90-trigger",
      "name": "Daily 9:30 AM CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/fertilizer_schedule?scheduled_date=eq.{{ $now.plus(7, 'days').toISODate() }}&reminder_sent_at=is.null&select=id,lead_id,customer_name,customer_phone,customer_email,step_number,step_name,scheduled_date",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            }
          ]
        }
      },
      "id": "tg90-query",
      "name": "Find Due Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json;\nif (!Array.isArray(results) || results.length === 0) {\n  return { json: { has_results: false, count: 0 } };\n}\nreturn results.map(r => ({ json: { ...r, has_results: true } }));"
      },
      "id": "tg90-split",
      "name": "Split Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hr",
              "leftValue": "={{ $json.has_results }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg90-if-any",
      "name": "Any Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/rpc/can_send_sms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"p_phone\": \"{{ $json.customer_phone }}\"}"
      },
      "id": "tg90-consent",
      "name": "Check SMS Consent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cc",
              "leftValue": "={{ $json }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "tg90-if-consent",
      "name": "Has Consent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/sms_sends",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Split Results').item.json.customer_phone }}\",\n  \"workflow_name\": \"TG-90-fertilizer-reminder\",\n  \"message_body\": \"Hi {{ $('Split Results').item.json.customer_name }}! Your {{ $('Split Results').item.json.step_name }} treatment is scheduled for {{ $('Split Results').item.json.scheduled_date }}. We'll take care of everything! Questions? Call 608-535-6057. - TotalGuard\",\n  \"status\": \"pending\"\n}"
      },
      "id": "tg90-log",
      "name": "Log SMS Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "from": "+16085953554",
        "to": "={{ $('Split Results').item.json.customer_phone }}",
        "message": "=Hi {{ $('Split Results').item.json.customer_name }}! Your {{ $('Split Results').item.json.step_name }} treatment is scheduled for {{ $('Split Results').item.json.scheduled_date }}. We'll take care of everything! Questions? Call 608-535-6057. - TotalGuard"
      },
      "id": "tg90-sms",
      "name": "Send Reminder SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1540,
        -200
      ],
      "credentials": {
        "twilioApi": {
          "id": "TG_TWILIO",
          "name": "TG - Twilio"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "BREVO_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": { \"name\": \"TotalGuard Yard Care\", \"email\": \"workelyhelp@gmail.com\" },\n  \"to\": [{ \"email\": \"{{ $('Split Results').item.json.customer_email }}\", \"name\": \"{{ $('Split Results').item.json.customer_name }}\" }],\n  \"subject\": \"Your {{ $('Split Results').item.json.step_name }} is coming up!\",\n  \"htmlContent\": \"<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;'><h2 style='color:#16a34a;'>TotalGuard Yard Care</h2><p>Hi {{ $('Split Results').item.json.customer_name }},</p><p>This is a reminder that your <strong>{{ $('Split Results').item.json.step_name }}</strong> (Step {{ $('Split Results').item.json.step_number }} of 5) is scheduled for <strong>{{ $('Split Results').item.json.scheduled_date }}</strong>.</p><p>Our crew will take care of everything -- no action needed on your part. We'll send you an 'on my way' text when we're headed over.</p><p>Questions about your fertilizer program? Call 608-535-6057 or reply to this email.</p><p>The TotalGuard Team</p></div>\"\n}"
      },
      "id": "tg90-email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://lwtmvzhwekgdxkaisfra.supabase.co/rest/v1/fertilizer_schedule?id=eq.{{ $('Split Results').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_DeX21ldoDKl3NyJeFZzR1w_eWBUkx-v"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"reminder_sent_at\": \"{{ $now.toISO() }}\"}"
      },
      "id": "tg90-mark",
      "name": "Mark Reminder Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -100
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 9:30 AM CT": {
      "main": [
        [
          {
            "node": "Find Due Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Due Reminders": {
      "main": [
        [
          {
            "node": "Split Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Results": {
      "main": [
        [
          {
            "node": "Any Due?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Due?": {
      "main": [
        [
          {
            "node": "Check SMS Consent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check SMS Consent": {
      "main": [
        [
          {
            "node": "Has Consent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Consent?": {
      "main": [
        [
          {
            "node": "Log SMS Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log SMS Send": {
      "main": [
        [
          {
            "node": "Send Reminder SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder SMS": {
      "main": [
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}